---
import RootLayout from './root.astro';

// import Appbar from './components/appbar.astro';
---

<RootLayout>
	<div data-is='screen'>
		<slot />

		<style lang='css' is:inline>
			@scope {
				:scope {
					background-color: var(--clr-background__base);
					isolation: isolate;
					min-height: 0;
					z-index: 1;

					& > header {
						background-color: var(--clr-background__raised);
						grid-row: top;
						height: calc(384 * 0.0625rem);
						padding-block: var(--space-xl);
						place-content: end;

						h1 {
							place-content: end;

							& > * {
								vertical-align: bottom;
							}
						}
					}

					& > form {
						align-items: center;
						gap: var(--space-xl);
						grid-auto-rows: max-content;
						padding-block: var(--space-xl);

						& > * {
							width: 100%;
						}

						& > [data-is='row'] {
							flex: 1 1;
							place-content: space-between;
						}

						& > button {
							background-color: var(--clr-accent__base);
							color: var(--clr-onAccent);
							grid-column: expand;
							grid-row: bottom;
							font-size: var(--type-h4);
							font-weight: 500;
							height: calc(75 * 0.0625rem);
							place-content: center;
							text-align: center;
							width: min(100%, calc(384 * 0.0625rem));

							&:hover {
								background-color: var(--clr-accent__raised);
							}

							&:active {
								background-color: var(--clr-accent__lowered);
							}
						}
					}
				}
			}
		</style>
	</div>

	<div data-is='stack'>
		<!-- <figure data-is='background'>
			<img
				src='https://images.unsplash.com/photo-1614854262318-831574f15f1f?q=80&w=1470&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D'
			/>
		</figure> -->

		<style lang='css' is:inline>
			@scope {
				:scope {
					background-color: var(--clr-background__lowered);
					height: 100%;
					isolation: isolate;
					min-height: 0;
					position: relative;
					width: 100%;

					@container app (width < 896px) {
						display: none;
					}
				}
			}
		</style>
	</div>
</RootLayout>
