---
import Layout from 'src/lib/layout.docs.astro';
import Card from 'src/lib/components/docs.card.astro';
---

<Layout className='g-5xl py-5xl'>
	<!--  -->
	<ly-grid tmpl='4' class='g-sm py-5xl'>
		<Card Heading='Link [href]'>
			<a href='#'>
				<ly-icon>globe</ly-icon>link
			</a>
			<a href='#' class='__button'>
				<ly-icon>globe</ly-icon> link
			</a>
			<a href='#' class='__button __outlined'> link </a>
		</Card>
		<Card Heading='Link'>
			<a>
				<ly-icon>globe</ly-icon>link
			</a>
			<a class='__button'>
				<ly-icon>globe</ly-icon> link
			</a>
			<a class='__button __outlined'> link </a>
		</Card>
		<Card Heading='Details > Summary'>
			<details>
				<summary>
					<span>summary</span>
				</summary>
				details content . . .
			</details>
			<details>
				<summary class='__button __outlined'>
					<span>summary</span>
				</summary>
				details content . . .
			</details>
		</Card>
		<Card Heading='Dropdown > Summary'>
			<ly-dropdown>
				<summary slot='summary'>
					<span>Dropdown Summary</span>
				</summary>
				<button>
					<span>Option</span>
				</button>
				<button>
					<span>Option</span>
				</button>
				<button>
					<span>Option</span>
				</button>
				<button>
					<span>Option</span>
				</button>
				<button>
					<span>Option</span>
				</button>
			</ly-dropdown>
			<ly-dropdown>
				<summary slot='summary' class='__button __outlined'>
					<span>Dropdown Summary</span>
					<ly-icon>add</ly-icon>
				</summary>
				<ul>
					<li>sasda</li>
					<li>sasda</li>
					<li>sasda</li>
					<li>sasda</li>
					<li>sasda</li>
					<li>sasda</li>
					<li>sasda</li>
					<li>sasda</li>
					<li>sasda</li>
					<li>sasda</li>
				</ul>
			</ly-dropdown>
		</Card>
		<Card Heading='Button'>
			<button>
				<span>button</span>
			</button>
			<button class='__outlined'>
				<span>button</span>
			</button>
		</Card>
		<Card Heading='Button [disabled]'>
			<button onclick="console.log('i shouldnt be clickable')" disabled>
				<span>button</span>
			</button>
			<button
				onclick="console.log('i shouldnt be clickable')"
				class='__outlined'
				disabled>
				<span>button</span>
			</button>
		</Card>
		<Card Heading='Button [not-allowed]'>
			<button onclick="console.log('i shouldnt be clickable')" not-allowed>
				<span>button</span>
			</button>
			<button
				onclick="console.log('i shouldnt be clickable')"
				class='__outlined'
				not-allowed>
				<span>button</span>
			</button>
		</Card>
		<Card Heading='Button with left icon'>
			<button>
				<ly-icon>add</ly-icon>
				<span>button</span>
			</button>
			<button class='__outlined'>
				<ly-icon>add</ly-icon>
				<span>button</span>
			</button>
		</Card>
		<Card Heading='Button with right icon'>
			<button>
				<span>button</span>
				<ly-icon>add</ly-icon>
			</button>
			<button class='__outlined'>
				<span>button</span>
				<ly-icon>add</ly-icon>
			</button>
		</Card>
		<Card Heading='Button with both icons'>
			<button>
				<ly-icon>add</ly-icon>
				<span>button</span>
				<ly-icon>add</ly-icon>
			</button>
			<button class='__outlined'>
				<ly-icon>add</ly-icon>
				<span>button</span>
				<ly-icon>add</ly-icon>
			</button>
		</Card>
	</ly-grid>
	<!--  -->
</Layout>
