---
import Layout from 'src/lib/layout.docs.astro';
import Card from 'src/lib/components/docs.card.astro';
---

<Layout className='g-5xl py-5xl'>
	<!--  -->
	<ly-grid cols='4' class='g-sm py-5xl'>
		<Card Heading='Date'>
			<ly-field type='date'>
				<input />
			</ly-field>
		</Card>
		<Card Heading='Date / Time'>
			<ly-field type='datetime-local'>
				<input />
			</ly-field>
		</Card>
		<Card Heading='Time'>
			<ly-field type='time' caption='asdada' status='error'>
				<input />
			</ly-field>
		</Card>
		<Card Heading='Text Field [ Single Line ]'>
			<ly-field type='text'>
				<input />
			</ly-field>
		</Card>
		<Card Heading='Text Area [ Multi Line ]'>
			<ly-field>
				<textarea></textarea>
			</ly-field>
		</Card>
		<Card Heading='Email'>
			<ly-field type='email'>
				<input />
			</ly-field>
		</Card>
		<Card Heading='Tel / Phone Number'>
			<ly-field type='tel'>
				<input />
			</ly-field>
		</Card>
		<Card Heading='Number'>
			<ly-field type='number'>
				<input />
			</ly-field>
		</Card>
		<Card Heading='Number [ Currency ]'>
			<ly-field type='currency'>
				<input />
			</ly-field>
		</Card>
		<Card Heading='Number [ Decimal ]'>
			<ly-field type='decimal'>
				<input />
			</ly-field>
		</Card>
		<Card Heading='Toggle [ Checkbox ]'>
			<ly-check variant='checkbox'></ly-check>
		</Card>
		<Card Heading='Toggle [ Radiobox ]'>
			<ly-check variant='radio'></ly-check>
		</Card>
		<Card Heading='Toggle [ Switch ]'>
			<ly-check variant='switch'></ly-check>
		</Card>
		<Card Heading='Text [ URL ]'>
			<ly-field type='url'>
				<input />
			</ly-field>
		</Card>
		<Card Heading='Formula'>
			<ly-field type='formula'>
				<input />
			</ly-field>
		</Card>
		<Card Heading='Range'>
			<ly-field type='range'>
				<input />
			</ly-field>
		</Card>
		<Card Heading='File Upload (method #1)'>
			<script is:inline>
				function setFile(number) {
					const field = document.querySelector(`#file-upload-field-${number}`);
					const btn = document.querySelector(`#file-upload-input-${number}`);

					btn.addEventListener('change', () => {
						setTimeout(() => {
							console.log(btn);
							field.setAttribute('caption', btn.value);
						}, 512);
					});
					btn.click();
				}
			</script>
			<ly-field id='file-upload-field-1' type='file'>
				<input id='file-upload-input-1' />
				<button onclick='setFile(1)'>
					<span>Select File</span>
				</button>
			</ly-field>
		</Card>
	</ly-grid>
	<!--  -->
</Layout>
