---
import Layout from 'src/lib/layout.base.astro';
---

<Layout>
	<header
		class='g-nm place-items-center flex-col text-center m-auto w-100 bg-debug-stripes'>
		<h1>Lily's Documentation Books</h1>
		<ly-row class='g-sm place-all-center'>
			<a href='/docs/elements'> Html native elements </a>
			<pre>/</pre>
			<a href='/docs/ui'> Custom UI components </a>
			<pre>/</pre>
			<a href='/docs/styles'> CSS library & utilities </a>
		</ly-row>
	</header>
</Layout>

<style lang='css'>
	header {
		& > ly-row {
			& > a {
				--clr: var(--clr-text);
				text-align: center;
			}
		}
	}

	header {
		--outWidth: calc(var(--scale-5xs) * 0.25);

		&::before {
			content: '';
			height: 100%;
			inset: 0;
			outline-color: var(--clr-debug);
			outline-offset: calc(var(--outWidth) * -0.5);
			outline-style: dashed;
			outline-width: var(--outWidth);
			position: absolute;
			width: 100%;
		}

		& > * {
			background-color: var(--clr-background);
			place-content: center center;
			place-items: center center;
			text-align: center;
			width: 100%;

			&::before {
				content: '';
				height: 100%;
				inset: 0 50%;
				outline-color: var(--clr-debug);
				outline-offset: calc(var(--outWidth) * -0.5);
				outline-style: dashed;
				outline-width: var(--outWidth);
				position: absolute;
				translate: -50% 0%;
				width: 100dvw;
			}
		}
	}
</style>
