---
import Layout from 'src/lib/layout.uis.astro';
import Elements from 'src/lib/shared/docs/elements'
---

<Layout scheme='dark'>
	<!--  -->
	<h1>Docs</h1>
	<p>Use cases and implementations</p>
	<!--  -->
	{
		Elements.map(({alias, summary, snippets}) => (
			<>
				<h2>{ alias }</h2>
				<blockquote>
					<dl>
						{
							summary.map(({ name, description }) => (
								<dt>{name}</dt>
								<dd>{description}</dd>
							))
						}
					</dl>
				</blockquote>
				<ly-grid tmpl='4' class="g-sm" style="grid-auto-rows: 1fr;">
					{
						snippets.map((snippet) => (
							<article class="grid g-sm outln outln-primary overflow-clip place-center px-sm py-5xl radius-3xs h-100">
								<Fragment set:html={ snippet } />
							</article>
						))
					}
				</ly-grid>
			</>
		))
	}
</Layout>
