---
import Layout from 'src/lib/layout.uis.astro';
import Elements from 'src/lib/shared/docs/elements'
---

<Layout scheme='dark'>
	<!--  -->
	<h1>Docs</h1>
	<p>Use cases and implementations</p>
	<!--  -->
	{
		Elements.map(({alias, summary, snippets}) => (
			<>
				<h2>{ alias }</h2>
				<blockquote>
					<dl>
						{
							summary.map(({ name, description }) => (
								<dt>{name}</dt>
								<dd>{description}</dd>
							))
						}
					</dl>
				</blockquote>
				<ly-grid tmpl='4' class="g-sm" style="grid-auto-rows: 1fr;">
					{
						snippets.map((snippet) => (
							<article class="grid g-sm outln outln-primary overflow-clip place-center px-sm py-5xl radius-3xs h-100">
								<Fragment set:html={ snippet } />
							</article>
						))
					}
				</ly-grid>
			</>
		))
	}
	<!--  -->
	<h2>Text</h2>
	<fieldset>
		<label for='email'>
			<p class="block">label</p>
			<input name='email' type='email' />
		</label>
		<label for='number'>
			<span class="block">label</span>
			<input name='number' type='number' />
		</label>
		<label for='text'>
			<span class="block">label</span>
			<input name='text' type='text' />
		</label>
		<label for='tel'>
			<span class="block">label</span>
			<input name='tel' type='tel' />
		</label>
		<label for='textarea'>
			<span class="block">label</span>
			<textarea name='textarea'></textarea>
		</label>
	</fieldset>
	<!--  -->
	<h2>Range</h2>
	<fieldset>
		<label for='range'>
			<input name='range' type='range' />
		</label>
	</fieldset>
	<!--  -->
	<h2>Date / Time</h2>
	<fieldset>
		<label for='date'>
			<input name='date' type='date' />
		</label>
		<label for='datetime-local'>
			<input name='datetime-local' type='datetime-local' />
		</label>
		<label for='time'>
			<input name='time' type='time' />
		</label>
	</fieldset>
	<!--  -->
</Layout>

<style lang='css'>
	:global(ly-app) {
		& > *:first-child {
			margin-top: 0;
		}
	}
</style>
