---
import Layout from 'src/lib/layout.base.astro';

const iconNames = [
	'stadia_controller',
	'g_translate',
	'shopping_bag',
	'arrow_circle_up',
	'ios_share',
	'bolt',
	'folder_open',
	'width_full',
	'side_navigation',
	'stacks',
	'autorenew',
	'article',
	'clock_loader_40',
	'asterisk',
	'assistant_navigation',
	'attachment',
	'check_box',
	'bottom_panel_open',
	'home_work',
	'travel',
	'explore',
	'globe',
	'ev_shadow',
	'early_on',
	'search',
	'settings',
	'notifications',
	'add_circle',
	'deskphone',
	'ambient_screen',
	'account_box',
	'add_box',
	'alarm',
	'book',
	'brush',
	'build',
	'call',
	'camera',
	'chat',
	'check',
	'close',
	'code',
	'delete',
	'edit',
	'email',
	'favorite',
	'feedback',
	'filter_list',
	'flag',
	'folder',
	'fullscreen',
	'help',
	'history',
	'home',
	'info',
	'keyboard',
	'lock',
	'more_vert',
	'menu',
	'mic',
	'movie',
	'music_note',
	'navigation',
	'open_in_new',
	'pause',
	'play_arrow',
	'print',
	'refresh',
	'save',
	'school',
	'security',
	'settings_voice',
	'share',
	'shopping_cart',
	'sort',
	'star',
	'stop',
	'subject',
	'sync',
	'text_fields',
	'thumb_up',
	'undo',
	'verified',
	'videocam',
	'visibility',
	'warning',
	'watch',
	'work',
];
---

<Layout>
	<main class='grid cols-4'>
		<section>
			<h6>Icon</h6>
			<ly-grid>
				{
					iconNames
						.sort(() => Math.random() - 0.5)
						.slice(0, iconNames.length / iconNames.length)
						.map((icon) => <ly-icon>{icon}</ly-icon>)
				}
			</ly-grid>
		</section>

		<section>
			<h6>Radio</h6>
			<ly-grid>
				<ly-radio group='radio-group'> </ly-radio>
			</ly-grid>
		</section>

		<section>
			<h6>Field</h6>
			<ly-grid>
				<ly-field
					label='First Name'
					name='firstname'
					if-error="field value it's badly formatted">
					<input name='firstname' type='text' />
				</ly-field>
			</ly-grid>
		</section>

		<section>
			<h6>Col</h6>
			<ly-grid>
				<span>Im inside a col</span>
			</ly-grid>
		</section>

		<section>
			<h6>Grid</h6>
			<ly-grid>
				<span>Im inside a grid</span>
			</ly-grid>
		</section>

		<section>
			<h6>Row</h6>
			<ly-grid class='inspect'>
				<span>Im inside a row</span>
			</ly-grid>
		</section>

		<section>
			<h6>List</h6>
			<ly-grid>
				<ly-list>
					<ly-list-header>
						<ly-list-cell>cell</ly-list-cell>
						<ly-list-cell>cell</ly-list-cell>
						<ly-list-cell>cell</ly-list-cell>
					</ly-list-header>
					<ly-list-row>
						<ly-list-cell>cell</ly-list-cell>
						<ly-list-cell>cell</ly-list-cell>
						<ly-list-cell>cell</ly-list-cell>
					</ly-list-row>
					<ly-list-footer>
						<ly-list-cell>cell</ly-list-cell>
						<ly-list-cell>cell</ly-list-cell>
						<ly-list-cell>cell</ly-list-cell>
					</ly-list-footer>
				</ly-list>
			</ly-grid>
		</section>
	</main>
</Layout>

<style lang='css'>
	main {
		--gap: var(--scale-sm);
		grid-auto-rows: 1fr;
		padding: var(--scale-sm);

		& > section {
			background-color: var(--clr-background);
			border-radius: var(--radius-3xs);
			padding: var(--scale-3xl);

			& > ly-grid {
				flex-grow: 1;
				place-items: center center;
			}
		}
	}

	.inspect {
		background-image: linear-gradient(
			135deg,
			var(--clr-context) 10%,
			var(--clr-background) 0,
			var(--clr-background) 50%,
			var(--clr-context) 0,
			var(--clr-context) 50%,
			var(--clr-background) 0,
			var(--clr-background)
		);
		background-size: var(--scale-5xs) var(--scale-5xs);
	}
</style>
