---
import ShowcaseLayout from '@layouts/showcase.astro';
---

<ShowcaseLayout>
	<h2>Get Started</h2>
	<ly-dropdown>
		<summary data-props='--button --outline' slot='summary'>summary</summary>
		<button>
			<span>action</span>
		</button>
		<button>
			<span>action</span>
		</button>
		<button>
			<span>action</span>
		</button>
	</ly-dropdown>
	<p>lorem...</p>

	<h2>Installation</h2>
	<p>lorem...</p>

	<h2>Why Lily's</h2>
	<p>lorem...</p>

	<h2>What's next?</h2>
	<p>lorem...</p>
</ShowcaseLayout>
