html {
  font-family: "Space Grotesk", serif;

  & > body {
    display: contents;
  }
}

#app {
  isolation: isolate;
  display: grid;
  height: 100dvh;
  grid-template-rows: minmax(0, 1fr);

  & > #appbar {
    background-color: hsla(0, 0, 0, 0.75%);
    backdrop-filter: blur(var(--scale-xl));
    grid-column: grid-expand;
    position: fixed;
    top: 0;
    z-index: 2;

    & > #viewsbar {
      & > button {
        border-radius: 0;

        &:is(.currentView) {
          border-bottom: solid 2px var(--clr-content-1);
        }
      }
    }
  }

  & > #views {
    overflow: auto;
    padding-block: 100px;
    scroll-padding-block: 100px;
    /* scroll-snap-type: both proximity; */
    z-index: 1;

    & > * {
      scroll-margin: 5dvh;
      scroll-snap-align: start;
    }
  }

  & > #bottombar {
    background-color: hsla(0, 0, 0, 0.75%);
    backdrop-filter: blur(var(--scale-xl));
    bottom: 0;
    gap: var(--scale-nm);
    grid-column: grid-expand;
    padding: var(--scale-nm) var(--scale-xl);
    place-content: center;
    position: fixed;
    z-index: 2;
  }
}

#cursor {
  aspect-ratio: 1/1;
  backdrop-filter: blur(var(--xl));
  background-color: hsla(0, 0%, 100%, 0.50);
  border-radius: 50%;
  cursor: none;
  mix-blend-mode: difference;
  outline: solid 2px hsla(0, 0%, 100%, 0.50);
  outline-offset: 2px;
  pointer-events: none;
  position: fixed;
  transition-property: background, box-shadow, translate;
  transition-duration: var(--animDuration);
  transition-timing-function: var(--animTiming);
  user-select: none;
  width: var(--xl);
  z-index: auto;
}
