---
import Layout from '../../layouts/test.astro';
---

<Layout>
	<style is:inline>
		#app__content {
			height: calc(calc(100dvh - var(--xl)) - 95px);
		}
	</style>

	<x-sublayer>
		<figure style='height: 100%; width: 100%;'>
			<img
				src='https://images.unsplash.com/photo-1740750958991-19f18db5a676?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D'
				alt='background'
			/>
		</figure>
		<x-surlayer
			style='background-color: hsl(0deg, 0%, 0%, 0.15); backdrop-filter: blur(0.5ex); visibility: visible;'
		></x-surlayer>
	</x-sublayer>

	<x-stack
		style='gap: 15px; height: 100dvh; margin: auto; place-content: center; place-items: center; text-align: center; width: min(100%, 50dvw);'>
		<i class='icon' style='--size: 75px;'> asterisk </i>
		<h6>Quasi adipisci dolorum dignissimos rerum eaque voluptas</h6>
		<label
			for='search'
			data-props='--input'
			style='background-color: hsl(from var(--clr-text) h s l / 25%); backdrop-filter: blur(0.5ex); outline-color: transparent; width: 100%;'>
			<input type='text' placeholder='Ask a follow-up' />
			<i class='icon'>arrow_right_alt</i>
		</label>
	</x-stack>

	<x-flex
		style='inset: auto 0 0 0; margin: auto; padding: var(--nm); position: fixed; width: fit-content;'>
		<i class='icon' style='--size: 50px;'>home</i>
		<i class='icon' style='--size: 50px;'>bookmark</i>
		<i class='icon' style='--size: 50px;'>person</i>
	</x-flex>
</Layout>
