---
import Layout from '../../layouts/test.astro';
---

<Layout>
	<style is:inline>
		#app__content {
			height: calc(calc(100dvh - var(--xl)) - 95px);
		}
	</style>

	<style is:inline>
		x-window {
			background-color: hsl(
				from var(--clr-background) h s calc(l - var(--ratio-backgrounds))
			);
			display: flex;

			#notion__sidebar {
				background-color: var(--clr-background);
				gap: var(--lg);
				height: 100%;
				outline: solid 2px var(--clr-background);
				outline-offset: -2px;
				overflow: auto;
				padding: var(--sm);
				position: relative;
				min-width: 100%;

				@media screen and (min-width: 440px) {
					min-width: min(100%, 300px);
				}

				& > x-flex {
					align-items: center;
					background-color: hsl(from var(--clr-background) h s l/0.5);
					backdrop-filter: blur(0.5ex);
					border-radius: var(--xl);
					gap: var(--xs);
					position: sticky;
					width: 100%;
					z-index: 5;

					&:first-of-type {
						/* box-shadow: 0 -15vmax 100vmax 15vmax hsl(from var(--clr-background) h s calc(l - var(--ratio-backgrounds))); */
						top: 0;

						& > button {
							--idle: var(--clr-background);
							flex: 1 1;

							& > span {
								flex: 1 1 100%;
								overflow: clip;
								text-align: left;
								text-overflow: ellipsis;
								white-space: nowrap;
							}
						}

						&::before {
							background-color: hsla(from var(--clr-primary) h s l);
							border-radius: inherit;
							box-shadow: 0 -15vmax 100vmax 15vmax hsl(from
										var(--clr-background) h s calc(l - var(--ratio-backgrounds)));
							content: '';
							display: inline-flex;
							height: calc(100% + var(--sm));
							inset: 50%;
							margin: 0;
							opacity: 0;
							position: absolute;
							transition-duration: opacity;
							transition-duration: var(--animDuration);
							transition-timing-function: var(--animTiming);
							translate: -50% -50%;
							width: calc(100% + var(--sm));
							z-index: -1;
						}

						&:hover::before {
							opacity: 1;
						}
					}

					&:last-of-type {
						background-color: hsl(from var(--clr-background) h s l/0.5);
						backdrop-filter: blur(0.5ex);
						border-radius: var(--xl);
						box-shadow: 0 15vmax 100vmax 15vmax
							hsl(
								from var(--clr-background) h s
									calc(l - var(--ratio-backgrounds))
							);
						gap: var(--xs);
						inset: auto auto 0 auto;
						margin: auto auto 0 auto;
						padding: var(--xs);

						& button {
							flex-shrink: 0;
						}
					}
				}

				& > x-group {
					& > span {
						margin-bottom: var(--md);
					}

					& :where(button, summary) {
						--idle: var(--clr-background);

						width: 100%;

						&:not(:focus, :focus-visible) {
							outline-color: transparent;
						}

						& > span {
							flex: 1 1;
							text-align: left;
						}
					}
				}
			}

			#notion__sidebar--rail {
				padding: var(--xs);
				width: 75px;
			}

			#notion__main {
				width: 100%;
			}
		}
	</style>

	<aside id='notion__sidebar' class='expanded'>
		<x-flex data-props='--highlight'>
			<button type='button'>
				<figure data-props='--circle' style='width: var(--xl);'>
					<img
						alt='Photo: Luis R. Melo'
						src='https://cdn.dribbble.com/users/2246724/avatars/normal/733a7307a4408930f70132c7436077f1.jpg?1742320251'
					/>
				</figure>
				<span> Luis R. Melo </span>
				<i class='icon'>keyboard_arrow_down</i>
			</button>

			<x-flex data-props='--segmented-controls' style='flex-shrink: 0;'>
				<button id='sidebar-hide' type='button'>
					<i class='icon' style='--size: 15px;'>left_panel_close</i>
				</button>
				<button type='button'>
					<i class='icon' style='--size: 15px;'>add_2</i>
				</button>
			</x-flex>
		</x-flex>

		<hr />

		<x-group>
			<button type='button'>
				<i class='icon'> search </i>
				<span>Search</span>
				<i class='icon'> keyboard_command_key </i>
			</button>
			<button type='button'>
				<i class='icon'> stars_2 </i>
				<span>AI Assistant</span>
			</button>
			<button type='button'>
				<i class='icon'> home </i>
				<span>Home</span>
			</button>
			<button type='button'>
				<i class='icon'> inbox </i>
				<span>Inbox</span>
			</button>
		</x-group>

		<hr />

		<x-group>
			<span>Favorites</span>
			<details>
				<summary type='button'>
					<i class='icon'> asterisk </i>
					<span>Page Name</span>
				</summary>
				<ul>
					<button type='button'>item</button>
					<button type='button'>item</button>
					<button type='button'>item</button>
					<button type='button'>item</button>
				</ul>
			</details>
			<button type='button'>
				<i class='icon'> asterisk </i>
				<span>Page Name</span>
			</button>
			<button type='button'>
				<i class='icon'> asterisk </i>
				<span>Page Name</span>
			</button>
		</x-group>

		<hr />

		<x-group>
			<span>Shared</span>
			<details>
				<summary type='button'>
					<i class='icon'> asterisk </i>
					<span>Page Name</span>
				</summary>
				<ul>
					<button type='button'>item</button>
					<button type='button'>item</button>
					<button type='button'>item</button>
					<button type='button'>item</button>
				</ul>
			</details>
		</x-group>

		<hr />

		<x-group>
			<span>Private</span>
			<details>
				<summary type='button'>
					<i class='icon'> asterisk </i>
					<span>Page Name</span>
				</summary>
				<ul>
					<button type='button'>item</button>
					<button type='button'>item</button>
					<button type='button'>item</button>
					<button type='button'>item</button>
				</ul>
			</details>
		</x-group>

		<hr />

		<x-group>
			<button type='button'>
				<i class='icon'> settings </i>
				<span>Settings</span>
			</button>
			<button type='button'>
				<i class='icon'> browse </i>
				<span>Templates</span>
			</button>
			<button type='button'>
				<i class='icon'> delete </i>
				<span>Trash</span>
			</button>
		</x-group>

		<hr />

		<x-flex>
			<button type='button'>
				<i class='icon'> calendar_today </i>
			</button>
			<button type='button'>
				<i class='icon'> email </i>
			</button>
			<hr style='background-color: transparent; flex: 1 1;' />
			<button type='button'>
				<i class='icon'> help </i>
			</button>
		</x-flex>
	</aside>

	<main id='notion__main'></main>
</Layout>
