@layer data-attributes {
  :where([data-is="control"]) {
    background-color: var(--clr-background__lowered);
    display: flex;
    gap: 2px;
    height: 35px;
    padding: 2px;
    width: 100%;

    & > :where(button, [data-is="button"]) {
      border-radius: inherit;
      flex: 1 1;
      height: 100%;
      padding: 0;
      place-content: center;
      text-align: center;

      & > span {
        place-content: center;
        text-align: center;
      }

      &:not(:hover) {
        background-color: inherit;
      }

      input[type=radio] {
        cursor: pointer;
        height: 110%;
        inset: 0;
        opacity: 0;
        position: absolute;
        width: 110%;
      }

      &:has(input:checked) {
        background-color: var(--clr-accent__base);
        color: var(--clr-onAccent);
      }
    }
  }
}