@layer data-attributes {
  :where([data-is="layer"]) {
    display: grid;
    grid-auto-rows: max-content;
    inset: 0;
    isolation: isolate;
    margin: 0;
    overflow: clip;
    position: fixed;
    visibility: hidden;

    > * {
      visibility: visible;
    }

    &[data-variant="over"] {
      container: overlayer / size;
      z-index: 100;
    }

    &[data-variant="under"] {
      container: underlayer / size;
      z-index: -100;
    }
  }
}