@layer data-attributes {
  :where([data-is=switch]) {
    all: unset;

    background-color: var(--clr-background__base);
    border: 2px solid var(--clr-border__base);
    border-radius: var(--radii-full);
    cursor: pointer;
    display: inline-flex;
    height: 14px;
    isolation: isolate;
    overflow: clip;
    place-content: start;
    padding: 2px;
    position: relative;
    transition-property: background-color, border-color;
    transition-duration: var(--animDuration);
    transition-timing-function: var(--animTiming);
    width: 30px;

    &:after {
      aspect-ratio: 1/1;
      background-color: var(--clr-border__base);
      border-radius: inherit;
      content: "";
      grid-column: 1;
      z-index: -1
    }

    &:checked {
      background-color: var(--clr-accent__lowered);
      place-content: end;

      &:after {
        background-color: var(--clr-onAccent);
      }
    }
  }
}