#app {
  height: 100dvh;
  padding-block: 75px 0px;

  &:not(:has(x-window)) {
    grid-auto-rows: max-content;
    padding-block: 75px;
  }

  #app__topbar {
    grid-column: expand;
    height: 75px;
    padding: 0 var(--md);
    place-items: center;
    position: fixed;
    inset: 0 0 auto;
    isolation: isolate;
    width: 100%;
    z-index: 10;

    &::before {
      background-color: hsl(from var(--clr-background) h s l / 25%);
      backdrop-filter: blur(0.5ex);
      content: "";
      inset: 0;
      position: absolute;
      z-index: -1;
    }

    & > a {
      flex-shrink: 0;
      text-box: none;

      & > figure {
        aspect-ratio: 1/1;
        vertical-align: middle;
        width: 50px;
      }
    }
  }

  #app__content {
    display: flex;
    flex-direction: column;
    gap: var(--nm);
    grid-column: inner;
    width: 100dvw;

    & > * {
      flex-shrink: 0;
    }

    & > :where(x-window) {
      box-shadow: 0 5vmax 100vmax -5vmax hsl(from color-mix(in hsl, var(--clr-text), hsl(0, 0%, 40%)) h s l / 20%);

      @media (prefers-color-scheme: dark) {
        box-shadow: none;
      }

      height: calc(100% - 50px);
      margin-block: auto;
      outline: solid 3px hsl(from var(--clr-background) h s calc(l + var(--ratio-texts))/75%);
      outline-offset: 3px;
      overflow: hidden;
      place-self: center;
      width: 100%;
    }
  }
}