[x-variant=switch] {
  align-items: center;
  appearance: none;
  cursor: pointer;
  display: flex;
  font-family: "Material Symbols Rounded";
  justify-content: center;
  overflow: hidden;
  position: relative;
  width: 2.85rem;
  height: 1.575rem;
  font-size: 3rem;
}
[x-variant=switch]::before, [x-variant=switch]::after {
  position: absolute;
  text-align: center;
  vertical-align: middle;
  white-space: pre;
}
[x-variant=switch]:not(:checked)::before {
  content: "toggle_off";
}
[x-variant=switch]:checked {
  @apply text-accent-500;
}
[x-variant=switch]:checked::before {
  content: "toggle_on";
}
@media (hover: hover) {
  [x-variant=switch]:hover {
    @apply text-accent-400;
  }
}
[x-variant=switch]:active {
  @apply text-accent-600;
}
