input[type='radio'] {
	& {
		appearance: none;
		cursor: pointer;

		background-color: transparent;

		display: inline-flex;
		align-items: center;
		justify-content: center;
		flex-shrink: 0;

		border: none;
		outline: none;
		padding: 0;
		border-radius: 0;

		aspect-ratio: 1/1;
		@apply w-xl;
		@apply h-2xl;
		overflow: hidden;
	}

	&::before {
		font-family: 'Material Symbols Rounded';
		content: 'radio_button_unchecked';

		display: inline-flex;
		align-items: center;
		justify-content: center;

		@apply text-2xl;

		vertical-align: middle;
	}

	&:checked {
		@apply text-accent-600;

		&::before {
			content: 'radio_button_checked';
			font-variation-settings: 'FILL' 0;
		}
	}

	@media (hover: hover) {
		&:hover {
			@apply text-accent-400;
		}
	}

	&:active {
		@apply text-accent-600;
	}
}