---

---

<x-row id='toast'>
	<i data-is='icon'>error</i>
	<p>
		This true-up will result in a new proposal. The original will remain
		available until an agreement is signed.
	</p>

	<style lang='css' is:inline>
		@scope {
			:scope {
				background-color: var(--clr-warning__base);
				color: var(--clr-onWarning);
				gap: var(--space-xs);
				height: max-content;
				padding: var(--space-sm) var(--space-md);

				[data-is='icon'] {
					--fill: 1;
				}

				p {
					font-weight: 500;
				}
			}
		}
	</style>
</x-row>
