---
import Logo from './logo.astro';
import { getBasePath } from 'src/utils/routeSegments';

const basePath = getBasePath(Astro.url.pathname, 2);
---

<nav id='topbar'>
	<div id='appbar__blur' data-has='blur'>
		<div data-part='layer' style='--i: 0;'></div>
		<div data-part='layer' style='--i: 1;'></div>
		<div data-part='layer' style='--i: 2;'></div>
		<div data-part='layer' style='--i: 3;'></div>
		<div data-part='layer' style='--i: 4;'></div>
		<div data-part='layer' style='--i: 5;'></div>

		<style lang='css' is:inline>
			@scope (#appbar__blur) {
				:scope {
					background: linear-gradient(
						180deg,
						rgba(0, 0, 0, 0.5) 0%,
						rgba(0, 0, 0, 0) 100%
					);
					height: calc(var(--lg) * 2);
					inset: 0 0 auto 0;
					position: fixed;
					width: 100%;
					z-index: -1;
				}
			}
		</style>
	</div>

	<div data-is='row' style='height: calc(20 * 0.0625rem);'>
		<a href={basePath} data-variant='text'>
			<figure style='width: calc(100 * 0.0625rem);'>
				<Logo />
			</figure>
		</a>
	</div>
	<div id='topbar__menu' data-is='row' style='justify-content: center;'>
		<a href={`${basePath}/about`} data-variant='text'> About </a>
		<a href={`${basePath}/work`} data-variant='text'> Work </a>
	</div>
	<div data-is='row' style='justify-content: end;'>
		<a href={`${basePath}/contact`} data-variant='text'> Contact </a>
	</div>

	<style lang='css' is:inline>
		@scope (#topbar) {
			:scope {
				align-items: end;
				grid-column: expand;
				grid-row: top;
				height: calc(var(--lg) * 2);
				inset: 0;
				padding-inline: var(--lg);
				position: sticky;
				z-index: 2;

				& > * {
					align-items: center;
					flex: 1 1;
					gap: var(--xl);
				}

				#topbar__menu {
					@container app (width < 640px) {
						display: none;
					}
				}
			}
		}
	</style>
</nav>
