---
import Logo from './logo.astro';
---

<nav id='topbar'>
	<div data-is='row' style='height: 20px;'>
		<a href='' data-variant='text'>
			<figure style='width: 100px;'>
				<Logo />
			</figure>
		</a>
	</div>
	<div id='topbar__menu' data-is='row' style='justify-content: center;'>
		<a href='' data-variant='text'> About </a>
		<a href='' data-variant='text'> Projects </a>
		<a href='' data-variant='text'> Work </a>
	</div>
	<div data-is='row' style='justify-content: end;'>
		<a href='' data-variant='text'> Contact </a>
	</div>

	<style lang='css' is:inline>
		@scope (#topbar) {
			:scope {
				align-items: end;
				grid-column: expand;
				grid-row: top;
				height: calc(var(--lg) * 2);
				padding-inline: var(--lg);

				& > * {
					align-items: center;
					flex: 1 1;
					gap: var(--xl);
				}

				#topbar__menu {
					@container xwindow (width < 640px) {
						display: none;
					}
				}
			}
		}
	</style>
</nav>
