---
import { Image } from 'astro:assets';

const { image, style } = Astro.props;
---

<article data-is='card' data-geometry='squircle' {style}>
	<figure data-is='background'>
		<Image src={image} alt='cover' height='512' width='512' />
	</figure>

	<div data-is='row'>
		<div data-is='group'>
			<h5 style='font-size: var(--);'>Complex</h5>
			<p>We need to start somewhere right?</p>
		</div>

		<button data-variant='ghost'>
			<i data-is='icon'>add_2</i>
		</button>
	</div>

	<style lang='css' is:inline>
		@scope {
			:scope {
				background-color: transparent;
				box-shadow: 0 0 100vmax -1ex hsl(var(--clr-background__lowered) h s l/1);
				padding: calc(var(--xl) * 2);
				place-content: center end;
				transition: padding var(--animDuration) var(--animTiming);
				width: calc(var(--xl) * 16);

				&::before {
					aspect-ratio: 1/1;
					background-color: hsla(0 0 0/0.1);
					backdrop-filter: blur(0.5ex);
					box-shadow: inset 0 0 100vmax -1px hsla(0 0 0/0.125);
					border-radius: 50%;
					content: '';
					inset: 0;
					margin: auto;
					position: absolute;
					transition: all var(--animDuration) var(--animTiming);
					width: 90%;
					z-index: 1;
				}

				& > [data-is='row'] {
					align-items: center;
					gap: var(--xs);
					height: 100%;
					transition: block-size var(--animDuration) var(--animTiming);
					width: 100%;
					z-index: 2;

					[data-is='group'] {
						flex: 1 1;
					}

					button {
						flex-shrink: 0;

						[data-is='icon'] {
							--size: var(--xl);
						}
					}
				}

				&:hover {
					cursor: pointer;
					padding-block: calc(var(--xl) * 8) var(--xl);
					padding-inline: var(--xl);

					&::before {
						backdrop-filter: blur(1ex);
						border-radius: 0;
						width: 100%;
					}

					& > [data-is='row'] {
						height: auto;
					}
				}

				@container app (width < 896px) {
					width: calc(var(--xl) * 14);
				}

				@container app (width < 640px) {
					width: calc(var(--xl) * 12);
				}

				@container app (width < 384px) {
					width: calc(var(--xl) * 10);
				}
			}
		}
	</style>
</article>
