---
import Layout from '../../layouts/test.astro';
---

<Layout>
	<style is:inline>
		html {
			font-family: 'Poppins', sans-serif;
		}

		:is(#app > #app__content > x-window) {
			display: grid;
			overflow: auto;
		}

		#notification {
			background-color: var(--clr-background);
			border-radius: var(--md);
			height: max-content;
			outline: solid 2px
				hsl(from var(--clr-background) h s calc(l + var(--ratio-texts)));
			outline-offset: -2px;
			place-self: safe center;
			width: min(100%, 440px);

			& > x-row {
				align-items: center;
				gap: var(--md);
				padding: var(--lg);

				& > figure {
					aspect-ratio: 1/1;
					border-radius: var(--xs);
					flex-shrink: 0;
					height: calc(var(--xl) * 2.5);
					overflow: clip;
				}

				& > x-group {
					width: fit-content;

					& > span {
						color: #808080;
					}
				}

				& > p {
					width: 100%;
				}

				& > button {
					flex-grow: 1;
					min-width: max-content;
					place-content: center;
				}
			}
		}
	</style>

	<x-block id='notification'>
		<x-row style='flex-wrap: wrap;'>
			<figure>
				<img
					src='https://cdn.dribbble.com/userupload/36827646/file/original-24ed8e5b476e7896326891445660a9f4.png?resize=1024x768&vertical=center'
					alt='thumbnail'
				/>
			</figure>

			<x-group>
				<span>Time Sensitive</span>
				<h6>Gross House</h6>
				<p>Property Offer</p>
			</x-group>
		</x-row>

		<hr />

		<x-row style='align-items: start;'>
			<i class='icon' style='--fill: 1; --size: var(--xl);'> schedule </i>
			<p>
				Leave on Time Sensitive notifications from Props? This allows Props to
				deliver important notifications inmmediately
			</p>
		</x-row>

		<hr />

		<x-row style='flex-wrap: wrap;'>
			<button type='button'>Turn Off</button>
			<button type='button'>Leave On</button>
		</x-row>
	</x-block>
</Layout>
