@layer utils {
    .ps {
        @each $v in (static, relative, absolute, fixed, sticky) {
            &-#{$v} {
                position: #{$v};
            }
        }
    }

    .top {
        top: 0;
    }

    .right {
        right: 0;
    }

    .bottom {
        bottom: 0;
    }

    .left {
        left: 0;
    }
}