@layer locals {
  :root {
    --config-fontFamily: "DM sans", serif;
  }
}

@layer locals {
  :root {
    --clr-accent-1: hsl(218, 61%, 95%);
    --clr-accent-2: hsl(from var(--clr-accent-1) h s 85%);
    --clr-accent-3: hsl(from var(--clr-accent-2) h s 75%);
    --clr-accent-4: hsl(from var(--clr-accent-3) h s 65%);

    --clr-context-1: hsl(27, 85%, 45%);
    --clr-context-2: hsl(27, 85%, 35%);
    --clr-context-3: hsl(27, 85%, 25%);
    --clr-context-4: hsl(27, 85%, 15%);

    --clr-content-1: hsl(218, 61%, 5%);
    --clr-content-2: hsl(from var(--clr-content-1) h s 15%);
    --clr-content-3: hsl(from var(--clr-content-2) h s 25%);
    --clr-content-4: hsl(from var(--clr-content-3) h s 35%);

    --clr-surface-1: hsl(218, 61%, 95%);
    --clr-surface-2: hsl(from var(--clr-surface-1) h s 85%);
    --clr-surface-3: hsl(from var(--clr-surface-2) h s 75%);
    --clr-surface-4: hsl(from var(--clr-surface-3) h s 65%);

    --clr-debug: hsl(330, 80%, 50%);
    --clr-error: hsl(0, 80%, 50%);
    --clr-info: hsl(200, 80%, 50%);
    --clr-success: hsl(120, 80%, 50%);
    --clr-warning: hsl(40, 80%, 50%);
  }
}

@layer locals {
  nav:is(#appbar) {
    width: 100%;
    & > nav {
      width: 100%;
      &:first-of-type {
        justify-content: space-between;
      }
      &:last-of-type {
        background-color: var(--clr-accent-2);
      }
    }
  }
}
