:root {
  --clr-accent: #67b464;
}
html {
  font-family: "Figtree", serif;
}

#appbar {
  align-items: center;
  border-bottom: solid 1px color-mix(in hsl, var(--clr-surface), white 5%);
  gap: var(--md, 15px);
  height: 50px;
  padding: 0 var(--md, 15px);
  white-space: nowrap;

  & > * {
    align-items: inherit;
    gap: inherit;

    &:where(div) {
      overflow: clip;
    }
  }

  & > :where(hr) {
    background-color: color-mix(in hsl, var(--clr-surface), white 5%);
    flex: 0 0 auto;
    height: 100%;
    width: 1px;
  }
}
