@use './lib/scalingSystem' as scale;

:root {
    @each $key, $value in scale.$range {
        --scale-#{$key}: #{$value};
    }

    --clr-accent: hsl(120, 88%, 50%);
    --clr-primary: hsl(0, 0%, 6%);
    --clr-secondary: hsl(0, 0%, 96%);
    --clr-tertiary: hsl(0, 0%, 90%);

    /* theme settings */
    --bordRadius: var(--scale-5xs);
    --fontFamily: sans-serif;
    --animSettings: var(--animDuration) var(--animTimingFunction);
    --animDuration: 360ms;
    --animTimingFunction: cubic-bezier(0.2, 0, 0, 1);
}

:root {
    --demo-body: hsl(0, 0%, 96%);
    --demo-content: hsl(0, 0%, 99%);
}

* {
    box-sizing: border-box;
    margin: 0;
    max-width: 100%;
}

html,
body {
    font-family: var(--fontFamily);
    margin: 0;
}

html {
    background-color: transparent;
    background: transparent;
}

body {
    background-color: var(--demo-body);
}

main {
    container: demo-content / normal;
    display: grid;
    grid-template-columns: 1fr [content-start] 1fr [content-end] 1fr;
    gap: 1rem;
    padding: 1rem;

    >* {
        --bordStyle: dashed;

        aspect-ratio: 1/1;
        background-color: var(--demo-content);
        border-radius: 0.5rem;
        gap: 0.5rem;
        grid-column: content;
        outline-color: transparent;
        outline-offset: var(--bordOffset);
        outline-style: var(--bordStyle);
        outline-width: var(--bordWidth);
        padding: 2rem;
        transition: outline-color var(--animSettings);

        &:hover,
        &:focus {
            outline-color: var(--clr-accent);
        }
    }


}

.demo-block {
    --bordStyle: dashed;

    aspect-ratio: 1/1;
    outline-color: inherit;
    outline-offset: var(--bordOffset);
    outline-style: var(--bordStyle);
    outline-width: var(--bordWidth);
    padding: 1rem;

    transition: outline-color var(--animSettings);
}