// @use './lib/scalingSystem' as scale;

// :root {
//     @each $key, $value in scale.$range {
//         --scale-#{$key}: #{$value};
//     }
// }

:root {
    --clr-accent: hsl(11, 100%, 35%);
    --clr-bg: hsl(0, 85%, 95%);
    --clr-txt: hsl(0, 0%, 2%);

    --clr-primary: hsl(11, 100%, 59%);
    --clr-secondary: hsl(60, 2%, 90%);
    --clr-tertiary: hsl(90, 0%, 96%);
}

@media (prefers-color-scheme: dark) {
    :root {
        --clr-accent: hsl(11, 100%, 59%);
        --clr-bg: hsl(0, 0%, 2%);
        --clr-txt: hsl(0, 85%, 95%);

        --clr-primary: hsl(11, 100%, 35%);
        --clr-secondary: hsl(60, 2%, 10%);
        --clr-tertiary: hsl(90, 0%, 6%);
    }
}


:root {
    --demo-body: var(--clr-bg);
    --demo-content: var(--clr-secondary);
}

// @media (prefers-color-scheme: dark) {
//     :root {
//         --demo-body: hsl(0, 0%, 6%);
//         --demo-content: hsl(0, 0%, 9%);
//     }
// }

* {
    box-sizing: border-box;
    margin: 0;
    max-width: 100%;
}

html,
body {
    font-family: var(--fontFamily);
    margin: 0;
}

html {
    background-color: transparent;
    background: transparent;
}

body {
    background-color: var(--demo-body);
}

main {
    container: demo-content / normal;
    display: grid;
    grid-template-columns: 1fr [content-start] 1fr [content-end] 1fr;
    gap: 1rem;
    padding: 1rem;

    >* {
        --bordStyle: dashed;

        aspect-ratio: 1/1;
        background-color: var(--demo-content);
        border-radius: 0.5rem;
        gap: 0.5rem;
        grid-column: content;
        outline-color: transparent;
        outline-offset: var(--bordOffset);
        outline-style: var(--bordStyle);
        outline-width: var(--bordWidth);
        padding: 2rem;
        transition: outline-color var(--animSettings);

        &:hover,
        &:focus {
            outline-color: var(--clr-accent);
        }
    }


}

.demo-block {
    --bordStyle: dashed;

    aspect-ratio: 1/1;
    color: var(--clr-txt);
    outline-color: var(--clr-txt);
    outline-offset: var(--bordOffset);
    outline-style: var(--bordStyle);
    outline-width: var(--bordWidth);
    padding: 1rem;

    transition: outline-color var(--animSettings);
}