---
import '../../../css/dist/all.css';
import Scaffold from './html.astro';
import Sidebar from '../components/Sidebar.astro';
import Topbar from '../components/Topbar.astro';
import Bottombar from '../components/Bottombar.astro';
// import TableOfContents from '../components/TableOfContents.astro';
import Cookiesbar from '../components/Cookiesbar.astro';
---

<Scaffold>
	<div id='app' data-is='app'>
		<Topbar />
		<Sidebar />
		<div id='app__content' data-is='container'>
			<slot />

			<style lang='css' is:inline>
				@scope (#app__content) {
					:scope {
						padding-block: var(--xl);
						z-index: 1;

						& > * {
							grid-column: expand;
						}
					}
				}
			</style>
		</div>
		<!-- <TableOfContents /> -->
		<Bottombar />
		<Cookiesbar />
	</div>
</Scaffold>
