<div id='docsheet' data-is='stack'>
	<slot />
</div>

<style lang='css' is:inline>
	@scope (#docsheet) {
		:scope {
			background-color: var(--clr-background__base);
			border-radius: 0.75ex;
			gap: var(--xl);
			outline: solid 2px var(--clr-border__base);
			padding: var(--xl);
		}
	}
</style>
