<div data-is='frame' data-layout='breakout-all'>
	<slot />
</div>

<style lang='css' is:inline>
	@scope (#app) {
		:scope {
			min-height: 0;
			height: 100dvh;

			@scope (#app__content) {
				:scope {
					grid-template-rows: 1fr;
				}
			}
		}
	}
</style>
