---
interface Props {
	Heading?: string;
}

const { Heading } = Astro.props;
---

<div class='card'>
	<header class='row between'>
		<label>{Heading}</label>
	</header>
	<div class='flex container place-center'>
		<slot />
	</div>
</div>
