---
import Layout from '../../layouts/app.astro';
---

<Layout>
	<label for='example'>
		<span>im a label example</span>
		<input
			type='text'
			name='example'
			placeholder='im just an example'
			disabled
		/>
	</label>
</Layout>
