---
import Layout from '../../layouts/test.astro';
---

<Layout>
	<x-block style='height: 100%; overflow: auto; padding: var(--nm);'>
		<select id='select'>
			<optgroup label='Option Group'>
				<option>Option One</option>
				<option>Option Two</option>
				<option>Option Three</option>
			</optgroup>
		</select>

		<select id='select_multiple' multiple>
			<optgroup label='Option Group'>
				<option>Option One</option>
				<option>Option Two</option>
				<option>Option Three</option>
			</optgroup>
		</select>
	</x-block>
</Layout>
