---
import Layout from '../../layouts/app.astro';
---

<Layout>
	<x-wrap style='gap: var(--nm);'>
		<a>
			<i class='icon'>asterisk</i>
			<span>lead icon</span>
		</a>

		<a href={'#' + crypto.randomUUID()}>
			<i class='icon'>asterisk</i>
			<span>span</span>
		</a>
	</x-wrap>

	<x-wrap style='gap: var(--nm);'>
		<a><span>no icons</span></a>

		<a href={'#' + crypto.randomUUID()}>
			<span>no icons</span>
		</a>
	</x-wrap>

	<x-wrap style='gap: var(--nm);'>
		<a>
			<i class='icon'>asterisk</i>
			<span>both icons</span>
			<i class='icon'> asterisk </i>
		</a>

		<a href={'#' + crypto.randomUUID()}>
			<i class='icon'>asterisk</i>
			<span>both icons</span>
			<i class='icon'>asterisk</i>
		</a>
	</x-wrap>

	<x-wrap style='gap: var(--nm);'>
		<a>
			<span>trail icon</span>
			<i class='icon'>asterisk</i>
		</a>

		<a href={'#' + crypto.randomUUID()}>
			<span>trail icon</span>
			<i class='icon'>asterisk</i>
		</a>
	</x-wrap>
</Layout>
