---
import Layout from '../../layouts/app.astro';
---

<Layout>
	<x-wrap style='gap: var(--nm);'>
		<a>
			<x-icon>asterisk</x-icon>
			<span>lead icon</span>
		</a>

		<a href={'#' + crypto.randomUUID()}>
			<x-icon>asterisk</x-icon>
			<span>span</span>
		</a>
	</x-wrap>

	<x-wrap style='gap: var(--nm);'>
		<a><span>no icons</span></a>

		<a href={'#' + crypto.randomUUID()}>
			<span>no icons</span>
		</a>
	</x-wrap>

	<x-wrap style='gap: var(--nm);'>
		<a>
			<x-icon>asterisk</x-icon>
			<span>both icons</span>
			<x-icon> asterisk </x-icon>
		</a>

		<a href={'#' + crypto.randomUUID()}>
			<x-icon>asterisk</x-icon>
			<span>both icons</span>
			<x-icon>asterisk</x-icon>
		</a>
	</x-wrap>

	<x-wrap style='gap: var(--nm);'>
		<a>
			<span>trail icon</span>
			<x-icon>asterisk</x-icon>
		</a>

		<a href={'#' + crypto.randomUUID()}>
			<span>trail icon</span>
			<x-icon>asterisk</x-icon>
		</a>
	</x-wrap>
</Layout>
