---
import Layout from '../../layouts/app.astro';
---

<Layout>
	<button type='button'>
		<x-icon>arrow_left_alt</x-icon>
		<span>lead icon</span>
	</button>

	<button type='button'>
		<span>no icons</span>
	</button>

	<button type='button'>
		<x-icon>add_2</x-icon>
	</button>

	<button type='button'>
		<x-icon>globe</x-icon>
		<span>both icons</span>
		<x-icon>open_in_new</x-icon>
	</button>

	<button type='button'>
		<span>trail icon</span>
		<x-icon>arrow_right_alt</x-icon>
	</button>

	<button type='button' disabled>
		<span>disabled</span>
		<x-icon>block</x-icon>
	</button>

	<button type='button' data-roles='primary'>
		<span>--primary</span>
	</button>

	<button type='button' data-roles='outline'>
		<span>--outline</span>
	</button>

	<button type='button' data-roles='flat'>
		<span>--flat</span>
	</button>
</Layout>
