---
import Layout from '../../layouts/app.astro';
---

<Layout>
	<button>
		<i data-is='icon' data-part='lead'>arrow_left_alt</i>
		<span>lead icon</span>
	</button>

	<button>
		<span>no icons</span>
	</button>

	<button>
		<i data-is='icon'>add_2</i>
	</button>

	<button>
		<i data-is='icon' data-part='lead'>globe</i>
		<span>both icons</span>
		<i data-is='icon' data-part='trail'>open_in_new</i>
	</button>

	<button>
		<span>trail icon</span>
		<i data-is='icon' data-part='trail'>arrow_right_alt</i>
	</button>

	<button data-variant='outline'>
		<span>--outline</span>
	</button>

	<button data-variant='flat'>
		<span>--flat</span>
	</button>

	<button disabled>
		<span>disabled</span>
		<i data-is='icon' data-part='trail'>block</i>
	</button>
</Layout>
