---
import Layout from '../../layouts/app.astro';
---

<Layout>
	<script is:inline>
		window.addEventListener('DOMContentLoaded', () => {
			const modal = document.querySelector('#modal');

			addEventListener('modal:toggle', () => {
				if (modal.open) {
					modal.close();
				} else {
					modal.show();
				}
			});

			document
				.querySelectorAll('[data-toggle-modal]')
				.forEach((el) =>
					el.addEventListener('click', () =>
						dispatchEvent(new CustomEvent('modal:toggle')),
					),
				);
		});
	</script>

	<button data-toggle-modal> open modal </button>

	<dialog id='modal'>
		<div
			data-is='row'
			style='align-items: center; justify-content: space-between; padding: var(--md);'>
			<h6>Service clients</h6>
			<button data-variant='ghost' data-toggle-modal>
				<i data-is='icon'>close_small</i>
			</button>
		</div>

		<label for='searchbar' data-is='input' style='margin-inline: var(--md);'>
			<i data-is='icon' data-part='lead'> search </i>
			<input
				type='text'
				id='searchbar'
				name='searchbar'
				placeholder='Type in to filter list'
			/>
			<i data-is='icon' data-part='trail'> keyboard_command_key </i>
		</label>

		<div
			data-is='stack'
			style='gap: var(--md); place-items: center; padding: var(--xl);'>
			<i data-is='icon' style='--size: 50px;'>block</i>

			<div style='text-align: center;'>
				<p>No service clients found.</p>
				<p>Try another search query or add a new service client.</p>
			</div>

			<button data-variant='outline'>
				<i data-is='icon' data-part='lead'> add_2 </i>
				<span>Add client</span>
			</button>
		</div>
	</dialog>
</Layout>
