---
import ShowcaseLayout from '@layouts/showcase.astro';
---

<ShowcaseLayout>
	<select id='select'>
		<option>Option One</option>
		<option>Option Two</option>
		<option>Option Three</option>
	</select>
</ShowcaseLayout>
