---
import Layout_HTML from 'src/lib/layout.html.astro';
import Bottombar from './components/bottombar.astro';
import Sidebar from './components/sidebar.astro';
import Topbar from './components/topbar.astro';
import Modal from './components/modal.validation.astro';
---

<Layout_HTML title='Proposal Tool' scheme='dark'>
	<ly-app layout='row'>
		<Sidebar />
		<main class='h-100 grow shrink'>
			<Topbar />
			<ly-col class='h-100 grow shrink'>
				<slot />
			</ly-col>
			<Bottombar />
		</main>
	</ly-app>
	<ly-layer stacked='over'>
		<Modal />
	</ly-layer>
</Layout_HTML>

<style lang='css'>
	@layer props {
		:root {
			--baseFontFamily: 'DM Sans', sans-serif;
		}
	}
	ly-app {
		& > main {
			--gap: 0;
			& > ly-col {
				overflow-x: clip;
				overflow-y: auto;
				padding: var(--scale-2xl);
			}
		}
	}
</style>
