@layer normalize {

  :where(h1, h2, h3, h4, h5, h6,
    p, blockquote, q, cite,
    ul, ol, dl, dt, dd, li,
    a, div, span, details, summary, figure, figcaption, caption,
    address, main, section, article, aside, header, footer, nav,
    form, fieldset, legend, label, button, input, select, textarea, optgroup, option) {
    font-family: inherit;
    font-weight: 400;
    overflow-wrap: break-word;
    text-overflow: ellipsis;
    text-wrap: pretty;
    word-break: break-word;
  }

  :where(abbr, acronym, b, big, button, cite, code, del, dfn, em, h1, h2, h3, h4, h5, h6, i, input, ins, kbd, option, q,
    samp, select, small, strong, sub, sup, tt, var) {
    line-height: 1;
  }

  :where(b, strong) {
    font-weight: 600;
  }

  :where(big) {
    font-size: 125%;
  }

  :where(small) {
    font-size: max(75%, var(--type-s));
  }

  :where(button, input, select, summary) {
    text-box: trim-both;
  }

  :where(article, figcaption, footer, header, hgroup, menu, section) {
    display: block;
  }

  :where(nav) {
    display: flex;
  }

  :where(hr) {
    background-color: var(--clr-border__base);
    flex: 0 0 1px;
    height: 1px;
    width: 100%;

    &[data-variant="y"] {
      height: 100%;
      width: 1px;
    }
  }

  :where(mark) {
    background-color: var(--clr-warning__base);
  }

  /* media */
  :where(audio, canvas, figure, iframe, img, video) {
    display: inline-block;
    width: fit-content;
  }

  :where(audio) {
    height: 50px;
    width: clamp(250px, 100%, 350px);
  }

  :where(figure > img) {
    display: block;
    height: 100%;
    width: 100%;
  }

  :where(img) {
    object-fit: cover;
  }

  /* meter & progress */
  :where(meter, progress) {
    display: inline-block;
    height: 35px;
  }

  /* code and pre wrapping */
  :where(code, pre) {
    display: inline;
    vertical-align: inherit;
    white-space: pre-wrap;
    word-wrap: break-word;
  }

  :where(code) {
    color: var(--clr-debug__base);
    font-family: monospace;
  }

  :where(pre) {
    font: inherit;
    white-space-collapse: preserve-breaks;
  }

  /* quotes */
  :where(blockquote) {
    border-left: solid 2px var(--clr-accent__base);
    margin: min(5%, var(--sm));
    padding: min(5%, var(--sm));
  }

  /* general clickable items */
  :where(a, area, button, input, label, select, summary, textarea) {
    -ms-touch-action: manipulation;
    touch-action: manipulation;
  }

  :where(p) {
    font-size: var(--type-p);
    width: min(100%, 75ch);
  }

  :where(a, button, select, summary, [type="button"], [type="checkbox"], [type="radio"], [type="reset"], [type="submit"]) {
    cursor: pointer;
  }
}