@layer props {
  :where([data-props~="--background"]) {
    &:is(button) {
      --background: var(--clr-background);

      &:not(:focus, :focus-visible) {
        outline-color: transparent;
      }
    }
  }

  :where([data-props~="--text"]) {
    &:is(button) {
      --background: var(--clr-text);

      &:not(:focus, :focus-visible) {
        outline-color: transparent;
      }
    }
  }

  :where([data-props~="--text-sub"]) {
    &:is(button) {
      --background: var(--clr-text-sub);

      &:not(:focus, :focus-visible) {
        outline-color: transparent;
      }
    }
  }

  :where([data-props~="--text-sup"]) {
    &:is(button) {
      --background: var(--clr-text-sup);

      &:not(:focus, :focus-visible) {
        outline-color: transparent;
      }
    }
  }

  :where([data-props~="--primary"]) {
    &:is(button) {
      --background: var(--clr-primary);

      &:not(:focus, :focus-visible) {
        outline-color: transparent;
      }
    }
  }

  :where([data-props~="--secondary"]) {
    &:is(button) {
      --background: var(--clr-secondary);

      &:not(:focus, :focus-visible) {
        outline-color: transparent;
      }
    }
  }

  :where([data-props~="--tertiary"]) {
    &:is(button) {
      --background: var(--clr-tertiary);

      &:not(:focus, :focus-visible) {
        outline-color: transparent;
      }
    }
  }

  :where([data-props~="--accent"]) {
    &:is(button) {
      --background: var(--clr-accent);

      &:not(:focus, :focus-visible) {
        outline-color: transparent;
      }
    }
  }

  :where([data-props~="--context"]) {
    &:is(button) {
      --background: var(--clr-context);

      &:not(:focus, :focus-visible) {
        outline-color: transparent;
      }
    }
  }

  :where(hr[data-props~="--x"]) {
    height: 1px;
    width: 100%;
  }

  :where(hr[data-props~="--y"]) {
    height: 100%;
    width: 1px;
  }

  :where([data-props~="--input"]) {
    --inputBackground: var(--clr-background);

    align-items: center;
    background-color: var(--inputBackground);
    border-radius: var(--xs, 5px);
    display: flex;
    gap: var(--xs, 5px);
    height: 45px;
    outline: solid 2px hsl(from var(--inputBackground) h s calc(l + var(--ratio-texts)));
    outline-offset: -2px;
    overflow: clip;
    padding: 0 var(--md, 15px);
    transition-duration: var(--animDuration);
    transition-property: background-color, color, outline, outline-offset;
    transition-timing-function: var(--animTiming);

    &:has(:focus) {
      outline-color: var(--clr-accent);
    }

    & > input {
      background-color: transparent;
      border-radius: 0;
      height: auto;
      outline: none;
      padding: 0;
      width: 100%;
    }

    & > :where(.icon, button, figure) {
      flex-shrink: 0;
    }

    /* Icon & Figure at the start */
    &:has(> :where(.icon, figure):first-child):not(:has(> :where(.icon, figure):last-child)) {
      padding-left: var(--sm, 10px);
    }

    /* Icon & Figure at the end */
    &:has(> :where(.icon, button, figure):last-child):not(:has(> :where(.icon, figure):first-child)) {
      padding-right: var(--sm, 10px);
    }

    /* Icons & Figures on both sides */
    &:has(> :where(.icon, figure):first-child):has(> :where(.icon, figure):last-child) {
      padding-left: var(--sm, 10px);
      padding-right: var(--sm, 10px);
    }

    /* Button at the start */
    &:has(> :where(button):first-child):not(:has(> :where(button):last-child)) {
      padding-left: 0;

      & > button {
        outline-color: var(--inputBackground);
      }
    }

    /* Button at the end */
    &:has(> :where(button):last-child):not(:has(> :where(button):first-child)) {
      padding-right: 0;

      & > button {
        outline: solid 6px var(--inputBackground);
        outline-offset: -4px;
      }
    }

    /* Button on both sides */
    &:has(> :where(button):first-child):has(> :where(button):last-child) {
      padding-left: 0;
      padding-right: 0;

      & > button {
        outline-color: var(--inputBackground);
      }
    }
  }

  :where([data-props~="--squircle"]) {
    aspect-ratio: 1/1;
    border-radius: 25%;
    overflow: clip;
    width: 40px;
  }

  :where([data-props~="--segmented-controls"]) {
    background-color: hsl(from var(--clr-primary) h s calc(l - var(--ratio-backgrounds)));
    border-radius: var(--xl);
    gap: calc(var(--xs) / 5);
    height: 45px;
    outline: solid 2px hsl(from var(--clr-primary) h s calc(l - var(--ratio-backgrounds)));
    outline-offset: -2px;
    overflow: clip;
    padding: calc(var(--xs) / 2);

    button {
      --background: hsl(from var(--clr-primary) h s l);
      border-radius: inherit;
      flex-shrink: 0;
      max-height: 100%;
      max-width: 100%;
    }
  }

  :where([data-props~="--highlight"]) {
    background-color: transparent;
    isolation: isolate;
    position: relative;

    &::before {
      background-color: hsla(from var(--clr-secondary) h s l);
      border-radius: inherit;
      content: "";
      display: inline-flex;
      height: calc(100% + var(--sm));
      inset: 50%;
      margin: 0;
      opacity: 0;
      position: absolute;
      transition-duration: opacity;
      transition-duration: var(--animDuration);
      transition-timing-function: var(--animTiming);
      translate: -50% -50%;
      width: calc(100% + var(--sm));
      z-index: -1;
    }

    &:hover::before {
      opacity: 1;
    }
  }

  :where([data-props~="--bottomsheet"]) {
    background-color: var(--clr-background);
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    box-shadow: 0 0 25vmax 15vmax black;
    gap: var(--nm);
    height: calc(100dvh - var(--nm));
    inset: auto 0 0;
    margin: auto;
    outline: solid 2px var(--clr-primary);
    outline-offset: -2px;
    overflow: auto;
    overscroll-behavior: contain;
    padding: 25px var(--md, 15px);
    position: fixed;
    width: 100dvw;
    z-index: 20;

    &[open] {
      display: grid;
      grid-auto-rows: max-content;
    }
  }

  :where([data-props~="--fab"]) {
    inset: auto 0 0;
    margin: var(--sm, 10px);
    position: fixed;
    z-index: 1;
  }
}