:where(hr[data-props~="--x"]) {
  height: 1px;
  width: 100%;
}

:where(hr[data-props~="--y"]) {
  height: 100%;
  width: 1px;
}

:where([data-props~="--input"]) {
  align-items: center;
  background-color: var(--clr-background);
  border-radius: var(--xs, 5px);
  display: flex;
  gap: var(--xs, 5px);
  height: 50px;
  outline: solid 2px hsl(from var(--clr-background) h s calc(l + var(--ratio-texts)));
  outline-offset: -2px;
  padding: 0 var(--md, 15px);
  transition-duration: var(--animDuration);
  transition-property: background-color, color, outline, outline-offset;
  transition-timing-function: var(--animTiming);

  &:has(:focus) {
    outline-color: var(--clr-accent);
  }

  & > input {
    background-color: transparent;
    border-radius: 0;
    height: auto;
    outline: none;
    padding: 0;
    width: 100%;
  }

  /* Icon at the start */
  &:has(> .icon:first-child):not(:has(> .icon:last-child)) {
    padding-left: var(--sm, 10px);
  }

  /* Icon at the end */
  &:has(> .icon:last-child):not(:has(> .icon:first-child)) {
    padding-right: var(--sm, 10px);
  }

  /* Icons on both sides */
  &:has(> .icon:first-child):has(> .icon:last-child) {
    padding-left: var(--sm, 10px);
    padding-right: var(--sm, 10px);
  }
}

:where([data-props~="--squircle"]) {
  aspect-ratio: 1/1;
  border-radius: 25%;
  overflow: clip;
  width: 40px;
}

:where([data-props~="--segmented-controls"]) {
  background-color: hsl(from var(--clr-primary) h s calc(l - var(--ratio-backgrounds)));
  border-radius: var(--xl);
  gap: calc(var(--xs) / 5);
  height: 45px;
  outline: solid 2px hsl(from var(--clr-primary) h s calc(l - var(--ratio-backgrounds)));
  outline-offset: -2px;
  overflow: clip;
  padding: calc(var(--xs) / 2);

  button {
    --background: hsl(from var(--clr-primary) h s l);
    border-radius: inherit;
    flex-shrink: 0;
    max-height: 100%;
    max-width: 100%;
  }
}

:where([data-props~="--highlight"]) {
  background-color: transparent;
  isolation: isolate;
  position: relative;

  &::before {
    background-color: hsla(from var(--clr-secondary) h s l);
    border-radius: inherit;
    content: "";
    display: inline-flex;
    height: calc(100% + var(--sm));
    inset: 50%;
    margin: 0;
    opacity: 0;
    position: absolute;
    transition-duration: opacity;
    transition-duration: var(--animDuration);
    transition-timing-function: var(--animTiming);
    translate: -50% -50%;
    width: calc(100% + var(--sm));
    z-index: -1;
  }

  &:hover::before {
    opacity: 1;
  }
}