:where(hr[data-props~="--x"]) {
  height: 1px;
  width: 100%;
}

:where(hr[data-props~="--y"]) {
  height: 100%;
  width: 1px;
}

:where([data-props~="--input"]) {
  align-items: center;
  background-color: var(--clr-background);
  border-radius: var(--xs, 5px);
  gap: var(--xs, 5px);
  height: 50px;
  outline: solid 2px hsl(from var(--clr-background) h s calc(l + var(--ratio-texts)));
  outline-offset: -2px;
  padding: 0 var(--md, 15px);
  transition-duration: var(--animDuration);
  transition-property: background-color, color, outline, outline-offset;
  transition-timing-function: var(--animTiming);

  &:has(:focus) {
    outline-color: var(--clr-accent);
  }

  & > input {
    background-color: transparent;
    border-radius: 0;
    height: auto;
    outline: none;
    padding: 0;
    width: 100%;
  }

  /* Icon at the start */
  &:has(> .icon:first-child):not(:has(> .icon:last-child)) {
    padding-left: var(--sm, 10px);
  }

  /* Icon at the end */
  &:has(> .icon:last-child):not(:has(> .icon:first-child)) {
    padding-right: var(--sm, 10px);
  }

  /* Icons on both sides */
  &:has(> .icon:first-child):has(> .icon:last-child) {
    padding-left: var(--sm, 10px);
    padding-right: var(--sm, 10px);
  }
}