@layer reset {
  :root {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: subpixel-antialiased;
    -webkit-tap-highlight-color: transparent;
    accent-color: var(--clr-accent);
    color-scheme: dark light;
    interpolate-size: allow-keywords;
    scroll-behavior: smooth;
    text-size-adjust: 100%;
    text-wrap: pretty;
  }

  * {
    backface-visibility: inherit;
    border: 0;
    box-sizing: border-box;
    -webkit-font-smoothing: inherit;
    height: auto;
    margin: 0;
    max-width: 100%;
    min-block-size: 0;
    min-height: 0;
    min-inline-size: 0;
    min-width: 0;
    outline: none;
    padding: 0;
    z-index: auto;

    &::after,
    &::before {
      backface-visibility: inherit;
      box-sizing: inherit;
      clear: both;
    }

    &[disabled],
    &[not-allowed] {
      cursor: auto;
      pointer-events: none;
      user-select: none;
    }

    &[not-allowed] {
      cursor: not-allowed;
    }

    &::-webkit-scrollbar {
      height: 5px;
      scrollbar-width: thin;
      width: 5px;
    }
  }

  /* Application root containers */
  :where(#root, #__next, [data-app-root], #app) {
    isolation: isolate;
  }

  :where(html) {
    display: contents;
    font-family: sans-serif;
    font-size: clamp(15px, 100% - 3ex, 20px);
    font-variant-numeric: tabular-nums;
    hanging-punctuation: first last;
    letter-spacing: -0.03em;
    line-height: 1.25em;
    position: static;
    text-underline-offset: 3px;
  }

  :where(body) {
    background-color: var(--clr-background);
    color: var(--clr-text);
    inset: 0;
    max-height: max-content;
    min-height: 100dvh;
    position: inherit;
    transition-property: background-color, color;
    transition-duration: var(--animDuration);
    transition-timing-function: var(--animTiming);
    width: 100dvw;
    will-change: background-color, color;
  }

  @media (prefers-reduced-motion: no-preference) {
    :has(:target) {
      scroll-behavior: smooth;
      scroll-padding-top: 1.25em;
    }
  }

  @media (forced-colors: active) {
    :root {
      forced-color-adjust: auto;
    }

    html,
    body {
      background-color: Canvas;
      color: CanvasText;
    }
  }
}