@layer tokens {
  :root {
    --clr-text: light-dark(hsl(350, 15%, 10%), hsl(350, 15%, 90%));
    --clr-background: light-dark(hsl(350, 15%, 90%), hsl(350, 15%, 10%));

    --clr-primary: hsl(355, 25%, 75%);
    --clr-primary-text: hsl(355, 20%, 25%);

    --clr-secondary: hsl(25, 20%, 35%);
    --clr-secondary-text: hsl(25, 15%, 85%);

    --clr-accent: hsl(40, 25%, 55%);
    --clr-accent-text: hsl(40, 20%, 25%);

    --clr-debug: hsl(340deg, 50%, 50%);
    --clr-error: hsl(0deg, 50%, 50%);
    --clr-info: hsl(215deg, 50%, 50%);
    --clr-success: hsl(145deg, 50%, 50%);
    --clr-warning: hsl(50deg, 50%, 50%);

    --ratio-backgrounds: 1.618;
    --ratio-texts: 3.618;

    --xs: calc(5 * 0.0625rem);
    --sm: calc(10 * 0.0625rem);
    --md: calc(15 * 0.0625rem);
    --nm: calc(20 * 0.0625rem);
    --lg: calc(25 * 0.0625rem);
    --xl: calc(30 * 0.0625rem);

    --animDuration: 325ms;
    --animTiming: cubic-bezier(0.45, 0, 0.25, 1.35);
  }
}