@layer tokens {
  :root {
    --clr-text: light-dark(#120d0d, #f3eeee);
    --clr-background: light-dark(#f0eaeb, #140e0f);
    --clr-primary: light-dark(#4b3537, #c9b3b5);
    --clr-secondary: light-dark(#b9a99d, #615145);
    --clr-accent: light-dark(#8c7d63, #9a8b72);

    --clr-debug: hsl(340deg, 50%, 50%);
    --clr-error: hsl(0deg, 50%, 50%);
    --clr-info: hsl(215deg, 50%, 50%);
    --clr-success: hsl(145deg, 50%, 50%);
    --clr-warning: hsl(50deg, 50%, 50%);

    --ratio-backgrounds: 1.618;
    --ratio-texts: 3.618;

    --xs: calc(5 * 0.0625rem);
    --sm: calc(10 * 0.0625rem);
    --md: calc(15 * 0.0625rem);
    --nm: calc(20 * 0.0625rem);
    --lg: calc(25 * 0.0625rem);
    --xl: calc(30 * 0.0625rem);

    --animDuration: 325ms;
    --animTiming: cubic-bezier(0.45, 0, 0.25, 1.35);
  }
}