@layer normalize {
  :where(a) {
    align-items: center;
    color: var(--clr-accent__base);
    display: inline-flex;
    font-size: var(--type-p);
    gap: var(--space-xs);
    height: max-content;
    outline: solid 1px transparent;
    outline-offset: 1px;
    position: relative;
    text-align: inherit;
    text-decoration: underline;
    text-decoration-skip-ink: auto;
    transition-property: color;
    transition-duration: var(--animDuration);
    transition-timing-function: var(--animTiming);
    text-decoration-thickness: from-font;
    width: fit-content;

    &:focus-visible {
      outline-color: inherit;
      outline-offset: 0.5px;
    }

    &:hover {
      color: var(--clr-accent__raised);
    }

    &:active {
      color: var(--clr-accent__lowered);
    }

    /* Decorative / fake links */
    &:not([href]) {
      color: inherit;
      text-decoration: none;
    }

    &[data-variant="text"] {
      text-decoration: none;

      &:not(:focus-visible, :hover, :active) {
        color: inherit;
      }
    }

    /* Visited, valid links only */
    &:not([data-variant="text"]):visited:not(:focus-visible, :hover, :active) {
      color: var(--clr-accent__lowered);
    }

    &:is([data-is="button"]) {
      color: inherit;
      text-decoration: none;

      &:is(:focus-visible, :hover, :active) {
        color: inherit;
      }
    }

    & > span {
      flex: 1 1;
      font: inherit;
      overflow: clip;
      text-align: inherit;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }
}