@layer normalize {
  :where(button, [data-is="button"], input[type="button"], input[type="reset"], input[type="submit"]) {
    align-items: center;
    background-color: var(--clr-background__base);
    border-radius: 5ex;
    color: inherit;
    display: inline-flex;
    font: inherit;
    gap: var(--xs);
    height: 45px;
    outline: solid 2px transparent;
    outline-offset: -2px;
    overflow: clip;
    padding: var(--xs) var(--md);
    text-align: inherit;
    text-decoration: none;
    transition-property: background-color, color, filter, outline, outline-color, outline-offset;
    transition-duration: var(--animDuration);
    transition-timing-function: var(--animTiming);
    white-space: nowrap;
    width: fit-content;

    &:focus-visible {
      outline-color: var(--clr-text__base);
    }

    &:hover {
      background-color: var(--clr-background__raised);
    }

    &:active {
      background-color: var(--clr-background__lowered);
    }

    &:has(> [data-part='lead']:first-child) {
      padding-left: var(--sm);
    }

    &:has(> [data-part='lead']:first-child:is(figure, kbd)) {
      padding-left: var(--xs);
    }

    &:has(> :where([data-part='trail']):last-child) {
      padding-right: var(--sm);
    }

    &:has(> [data-part='trail']:last-child:is(figure, kbd)) {
      padding-right: var(--xs);
    }

    &:has(> :where(i, figure, kbd):only-child) {
      aspect-ratio: 1/1;
      display: grid;
      flex-shrink: 0;
      height: 45px;
      padding: 0;
      place-content: center;
      width: 45px;
    }

    &:where([data-variant="outline"]) {
      background-color: transparent;
      color: var(--clr-text__base);
      outline-color: var(--clr-border__base);
    }

    &:where([data-variant='ghost']) {
      background-color: transparent;
      border-radius: 0;
      height: auto;
      outline-color: transparent;
      padding: 0;

      &:focus-visible {
        outline-color: inherit;
        outline-offset: 0.5px;
      }

      &:hover {
        background-color: transparent;
        color: var(--clr-text__raised);
      }

      &:active {
        background-color: transparent;
        color: var(--clr-text__lowered);
      }
    }

    & > span {
      flex: 1 1;
      font: inherit;
      overflow: clip;
      text-align: inherit;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }
}