@layer normalize {
  :where(dialog) {
    background-color: var(--clr-background__base);
    border-radius: 1ex;
    height: max-content;
    inset: 0;
    margin: auto;
    position: absolute;

    &:modal {
      outline: solid 2px var(--clr-border__base);
      outline-offset: -2px;
    }

    &::backdrop {
      background-color: hsl(from var(--clr-background__lowered) h s l / 75%);
      backdrop-filter: blur(0.5ex);
    }
  }
}