@layer normalize {
  :where(input) {
    background-color: var(--clr-background__base);
    border-radius: var(--radii-sm);
    color: var(--clr-text__base);
    display: inline-block;
    font-size: var(--type-p);
    height: 45px;
    outline: solid 2px var(--clr-border__base);
    outline-offset: -2px;
    overflow: clip;
    padding: 0 var(--space-md);
    transition-property: background-color, color, outline, outline-offset;
    transition-duration: var(--animDuration);
    transition-timing-function: var(--animTiming);
    vertical-align: -webkit-baseline-middle;
    white-space: nowrap;
    width: fit-content;

    &:focus-visible {
      outline-color: var(--clr-accent__base);
    }
  }

  :where(input[type="color"]) {
    --size: var(--space-xl);

    appearance: none;
    aspect-ratio: 1/1;
    height: var(--size);
    padding: 0;
    width: var(--size);

    &::-webkit-color-swatch-wrapper {
      padding: 0;
    }

    &::-webkit-color-swatch {
      border: none;
    }
  }

  :where(input[type="checkbox"], input[type="radio"]) {
    appearance: none;
    aspect-ratio: 1/1;
    background-color: var(--clr-background__base);
    border: solid 2px var(--clr-border__base);
    contain: content;
    display: inline-grid;
    flex: 0 0;
    height: var(--space-nm);
    outline: none;
    padding: 0;
    touch-action: manipulation;
    transition-property: backgrond-color;
    transition-duration: var(--animDuration);
    transition-timing-function: var(--animTiming);
    user-select: none;
    vertical-align: text-bottom;
    width: var(--space-nm);

    &:checked {
      background-color: var(--clr-accent__base);
    }
  }

  :where(input[type="checkbox"]) {
    border-radius: var(--radii-xs);
  }

  :where(input[type="radio"]) {
    border-radius: var(--radii-full);
  }

  :where(input[type="range"]) {
    --track-height: .5ex;
    --thumb-size: 3ex;
    --thumb-offset: -1.25ex;

    appearance: none;
    background: transparent;
    display: block;
    inline-size: 100%;
    outline: none;
    padding: 0;

    &::-webkit-slider-runnable-track {
      appearance: none;
      background-color: var(--clr-border__base);
      block-size: var(--track-height);
      border-radius: var(--radii-ull);
      cursor: pointer;
    }

    &::-webkit-slider-thumb {
      appearance: none;
      background-color: var(--clr-text__base);
      block-size: var(--thumb-size);
      border-radius: var(--radii-full);
      cursor: ew-resize;
      inline-size: var(--thumb-size);
      margin-top: var(--thumb-offset);
      transition-property: background-color;
      transition-duration: var(--animDuration);
      transition-timing-function: var(--animTiming);

      &:hover {
        background-color: var(--clr-text__raised);
      }

      &:active {
        background-color: var(--clr-text__lowered);
      }
    }
  }
}