@layer normalize {
  :where(audio, canvas, figure, iframe, img, video) {
    display: inline-block;
    width: fit-content;
  }

  :where(audio) {
    height: 50px;
    width: clamp(250px, 100%, 350px);
  }

  :where(figure > img) {
    display: block;
    height: 100%;
    width: 100%;
  }

  :where(img) {
    object-fit: cover;
  }
}