@layer data-attributes {
  :where([data-is="bottomsheet"]) {
    background-color: var(--clr-background__base);
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    height: max-content;
    inset: auto 0 0;
    margin: auto;
    max-height: calc(100% - var(--md));
    outline: solid 2px var(--clr-background__base);
    outline-offset: -2px;
    overflow: auto;
    overscroll-behavior: contain;
    position: fixed;
    width: 100dvw;
    z-index: 20;

    &[open] {
      display: grid;
      grid-auto-rows: max-content;
    }

    & > header {
      padding: var(--lg) var(--nm) var(--nm);

      p {
        color: var(--clr-text__lowered);
      }
    }

    & > a {
      width: 100%;

      & > span {
        flex: 1 1;
      }
    }

    /* &::before {
      background-color: hsl(0 0 0 / 0.75);
      content: '';
      display: block;
      inset: 0;
      position: fixed;
      z-index: -1;
    } */
  }
}