@layer data-attributes {
  :where([data-is="bottomsheet"]) {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    inset: auto 0 0;
    max-height: 75%;
    overflow: auto;
    overscroll-behavior: contain;
    width: 100%;

    &[open] {
      display: grid;
      grid-auto-rows: max-content;
    }

    & > header {
      padding: var(--lg) var(--nm) var(--nm);

      p {
        color: var(--clr-text__lowered);
      }
    }

    & > a {
      width: 100%;

      & > span {
        flex: 1 1;
      }
    }

    /* &::before {
      background-color: hsl(0 0 0 / 0.75);
      content: '';
      display: block;
      inset: 0;
      position: fixed;
      z-index: -1;
    } */
  }
}