@layer data-attributes {
  :where([data-is="card"]) {
    background-color: var(--clr-background__base);
    border-radius: var(--xs);
    display: flex;
    flex-direction: column;
    flex: 1 1;
    gap: var(--nm);
    padding: var(--nm);
    width: 100%;
  }
}