@layer data-attributes {
  :where([data-is="codeblock"]) {
    background-color: var(--clr-background__base);
    border-radius: var(--xs);
    display: flex;
    flex-direction: column;
    flex: 1 1;
    outline: dashed 2px var(--clr-border__base);
    outline-offset: -2px;
    width: 100%;

    [data-part="example"] {
      padding: var(--nm);
    }

    & > pre {
      padding: var(--nm);
    }
  }
}