@layer data-attributes {
  :where([data-is="codeblock"]) {
    background-color: var(--clr-background__lowered);
    border-radius: var(--xs);
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: max-content 1fr;
    outline: dashed 2px var(--clr-border__base);
    outline-offset: -2px;
    width: 100%;

    [data-part="example"] {
      padding: var(--nm);
    }

    & > pre {
      padding: var(--nm);
    }
  }
}