@layer data-attributes {
  :where([data-is="field"]) {
    display: grid;
    gap: var(--space-xs);
    grid: auto/1fr;

    & > [data-part="label"] {
      align-items: center;
      color: var(--clr-text__base);
      display: flex;
      font-size: var(--type-p);
    }

    & > :where(input:not([type=checkbox], [type=radio]), select) {
      width: 100%;
    }

    & > [data-part="caption"] {
      color: var(--clr-text__lowered);

      &:empty {
        display: none;
      }
    }

    & [data-status="debug"] {
      color: var(--clr-debug__base);
    }

    & [data-status="error"] {
      color: var(--clr-error__base);
    }

    & [data-status="info"] {
      color: var(--clr-info__base);
    }

    & [data-status="success"] {
      color: var(--clr-success__base);
    }

    & [data-status="warning"] {
      color: var(--clr-warning__base);
    }
  }
}