@layer data-attributes {
  :where([data-geometry="circle"]) {
    aspect-ratio: 1/1;
    border-radius: 50%;
    overflow: clip;
  }

  :where([data-geometry="squircle"]) {
    aspect-ratio: 1/1;
    border-radius: 25%;
    overflow: clip;
  }
}