@layer data-attributes {
  :where([data-is="input"]) {
    align-items: center;
    background-color: var(--clr-background__base);
    border-radius: var(--radii-sm);
    display: flex;
    gap: var(--xs);
    height: 45px;
    outline: solid 2px var(--clr-border__base);
    outline-offset: -2px;
    overflow: clip;
    padding: var(--xs) var(--md);
    transition-duration: var(--animDuration);
    transition-property: background-color, color, outline, outline-offset;
    transition-timing-function: var(--animTiming);

    &:focus-visible {
      outline-color: var(--clr-text__base);
    }

    &:has(:focus) {
      outline-color: var(--clr-accent__base);
    }

    & > input {
      background-color: transparent;
      border-radius: var(--radii-none);
      height: auto;
      outline: none;
      padding: 0;
      width: 100%;
    }

    & > :where([data-part='lead'], [data-part='trail']) {
      flex-shrink: 0;
    }

    &:has(> [data-part='lead']:first-child) {
      padding-left: var(--sm);
    }

    /* &:has(> [data-part='lead']:first-child:is(figure, kbd)) {
      padding-left: var(--xs);
    } */

    &:has(> :where([data-part='trail']):last-child) {
      padding-right: var(--sm);
    }

    /* &:has(> [data-part='trail']:last-child:is(figure, kbd)) {
      padding-right: var(--xs);
    } */
  }
}