@layer data-attributes {
  :where([data-is="input"]) {
    align-items: center;
    background-color: var(--clr-background__base);
    border-radius: var(--xs);
    display: flex;
    gap: var(--xs);
    height: 45px;
    outline: solid 2px var(--clr-border__base);
    outline-offset: -2px;
    overflow: clip;
    padding: 0 var(--md);
    transition-duration: var(--animDuration);
    transition-property: background-color, color, outline, outline-offset;
    transition-timing-function: var(--animTiming);

    &:has(:focus) {
      outline-color: var(--clr-accent__base);
    }

    & > input {
      background-color: transparent;
      border-radius: 0;
      height: auto;
      outline: none;
      padding: 0;
      width: 100%;
    }

    & > :where([data-part='lead'], [data-part='trail']) {
      flex-shrink: 0;
    }

    &:has(> :where([data-part='lead'], [data-part='trail']):first-child):not(:has(> :where([data-part='lead'], [data-part='trail']):last-child)) {
      padding-left: var(--sm);
    }

    &:has(> :where(.icon, button, figure):last-child):not(:has(> :where([data-part='lead'], [data-part='trail']):first-child)) {
      padding-right: var(--sm);
    }

    &:has(> :where([data-part='lead'], [data-part='trail']):first-child):has(> :where([data-part='lead'], [data-part='trail']):last-child) {
      padding-left: var(--sm);
      padding-right: var(--sm);
    }
  }
}