@layer data-attributes {
  :where([data-is="segmented-controls"]) {
    background-color: var(--clr-background__base);
    border-radius: 5ex;
    gap: calc(var(--xs) / 5);
    height: 45px;
    outline: solid 2px var(--clr-background-10);
    outline-offset: -2px;
    overflow: clip;
    padding: calc(var(--xs) / 2);

    & > button {
      border-radius: inherit;
      flex-shrink: 0;
      max-height: 100%;
      max-width: 100%;
    }
  }
}