---
import ShellLayout from '@layouts/app.astro';
import ViewFrame from '@layouts/frame.astro';

import Appbar from './components/appbar.astro';
---

<ShellLayout>
	<ViewFrame>
		<div id='rubikstudioapp' data-is='app'>
			<div data-is='layer' data-variant='over'></div>

			<Appbar />

			<div id='rubikstudioapp__content' data-layout='expand'>
				<slot />
			</div>

			<!-- <template>
				<script
					src='https://cdn.jsdelivr.net/npm/gsap@3.13.0/dist/gsap.min.js'
					is:inline></script>
				<script
					src='https://cdn.jsdelivr.net/npm/gsap@3.13.0/dist/ScrollTrigger.min.js'
					is:inline></script>
				<script
					src='https://cdn.jsdelivr.net/npm/gsap@3.13.0/dist/ScrollSmoother.min.js'
					is:inline></script>

				<script is:inline>
					// Wait for all scripts to load
					window.addEventListener('load', () => {
						if (typeof gsap !== 'undefined') {
							gsap.registerPlugin(ScrollTrigger, ScrollSmoother);
							// Your GSAP code here
							console.log('GSAP is ready!', gsap);
						} else {
							console.error('GSAP failed to load');
						}
					});
				</script>
			</template> -->

			<style lang='css' is:inline>
				@scope (#rubikstudioapp) {
					:scope {
						background-color: var(--clr-background__lowered);
						height: 100%;
						min-height: 0;
						position: relative;

						@scope (#rubikstudioapp__content) {
							:scope {
								height: 100%;
								isolation: isolate;
								place-content: safe center;
								position: relative;
								z-index: 1;
							}
						}
					}
				}
			</style>
		</div>
	</ViewFrame>
</ShellLayout>
