div[data-is='input'] {
  align-items: start;
  flex-direction: column;
  gap: var(--space-sm);
  height: max-content;
  overflow: clip;
  padding: var(--space-sm) var(--space-md);

  & > div[data-is='row'] {
    gap: inherit;
    place-content: space-between;
    width: 100%;
  }
}