@layer utils {
  .bord {
    border-style: solid;
  }

  .outln {
    outline-style: solid;
  }

  .radius {
    @each $v
      in (5xs, 4xs, 3xs, 2xs, xs, sm, md, nm, lg, xl, 2xl, 3xl, 4xl, 5xl) {
      &-#{$v} {
        --radius: var(--scale-#{$v});
        border-radius: var(--radius);
      }
    }
  }
}
