main {
  display: flex;
  flex-direction: column-reverse;
  gap: var(--md, 15px);
  height: 100%;
  overflow: clip;
  padding: var(--md, 15px);

  & > * {
    flex-shrink: 0;
  }

  @media screen and (min-width: 440px) {
    flex-direction: row;
  }
}

#navigation {
  align-items: center;
  flex-direction: column-reverse;
  flex-shrink: 0;
  gap: var(--md, 15px);

  @media screen and (min-width: 440px) {
    flex-direction: row;
  }

  #rail {
    align-items: inherit;
    background-color: hsl(from var(--clr-background) h s calc(l + var(--ratio-texts)));
    backdrop-filter: blur(var(--xs, 5px));
    border-radius: var(--xs, 5px);
    flex-shrink: 0;
    gap: inherit;
    height: 50px;
    overflow: clip;
    padding: var(--md, 15px);
    width: 100%;

    @media screen and (min-width: 440px) {
      flex-direction: column;
      height: 100%;
      width: 50px;
    }

    #logo {
      aspect-ratio: 1/1;
      flex-shrink: 1;
      height: 20px;
      width: 20px;
    }

    #menu-icons {
      align-items: inherit;
      flex-grow: 1;
      flex-wrap: nowrap;
      gap: var(--md, 15px);
      place-content: end;

      @media screen and (min-width: 440px) {
        flex-direction: column;
      }

      :where(a:not(:hover, :focus, :active)) {
        color: inherit;
      }

      button {
        --background: inherit;
        aspect-ratio: 1/1;
        border-radius: 0;
        color: inherit;
        height: auto;
        padding: 0;
      }
    }
  }

  #drawer {
    background-color: hsl(from var(--clr-background) h s calc(l + var(--ratio-texts)));
    backdrop-filter: blur(var(--xs));
    border-radius: var(--xs, 5px);
    flex-direction: column;
    gap: var(--md, 15px);
    inset: auto 0 calc(50px + var(--md, 15px)) 0;
    margin: var(--md, 15px);
    max-height: calc(100% - calc(var(--md, 15px) * 2) - 50px - 15px);
    max-width: calc(100% - calc(var(--md, 15px) * 2));
    min-height: 0;
    min-width: 0;
    outline: none;
    overflow: auto;
    padding: var(--md, 15px);
    place-content: space-between;
    width: 100%;

    &[open] {
      display: flex;
    }

    @media screen and (min-width: 440px) {
      height: calc(100% - 42px);
      inset: 0 0 0 calc(50px + var(--md, 15px));
      max-height: calc(100% - calc(var(--md, 15px) * 2));
      place-content: start;
      width: min(300px, 100%);
    }

    > * {
      flex-shrink: 0;
    }

    a {
      align-items: center;
      display: flex;
      gap: var(--xs, 5px);
      width: 100%;

      &:where(:not(:hover, :focus, :active)) {
        color: inherit;
      }

      span {
        flex-grow: 1;
      }
    }
  }
}