html {
  font-family: "Poppins", sans-serif;
}

:is(#app > #app__content > x-window) {
  display: grid;
  overflow: auto;
}

#notification {
  background-color: var(--clr-background);
  border-radius: var(--md);
  height: max-content;
  outline: solid 2px hsl(from var(--clr-background) h s calc(l + var(--ratio-texts)));
  outline-offset: -2px;
  place-self: safe center;
  width: min(100%, 440px);

  & > x-row {
    align-items: center;
    gap: var(--md, 15px);
    padding: var(--lg, 25px);

    & > figure {
      aspect-ratio: 1/1;
      border-radius: var(--xs, 5px);
      flex-shrink: 0;
      height: calc(var(--xl, 35px) * 2.5);
      overflow: clip;
    }

    & > x-group {
      width: fit-content;

      & > span {
        color: #808080;
      }
    }

    & > p {
      width: 100%;
    }

    & > button {
      flex-grow: 1;
      min-width: max-content;
      place-content: center;
    }
  }
}