#appbar {
  background-color: hsl(from var(--clr-background) h s calc(l + var(--ratio-backgrounds)));
  gap: var(--md);
  padding: var(--md) var(--sm);

  & > x-flex {
    gap: var(--sm);
    place-items: center;
  }

  #menu {
    a {
      display: none;
    }
  }
}