@layer normalize {
  :where(dialog) {
    background-color: var(--clr-background__base);
    border-radius: var(--radii-md);
    height: max-content;
    inset: 0;
    margin: auto;
    position: absolute;

    &:modal {
      outline: solid 2px var(--clr-border__lowered);
      outline-offset: -2px;
    }

    &::backdrop {
      background-color: hsl(from var(--clr-background__lowered) h s l/0.125);
      backdrop-filter: blur(var(--radii-xs));
      pointer-events: none;
    }
  }
}