---
import Layout from '../../layouts/app.astro';
import Iframe from '../../layouts/iframe.astro';
---

<Layout scheme='dark'>
	<Iframe>
		<ly-flex axis='x'>
			<a href='#' class='clr-inherit'>
				<i class='bg-text clr-subtext'> layers </i>
				<h6>Discovery</h6>
			</a>
		</ly-flex>
		<ly-flex axis='x' class='g-5xs'>
			<button data-variant='outline'>
				<i class='bg-tertiary'> auto_awesome_mosaic </i>
				<span>Layout</span>
			</button>
			<button data-variant='outline'>
				<i class='bg-tertiary'> looks </i>
				<span>Customizing</span>
			</button>
			<button data-variant='outline'>
				<i class='bg-tertiary'> campaign </i>
				<span>Report Details</span>
			</button>
		</ly-flex>
		<ly-grid tmpl='3' class='g-sm'>
			<ly-flex axis='y' class='g-sm'>
				<ly-group class='g-sm p-sm outln outln-primary radius-3xs'>
					<header class='align-end[items] flex flex-row place-between'>
						<label>Visualization</label>
						<button>
							<i data-is='icon'> add </i>
						</button>
					</header>
					<ly-flex class='g-sm wrap'>
						<button data-variant='outline'>
							<i class='xl'> data_exploration </i>
						</button>
						<button data-variant='outline'>
							<i class='xl outlined'> database </i>
						</button>
						<button data-variant='outline'>
							<i class='xl outlined'> function </i>
						</button>
						<button data-variant='outline'>
							<i class='xl outlined'> timeline </i>
						</button>
						<button data-variant='outline'>
							<i class='xl outlined'> stacked_line_chart </i>
						</button>
						<button data-variant='outline'>
							<i class='xl outlined'> bubble_chart </i>
						</button>
						<button data-variant='outline'>
							<i class='xl outlined'> pie_chart </i>
						</button>
						<button data-variant='outline'>
							<i class='xl outlined'> donut_large </i>
						</button>
					</ly-flex>
				</ly-group>

				<ly-group class='g-sm p-sm outln outln-primary radius-3xs'>
					<header class='align-end[items] flex flex-row place-between'>
						<label>Fields</label>
						<ly-flex axis='x' class='place-end[items]'>
							<button>
								<i data-is='icon'> search </i>
							</button>
							<button>
								<i data-is='icon'> instant_mix </i>
							</button>
						</ly-flex>
					</header>
					<ly-slider axis='y' class='g-5xs h-100'>
						<button data-variant='outline'>
							<i class='bg-primary'> text_fields </i>
							<span>Account Name</span>
						</button>
						<button data-variant='outline'>
							<i class='bg-primary'> text_fields </i>
							<span>Billing City</span>
						</button>
						<button data-variant='outline'>
							<i class='bg-primary'> text_fields </i>
							<span>Billing State</span>
							<i class='bg-primary'> text_fields </i>
						</button>
						<button data-variant='outline'>
							<i class='bg-primary'> text_fields </i>
							<span>Forecast Category</span>
						</button>
						<button data-variant='outline'>
							<i class='bg-primary'> text_fields </i>
							<span>Industry</span>
						</button>
						<button data-variant='outline'>
							<i class='bg-primary'> text_fields </i>
							<span>Lead Source</span>
						</button>
						<button data-variant='outline'>
							<i class='bg-primary'> text_fields </i>
							<span>Opportunity Name</span>
						</button>
						<button data-variant='outline'>
							<i class='bg-primary'> text_fields </i>
							<span>Owner Role</span>
						</button>
						<button data-variant='outline'>
							<i class='bg-primary'> tag </i>
							<span>Cast</span>
						</button>
						<button data-variant='outline'>
							<i class='bg-primary'> tag </i>
							<span>Amount</span>
						</button>
						<button data-variant='outline'>
							<i class='bg-primary'> tag </i>
							<span>Name</span>
						</button>
						<button data-variant='outline'>
							<i class='bg-primary'> calendar_month </i>
							<span>Close Date</span>
						</button>
						<button data-variant='outline'>
							<i class='bg-primary'> calendar_month </i>
							<span>Created Date</span>
						</button>
					</ly-slider>
				</ly-group>
			</ly-flex>
			<ly-flex axis='y' class='g-sm'>
				<ly-group class='g-sm p-sm outln outln-primary radius-3xs'>
					<header class='align-end[items] flex flex-row place-between'>
						<label>Color Stack</label>
					</header>
					<ly-group class='g-5xs place-center[items]'>
						<button data-variant='outline'>
							<i data-is='icon'> add </i>
						</button>
						<small>Drop Field Here</small>
					</ly-group>
					<ly-slider class='h-100'> </ly-slider>
				</ly-group>

				<ly-group class='g-sm p-sm outln outln-primary radius-3xs'>
					<header class='align-end[items] flex flex-row place-between'>
						<label>Stages</label>
					</header>
					<ly-group class='g-5xs place-center[items]'>
						<button data-variant='outline'>
							<i data-is='icon'> add </i>
						</button>
						<small>Drop Field Here</small>
					</ly-group>
					<ly-slider class='h-100'> </ly-slider>
				</ly-group>

				<ly-group class='g-sm p-sm outln outln-primary radius-3xs'>
					<header class='align-end[items] flex flex-row place-between'>
						<label>Metrics</label>
						<button>
							<i data-is='icon'> add </i>
						</button>
					</header>
					<ly-group class='g-5xs place-center[items]'>
						<button data-variant='outline'>
							<i data-is='icon'> add </i>
						</button>
						<small>Drop Field Here</small>
					</ly-group>
					<ly-slider axis='y' class='h-100'>
						<button data-variant='outline'>
							<i class='bg-primary'> text_fields </i>
							<span>Opportunity</span>
						</button>
					</ly-slider>
				</ly-group>
			</ly-flex>

			<ly-group class='g-sm p-sm outln outln-primary radius-3xs'>
				<header class='align-end[items] flex flex-row place-between'>
					<header>
						<label>Opportunity ID</label>
					</header>
					<div class='container'></div>
				</header>
			</ly-group>
		</ly-grid>

		<style lang='css' is:inline>
			:global(ly-app) {
				& > *:first-child {
					margin-top: 0;
				}
			}
		</style>
	</Iframe>
</Layout>
