---
import Layout from '../../layouts/app.astro';
import Iframe from '../../layouts/frame.astro';
---

<Layout>
	<Iframe>
		<div
			data-is='layer'
			data-variant='under'
			style='filter: blur(0.5ex); visibility: visible;'>
			<figure data-is='background'>
				<img
					src='https://images.unsplash.com/photo-1740750958991-19f18db5a676?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D'
					alt='background'
				/>
			</figure>
		</div>

		<div
			data-is='stack'
			style='gap: 15px; height: 100dvh; margin: auto; place-content: center; place-items: center; text-align: center; width: min(100%, 50dvw);'>
			<i data-is='icon' style='--size: 75px;'> asterisk </i>

			<h6>Quasi adipisci dolorum dignissimos rerum eaque voluptas</h6>

			<label for='search' data-is='input' style='width: 100%;'>
				<input type='text' placeholder='Ask a follow-up' />
				<i data-is='icon' data-part='trail'>arrow_right_alt</i>
			</label>
		</div>

		<div
			data-is='row'
			style='inset: auto 0 0 0; margin: auto; padding: var(--nm); position: fixed; width: fit-content;'>
			<i data-is='icon' style='--size: 50px;'>home</i>
			<i data-is='icon' style='--size: 50px;'>bookmark</i>
			<i data-is='icon' style='--size: 50px;'>person</i>
		</div>
	</Iframe>
</Layout>
