---
import Layout from '../../layouts/app.astro';
import Iframe from '../../layouts/iframe.astro';
---

<Layout>
	<Iframe>
	<!--  -->
	<h1>Products</h1>
	<p>
		Lorem ipsum dolor sit amet consectetur, adipisicing elit. Velit, impedit
		officiis laborum quibusdam alias illo dolores ad maxime repudiandae incidunt
		non asperiores voluptas, saepe iste corporis! Doloribus nam asperiores
		numquam!
	</p>
	<!--  -->
	<x-grid style="--cols: 3;"class='g-sm'>
		{
			[...Array(4).keys()].map((i) => (
				<article class='inline-grid outln outln-primary g-sm p-sm radius-sm' style=`${i < 1 && 'grid-column: 1/-1;'}`>
					<figure class='w-100'>
						<img
							src='https://cdn.dribbble.com/userupload/14856095/file/original-2054c6980b03637f35168d04410351b8.jpg?resize=1024x768'
							alt='thumbnail'
						/>
						<x-dropdown class='ps-absolute top right mt-5xs mr-5xs'>
							<summary slot='summary' class='radius-3xs __button __outline' style="--bg: transparent; mix-blend-mode: difference;">
								<i data-is='icon'> more_vert </i>
							</summary>
							<button>
								<span>option</span>
							</button>
							<button>
								<span>option</span>
							</button>
							<button>
								<span>option</span>
							</button>
						</x-dropdown>
					</figure>
					<x-group class='g-3xs px-sm'>
						<figure
							class='aspect-[1/1] bord bord-background radius-sm w-max'
							style='height: calc(var(--scale-xl) * 2); margin-top: calc(calc(var(--scale-xl) * 1.5) * -1);'>
							<img
								src='https://cdn.dribbble.com/userupload/14856095/file/original-2054c6980b03637f35168d04410351b8.jpg?resize=1024x768'
								alt='thumbvatar'
							/>
						</figure>
						<x-flex axis='x' class='align-center[items] g-sm place-between  wrap'>
							<h6>Product Name</h6>
							<small class='inline-block bg-subtext clr-text px-sm py-3xs radius-3xs txt-truncate'>
								Product Tag
							</small>
						</x-flex>
						<p>
							Lorem ipsum dolor sit amet consectetur adipisicing elit.
							Necessitatibus debitis, expedita vitae molestias autem eaque
							aperiam aut ab labore et temporibus repudiandae cum sint quas
							officia enim a incidunt aliquam.
						</p>
					</x-group>

					<hr class='h-1[pt]' />

					<footer class='align-center[items] flex-row g-sm place-between wrap'>
						<button data-variant='outline'> Call to action </button>
						<a>
							<i data-is='icon'>cloud_download</i>
							<span> 3,000 finished </span>
						</a>
					</footer>
				</article>
			))
		}
	</x-grid>
	<!--  -->
  </Iframe>
</Layout>
