@font-face {
    font-display: auto;
    font-family: 'Material Symbols Rounded';
    font-style: normal;
    font-weight: normal;
    src: url('/node_modules/material-symbols/material-symbols-rounded.woff2') format('woff2');
}