---
import Layout from 'src/lib/layout.emails.astro';
---

<Layout>
	<table
		role='presentation'
		style="background-color: #eee; height: fit-content; line-height: 1.5; margin: 0 auto; border-collapse: collapse; width: 100%; max-width: 100%; font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;">
		<tbody>
			<tr>
				<td style='padding: 32px 0;'>
					<table
						role='presentation'
						style='border-radius: 16px; overflow: hidden; background-color: #fff; box-shadow: 0 8px 32px -8px rgba(0,0,0,0.125); height: fit-content; line-height: 1.5; margin: 0 auto; max-width: 840px; border-collapse: collapse;'>
						<tr>
							<td>
								<figure class='margin: 0; width: 100%; max-width: 100%;'>
									<img
										src='https://firebasestorage.googleapis.com/v0/b/hytechgizmo.appspot.com/o/hytech_images%2Fhero-banner.jpg?alt=media&token=4fa4285c-a3e4-447d-88d9-d3ee474048fb'
										alt='banner'
										style='margin: 0; object-fit: cover; height: 100%; max-height: 100%; width: 100%; max-width: 100%;'
									/>
								</figure>
							</td>
						</tr>
						<tr>
							<td style='background-color: #f6f6f6; padding: 32px;'>
								<h1
									style='color: #333; font-size:24px; font-weight:bold; margin-bottom: 6px;'>
									Welcome to Sustainable Solutions with Hytech Home!
								</h1>
								<p style='font-size:16px; color: #333;'>
									<p style='margin-bottom: 6px;'>Hi [Name].</p>
									Thanks for joining the Hytech Home community! We're excited to
									help you create sustainable and energy-efficient homes.
								</p>
							</td>
						</tr>
						<tr>
							<td style='padding: 32px;'>
								<section>
									<h2>Elevate Your Projects with Cutting-Edge Renewables</h2>
									<p style='font-size:16px; color: #333; margin-bottom: 6px;'>
										Impress your clients with Tesla, a leader in the renewable
										energy field. Hytech Home offers a range of Tesla products
										to elevate your projects:
									</p>
									<ul style='list-style:none;'>
										<li style='margin-bottom: 6px;'>
											<span style='font-weight:bold;'> Solar Roof: </span>
											Generate clean energy directly from your roof with a beautiful,
											integrated design.
										</li>
										<li style='margin-bottom: 6px;'>
											<span style='font-weight:bold;'> Powerwalls: </span>
											Store excess solar energy for reliable backup power, day or
											night.
										</li>
										<li>
											<span style='font-weight:bold;'> EV Chargers: </span>
											Equip your clients' homes for the future with convenient and
											powerful charging solutions.
										</li>
									</ul>
								</section>
								<hr
									style='display: block; padding: 0; height: 1px; width: 96%; margin: 32px auto; background-color: #f8f8f8;'
								/>
								<section>
									<h2>Beyond Tesla: Comprehensive Energy-Saving Solutions</h2>
									<p style='font-size:16px; color: #333; margin-bottom: 6px;'>
										Hytech Home goes beyond Tesla, offering a comprehensive
										suite of energy-saving solutions:
									</p>
									<ul style='list-style:none;'>
										<li style='margin-bottom: 6px;'>
											<span style='font-weight:bold;'>
												Geothermal Heating & Cooling:
											</span>
											Tap into the earth's natural temperature for year-round comfort.
										</li>
										<li style='margin-bottom: 6px;'>
											<span style='font-weight:bold;'>
												Heat Pump HVAC Systems:
											</span>
											Enjoy efficient heating and cooling with minimal environmental
											impact.
										</li>
										<li>
											<span style='font-weight:bold;'>
												Spray Foam Insulation:
											</span>
											Achieve superior air sealing and energy savings with advanced
											insulation technology.
										</li>
									</ul>
								</section>
							</td>
						</tr>
						<tr>
							<td
								style='padding: 32px 32px 16px; background-color: #f6f6f6; text-align: center;'>
								<p
									style='font-weight: bold; margin: 0; padding: 0; font-size:16px; color: #333;'>
									Let's build exceptional and eco-friendly homes together.
									Contact us today to learn more about Hytech Home's solutions.
								</p>
							</td>
						</tr>
						<tr>
							<td
								style='padding: 16px 32px 32px; background-color: #f6f6f6; text-align: center;'>
								<a
									href='#'
									style='border-radius: 32px; background-color: #4cd747; color: #f6f6f6; padding: 16px 32px; font-weight: bold; text-decoration:none;'>
									Contact Us
								</a>
							</td>
						</tr>
						<tr>
							<td
								style='font-size: 12px; color: #333; padding:32px; font-weight: bold; text-align: center;'>
								© 2024 Hytech Home. All Rights Reserved.
							</td>
						</tr>
					</table>
				</td>
			</tr>
		</tbody>
	</table>
</Layout>

<style>
	* {
		border: none;
		box-sizing: border-box;
		margin: 0;
		outline: none;
		padding: 0;
		max-width: 100%;
	}
</style>
