---
import ShellLayout from '@layouts/app.astro';
import ViewFrame from '@layouts/frame.astro';
---

<ShellLayout>
	<select id='select'>
		<option>Option One</option>
		<option>Option Two</option>
		<option>Option Three</option>
	</select>
</ShellLayout>
