@layer tokens {
  :root {
    --clr-background__lowered: light-dark(hsl(30, 10%, 90%), hsl(30, 5%, 3%));
    --clr-background__base: light-dark(hsl(30, 10%, 95%), hsl(30, 5%, 5%));
    --clr-background__raised: light-dark(hsl(30, 10%, 98%), hsl(30, 5%, 7%));

    --clr-text__lowered: light-dark(hsl(30, 10%, 46%), hsl(30, 5%, 65%));
    --clr-text__base: light-dark(hsl(30, 10%, 27%), hsl(30, 5%, 90%));
    --clr-text__raised: light-dark(hsl(30, 10%, 17%), hsl(30, 5%, 100%));

    --clr-border__lowered: light-dark(hsl(30, 10%, 83%), hsl(30, 5%, 8%));
    --clr-border__base: light-dark(hsl(30, 10%, 87%), hsl(30, 5%, 10%));
    --clr-border__raised: light-dark(hsl(30, 10%, 90%), hsl(30, 5%, 12%));

    --clr-primary__lowered: hsl(17, 35%, 55%);
    --clr-primary__base: hsl(17, 34%, 60%);
    --clr-primary__raised: hsl(17, 35%, 65%);
    --clr-onPrimary: hsl(17, 33%, 10%);

    --clr-secondary__lowered: hsl(234, 35%, 55%);
    --clr-secondary__base: hsl(234, 34%, 60%);
    --clr-secondary__raised: hsl(234, 35%, 65%);
    --clr-onSecondary: hsl(234, 33%, 10%);

    --clr-accent__lowered: hsl(4 65 53);
    --clr-accent__base: hsl(4 65 58);
    --clr-accent__raised: hsl(4 65 63);
    --clr-onAccent: hsl(4 65% 10);

    --clr-debug__lowered: #D24698;
    --clr-debug__base: #D75BA3;
    --clr-debug__raised: #DC6FAF;
    --clr-onDebug: #290A1C;

    --clr-error__lowered: #D24646;
    --clr-error__base: #D75B5B;
    --clr-error__raised: #DC6F6F;
    --clr-onError: #290A0A;

    --clr-info__lowered: #46A4D2;
    --clr-info__base: #5BAED7;
    --clr-info__raised: #6FB8DC;
    --clr-onInfo: #0A1F29;

    --clr-success__lowered: #46D269;
    --clr-success__base: #5BD77A;
    --clr-success__raised: #6FDC8B;
    --clr-onSuccess: #0A2912;

    --clr-warning__lowered: #D29F46;
    --clr-warning__base: #D7AA5B;
    --clr-warning__raised: #DCB46F;
    --clr-onWarning: #291E0A;
  }
}