---
import { Image } from 'astro:assets';
import Avatar from '../../assets/luisrmelo.png';
import Layout from '../../layouts/app.astro';
import Iframe from '../../layouts/iframe.astro';
---

<Layout>
	<Iframe>
		<aside id='notion__sidebar' class='expanded'>
			<x-flex>
				<button type='button' data-roles='outline'>
					<figure
						data-roles='circle'
						style='background-color: white; height: var(--xl);'>
						<Image src={Avatar} alt='avatar' decoding='async' loading='eager' />
					</figure>
					<span> Luis R. Melo </span>
					<i class='icon'>keyboard_arrow_down</i>
				</button>
				<x-row style='flex-shrink: 0; gap: var(--xs);'>
					<button id='sidebar-hide' type='button' data-roles='outline'>
						<i class='icon'>left_panel_close</i>
					</button>
					<button type='button' data-roles='outline'>
						<i class='icon'>add_2</i>
					</button>
				</x-row>
			</x-flex>
			<hr />
			<x-group>
				<button type='button' data-roles='outline'>
					<i class='icon'> search </i>
					<span>Search</span>
					<i class='icon'> keyboard_command_key </i>
				</button>
				<button type='button' data-roles='outline'>
					<i class='icon'> stars_2 </i>
					<span>AI Assistant</span>
				</button>
				<button type='button' data-roles='outline'>
					<i class='icon'> home </i>
					<span>Home</span>
				</button>
				<button type='button' data-roles='outline'>
					<i class='icon'> inbox </i>
					<span>Inbox</span>
				</button>
			</x-group>
			<hr />
			<x-group>
				<span>Favorites</span>
				<details>
					<summary type='button' data-roles='outline'>
						<i class='icon'> asterisk </i>
						<span>Page Name</span>
					</summary>
					<ul>
						<button type='button' data-roles='outline'>item</button>
						<button type='button' data-roles='outline'>item</button>
						<button type='button' data-roles='outline'>item</button>
						<button type='button' data-roles='outline'>item</button>
					</ul>
				</details>
				<button type='button' data-roles='outline'>
					<i class='icon'> asterisk </i>
					<span>Page Name</span>
				</button>
				<button type='button' data-roles='outline'>
					<i class='icon'> asterisk </i>
					<span>Page Name</span>
				</button>
			</x-group>
			<hr />
			<x-group>
				<span>Shared</span>
				<details>
					<summary type='button' data-roles='outline'>
						<i class='icon'> asterisk </i>
						<span>Page Name</span>
					</summary>
					<ul>
						<button type='button' data-roles='outline'>item</button>
						<button type='button' data-roles='outline'>item</button>
						<button type='button' data-roles='outline'>item</button>
						<button type='button' data-roles='outline'>item</button>
					</ul>
				</details>
			</x-group>
			<hr />
			<x-group>
				<span>Private</span>
				<details>
					<summary type='button' data-roles='outline'>
						<i class='icon'> asterisk </i>
						<span>Page Name</span>
					</summary>
					<ul>
						<button type='button' data-roles='outline'>item</button>
						<button type='button' data-roles='outline'>item</button>
						<button type='button' data-roles='outline'>item</button>
						<button type='button' data-roles='outline'>item</button>
					</ul>
				</details>
			</x-group>
			<hr />
			<x-group>
				<button type='button' data-roles='outline'>
					<i class='icon'> settings </i>
					<span>Settings</span>
				</button>
				<button type='button' data-roles='outline'>
					<i class='icon'> browse </i>
					<span>Templates</span>
				</button>
				<button type='button' data-roles='outline'>
					<i class='icon'> delete </i>
					<span>Trash</span>
				</button>
			</x-group>
			<hr />
			<x-flex>
				<button type='button' data-roles='outline'>
					<i class='icon'> calendar_today </i>
				</button>
				<button type='button' data-roles='outline'>
					<i class='icon'> email </i>
				</button>
				<hr style='background-color: transparent; flex: 1 1;' />
				<button type='button' data-roles='outline'>
					<i class='icon'> help </i>
				</button>
			</x-flex>
		</aside>

		<main id='notion__main'></main>

		<style lang='css' is:inline>
			@scope {
				:scope {
					display: flex;

					#notion__sidebar {
						background-color: var(--clr-background__raised);
						gap: var(--lg);
						height: 100%;
						border-right: solid 2px var(--clr-border__base);
						overflow: auto;
						padding: var(--sm);
						position: relative;
						min-width: 100%;

						@media screen and (min-width: 440px) {
							min-width: min(100%, 300px);
						}

						& > x-flex {
							align-items: center;
							background-color: hsl(
								from var(--clr-background__raised) h s l/0.5
							);
							backdrop-filter: blur(0.5ex);
							border-radius: var(--xl);
							gap: var(--xs);
							position: sticky;
							width: 100%;
							z-index: 5;

							&:first-of-type {
								top: 0;

								& button {
									--idle: var(--clr-background__raised);
									flex: 1 1;
								}
							}

							&:last-of-type {
								background-color: hsl(
									from var(--clr-background__raised) h s l/0.5
								);
								backdrop-filter: blur(0.5ex);
								border-radius: var(--xl);
								box-shadow: 0 15vmax 100vmax 15vmax
									var(--clr-background__raised);
								gap: var(--xs);
								inset: auto auto 0 auto;
								margin: auto auto 0 auto;
								padding: var(--xs);

								& button {
									--idle: var(--clr-background__raised);
									flex-shrink: 0;
								}
							}
						}

						& > hr {
							background-color: var(--clr-border__raised);
						}

						& > x-group {
							& > span {
								margin-bottom: var(--md);
							}

							& :where(button, summary) {
								background-color: var(--clr-background__raised);
								width: 100%;

								&:not(:focus, :focus-visible) {
									outline-color: transparent;
								}

								& > span {
									flex: 1 1;
									text-align: left;
								}
							}
						}
					}

					#notion__sidebar--rail {
						padding: var(--xs);
						width: 75px;
					}

					#notion__main {
						width: 100%;
					}
				}
			}
		</style>
	</Iframe>
</Layout>
