---
import ShellLayout from '@layouts/app.astro';
import ViewFrame from '@layouts/frame.astro';
---

<ShellLayout>
	<header class='g-nm place-center[items] flex-col text-center'>
		<h1>500 - Server Error</h1>
		<p>Oops... It appears something went wrong.</p>
		<a href='/' data-props='--button --outline' class='clr-inherit'>
			<span> Take me back </span>
		</a>
	</header>
</ShellLayout>
