.gridlines {
  --grid-line-color: hsla(0deg, 0%, 50%, 0.15);
  --grid-line-width: 1px;
  --grid-size: 100px;

  background-attachment: fixed;
  background-blend-mode: difference;
  background-image:
    linear-gradient(to right,
      var(--grid-line-color) var(--grid-line-width),
      transparent var(--grid-line-width)),
    linear-gradient(to bottom,
      var(--grid-line-color) var(--grid-line-width),
      transparent var(--grid-line-width));
  background-position: center;
  background-size: var(--grid-size) var(--grid-size);
}

#docs-app {
  gap: var(--nm);
  padding: 75px var(--xs, 5px);
}

#docs-appbar {
  background-color: transparent;
  backdrop-filter: blur(0px);
  padding: var(--xs, 5px);
  place-items: center;
  position: fixed;
  inset: 0 0 auto;
  width: 100%;
  z-index: 10;

  &::before {
    background-color: var(--clr-background);
    backdrop-filter: blur(var(--md, 15px));
    content: "";
    display: block;
    height: 100%;
    inset: 0;
    margin: auto;
    mask: linear-gradient(black 5%, transparent 95%);
    pointer-events: none;
    position: absolute;
    width: 100%;
    z-index: -1;
  }

  & > a {
    flex-shrink: 0;
    text-box: none;

    & > figure {
      aspect-ratio: 1/1;
      vertical-align: middle;
      width: 50px;
    }
  }
}