.gridlines {
  --grid-line-color: hsla(0deg, 0%, 50%, 0.15);
  --grid-line-width: 1px;
  --grid-size: 100px;

  background-attachment: fixed;
  background-blend-mode: difference;
  background-image:
    linear-gradient(
      to right,
      var(--grid-line-color) var(--grid-line-width),
      transparent var(--grid-line-width)
    ),
    linear-gradient(
    to bottom,
    var(--grid-line-color) var(--grid-line-width),
    transparent var(--grid-line-width)
  );
  background-position: center;
  background-size: var(--grid-size) var(--grid-size);
}
