#navigation {
  align-items: center;
  flex-direction: column-reverse;
  gap: var(--md, 15px);
  inset: 0;
  margin: var(--md, 15px);
  max-width: 100%;
  min-width: 0;
  position: fixed;
  z-index: 10;

  @media screen and (min-width: 440px){

  flex-direction: column;
  }

  .icon {
    --size: var(--xl);
  }

  #rail {
    align-items: inherit;
    background-color: hsla(from var(--clr-secondary) h s l/50%);
    backdrop-filter: blur(var(--xs, 5px));
    border-radius: var(--xs, 5px);
    flex-shrink: 0;
    height: 50px;
    overflow: clip;
    padding: var(--md, 15px);
    width: 100%;


    #logo {
      aspect-ratio: 1/1;
      flex-shrink: 1;
      height: 20px;
      width: 20px;
    }


    #menu-icons {
      align-items: inherit;
      gap: var(--md, 15px);
      place-content: end;

      :where(a:not(:hover, :focus, :active)) {
        color: inherit;
      }

      hr {
        height: 50px;
        width: 1px;
      }


      button {
        --background: inherit;
        border-radius: 0;
        color: inherit;
        padding: 0;
      }
    }
  }


  #drawer {
    background-color: hsla(from var(--clr-secondary) h s l/50%);
    backdrop-filter: blur(var(--xs, 5px));
    border-radius: var(--xs, 5px);
    display: flex;
    flex-direction: column;
    gap: var(--md, 15px);
    margin: 0;
    opacity: 0;
    overflow: auto;
    padding: var(--md, 15px);
    place-content: space-between;
    pointer-events: none;
    position: relative;
    visibility: hidden;
    width: 100%;
    z-index: 10;

    &[open]{
      opacity: 1;
      pointer-events: revert;
      visibility: visible;
    }

    > * {
      flex-shrink: 0;
    }

    a {
      align-items: center;
      display: flex;
      font-size: var(--lg, 25px);
      gap: var(--xs, 5px);
      width: 100%;

      &:where(:not(:hover, :focus, :active)) {
        color: inherit;
      }

      span {
        flex-grow: 1;
      }
    }
  }
}