---
import Layout from './.lib/layout.astro';
---

<Layout>
	<div data-is='grid' style='--cols: 2; --gap: var(--space-xl);'>
		<h1 style='grid-column: 1/-1;'>Let's work together</h1>

		<p>rubik@studio.com</p>

		<form action='' data-is='grid' style='--cols: 1; --gap: var(--space-xl);'>
			<label for='first_name' data-is='field'>
				<span data-part='label'>
					First Name
					<i data-is='icon' data-status='error'>
						<small>asterisk</small>
					</i>
				</span>
				<input
					type='text'
					id='first_name'
					name='first_name'
					autocomplete='given-name'
					required
				/>
			</label>

			<label for='last_name' data-is='field'>
				<span data-part='label'>
					Last Name
					<i data-is='icon' data-status='error'>
						<small>asterisk</small>
					</i>
				</span>
				<input
					type='text'
					id='last_name'
					name='last_name'
					autocomplete='family-name'
					required
				/>
			</label>

			<label for='email' data-is='field'>
				<span data-part='label'>
					Email
					<i data-is='icon' data-status='error'>
						<small>asterisk</small>
					</i>
				</span>
				<input
					type='email'
					id='email'
					name='email'
					autocomplete='email'
					required
				/>
			</label>

			<label for='mobile_phone' data-is='field'>
				<span data-part='label'>
					Mobile Phone
					<i data-is='icon' data-status='error'>
						<small>asterisk</small>
					</i>
				</span>
				<input
					type='tel'
					id='mobile_phone'
					name='mobile_phone'
					autocomplete='tel'
					inputmode='tel'
					pattern='\d{3}-\d{3}-\d{4}'
					required
				/>
			</label>

			<label for='project_details' data-is='field'>
				<span data-part='label'> Project Details </span>
				<input
					type='tel'
					id='project_details'
					name='project_details'
					autocomplete='text'
					inputmode='text'
					required
				/>
			</label>

			<fieldset data-is='field'>
				<span data-part='label'> Project Details </span>
				<div data-is='row'>
					<label for='' style='position: relative;'>
						<input
							type='checkbox'
							name='interested_in'
							id='interested_in'
							data-is='checkring'
						/>
						<span>Branding</span>
					</label>

					<label for='' data-is='checkcontainer'>
						<input type='checkbox' name='interested_in' id='interested_in' />
						<span>Marketing</span>
					</label>

					<label for=''>
						<input type='checkbox' name='interested_in' id='interested_in' />
						<span>Product Design</span>
					</label>

					<label for='' data-is='checkcontainer'>
						<input type='checkbox' name='interested_in' id='interested_in' />
						<span>Strategy</span>
					</label>

					<label for='' data-is='checkcontainer'>
						<input type='checkbox' name='interested_in' id='interested_in' />
						<span>Work</span>
					</label>
				</div>
			</fieldset>
		</form>
	</div>
</Layout>
