---
import Layout from './.lib/layout.astro';
import PreviewCard from './.lib/components/previewCard.astro';

const cards = [
	'https://images.unsplash.com/photo-1749735531899-aea6fba596e0?q=80&w=1287&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D',
	'https://images.unsplash.com/photo-1722904218663-f8b880a6823e?q=80&w=1590&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D',
	'https://images.unsplash.com/photo-1743805350606-56ed5103769c?q=80&w=1548&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D',
	'https://images.unsplash.com/photo-1748069036834-41a799145294?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D',
	'https://images.unsplash.com/photo-1749448621505-ed86401fec28?q=80&w=1974&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D',
	'https://images.unsplash.com/photo-1749301560225-3032826b9e7f?q=80&w=1935&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D',
	'https://images.unsplash.com/photo-1749259560252-ca132892004f?q=80&w=1944&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D',
];
---

<Layout>
	<div data-is='cardstack'>
		{
			cards.map((el, i) => (
				<PreviewCard
					image={el}
					style={`filter: blur(${i * 0.125}ex); opacity: ${Math.max(1 - i / cards.length, 0.1)}; rotate:${i * 5}deg; z-index: ${i * -1}`}
				/>
			))
		}

		<style lang='css' is:inline>
			@scope {
				:scope {
					display: inline-grid;
					place-items: center;

					& > * {
						grid-area: 1 / 1;

						&:not(:nth-child(1)) {
							pointer-events: none;
						}

						&:nth-child(1) {
							/* rotate: 0deg; */
							/* z-index: 1; */
						}

						&:nth-child(2) {
							/* filter: blur(0.1ex); */
							/* rotate: 5deg; */
							/* z-index: -2; */

							/* & > figure {
								opacity: 0.5;
							} */
						}

						&:nth-child(3) {
							/* filter: blur(0.15ex); */
							/* rotate: 10deg; */
							/* z-index: -3; */

							/* & > figure {
								opacity: 0.25;
							} */
						}
					}
				}
			}
		</style>
	</div>
</Layout>
