:where(
  h1,
  h2,
  h3,
  h4,
  h5,
  h6
) {
  &:where(h1) {
    font-size: var(--type-xl, 65px);
  }
  &:where(h2) {
    font-size: var(--type-lg, 55px);
  }
  &:where(h3) {
    font-size: var(--type-nm, 45px);
  }
  &:where(h4) {
    font-size: var(--type-md, 35px);
  }
  &:where(h5) {
    font-size: var(--type-sm, 25px);
  }
  &:where(h6) {
    font-size: var(--type-xs, 20px);
  }
}

:where(
  caption,
  figcaption,
  li,
  p
) {
  width: clamp(50ch, 100%, 75%);
}

a {
  color: var(--clr-accent);

  &:visited {
    color: var(--clr-context);
  }

  &:focus {
    color: hsl(from var(--clr-accent) h calc(s + 5%) l);
  }

  &:hover {
    color: color-mix(in hsl, var(--clr-accent), white 25%);
  }

  &:active {
    color: color-mix(in hsl, var(--clr-accent), black 25%);
  }
}
