:root {
  accent-color: var(--clr-accent);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
  /* text-box: trim-both ex alphabetic; */
}

* {
  box-sizing: border-box;
  border: 0;
  -webkit-font-smoothing: inherit;
  height: auto;
  margin: 0;
  max-width: 100%;
  min-height: 0;
  min-inline-size: 0;
  outline: none;
  padding: 0;
  position: relative;
  z-index: auto;

  &::after,
  &::before {
    accent-color: var(--clr-accent);
    box-sizing: inherit;
    clear: both;
  }
}

:where(#root, #__next) {
  isolation: isolate;
}

:where(html) {
  background-color: var(--clr-surface);
  color: var(--clr-content);
  display: contents;
  font-family: sans-serif;
  font-size: clamp(15px, 100dvw, 15pt);
  hanging-punctuation: first last;
  letter-spacing: clamp(0.01em, 0.03em, 0.05em);
  line-height: 1.2em;
  position: static;

  & > :where(body) {
    background-color: var(--clr-surface);
    inset: 0;
    min-height: 100dvh;
    /* overflow: clip auto; */
    width: 100dvw;
  }
}

:where(
  audio,
  canvas,
  figure,
  iframe,
  img,
  video
) {
  display: block;
  width: fit-content;

  &:is(img) {
    object-fit: cover;
  }
}

:where(
  form,
  fieldset,
  div,
  span,
  details,
  summary,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  caption,
  figcaption,
  ul,
  ol,
  dl,
  li,
  p,
  button,
  input,
  select,
  textarea,
  pre
) {
  font-family: inherit;
  overflow-wrap: break-word;
  text-overflow: ellipsis;
  transition: color 800ms cubic-bezier(0.47, 0, 0.23, 1.38) allow-discrete;
  word-break: break-word;

  &:is(h1, h2, h3, h4, h5, h6) {
    line-height: clamp(100%, 115%, 125%);
    text-wrap: balance;
  }

  &:is(caption, figcaption, li, p) {
    text-wrap: pretty;
  }

  &:is(pre) {
    white-space: pre-line;
  }

  &:is(a, area, button, input, label, select, summary, textarea) {
    -ms-touch-action: manipulation;
    touch-action: manipulation;
  }

  &:is(button, input, select, textarea) {
    font-size: inherit;
    overflow: clip;
    white-space: nowrap;
  }

  &:is(textarea) {
    width: 100%;
  }

  &:is(
    ul,
    ol
  ) {
    list-style-position: inside;
    padding-left: 0.5em;
  }

  &:is(ul) {
    & > :where(li) {
      &::marker {
        content: "• ";
      }
    }
  }
}

@media (prefers-reduced-motion: no-preference) {
  :has(:target) {
    scroll-behavior: smooth;
    scroll-padding-top: 1.2em;
  }
}
