/* colors */
@property --clr-surface {
  syntax: "<color>";
  inherits: true;
  initial-value: hsl(0deg, 0%, 5%);
}

@property --clr-content {
  syntax: "<color>";
  inherits: true;
  initial-value: hsl(0deg, 0%, 95%);
}

@property --clr-accent {
  syntax: "<color>";
  inherits: true;
  initial-value: hsl(215deg, 50%, 50%);
}

@property --clr-context {
  syntax: "<color>";
  inherits: true;
  initial-value: hsl(250deg, 50%, 50%);
}

@property --clr-debug {
  syntax: "<color>";
  inherits: true;
  initial-value: hsl(300deg, 50%, 50%);
}

@property --clr-error {
  syntax: "<color>";
  inherits: true;
  initial-value: hsl(0deg, 50%, 150%);
}

@property --clr-info {
  syntax: "<color>";
  inherits: true;
  initial-value: hsl(126deg, 50%, 50%);
}

@property --clr-success {
  syntax: "<color>";
  inherits: true;
  initial-value: hsl(65deg, 50%, 50%);
}

/* sizing */
@property --xs {
  syntax: "<length>";
  inherits: true;
  initial-value: 5px;
}

@property --sm {
  syntax: "<length>";
  inherits: true;
  initial-value: 10px;
}

@property --md {
  syntax: "<length>";
  inherits: true;
  initial-value: 15px;
}

@property --nm {
  syntax: "<length>";
  inherits: true;
  initial-value: 20px;
}

@property --lg {
  syntax: "<length>";
  inherits: true;
  initial-value: 25px;
}

@property --xl {
  syntax: "<length>";
  inherits: true;
  initial-value: 30px;
}

/* typescaling */
@property --type-xs {
  syntax: "<length>";
  inherits: true;
  initial-value: 20px;
}

@property --type-sm {
  syntax: "<length>";
  inherits: true;
  initial-value: 25px;
}

@property --type-md {
  syntax: "<length>";
  inherits: true;
  initial-value: 35px;
}

@property --type-nm {
  syntax: "<length>";
  inherits: true;
  initial-value: 45px;
}

@property --type-lg {
  syntax: "<length>";
  inherits: true;
  initial-value: 55px;
}

@property --type-xl {
  syntax: "<length>";
  inherits: true;
  initial-value: 65px;
}
