---

---

<div id='app__content'>
	<script type='module' is:inline></script>

	<slot />

	<style lang='css' is:inline>
		@scope {
			:scope {
				display: grid;
				grid-auto-rows: max-content;
				grid-template-columns: subgrid;
				padding-block: var(--xl);
				row-gap: var(--xl);

				& > * {
					grid-column: inherit;
				}
			}
		}
	</style>
</div>
