---

---

<aside id='app__sidebar'>
	<script is:inline>
		let sidebar = document.getElementById('app__sidebar');
		let isOpen = false;

		function Toggle() {
			isOpen = !isOpen;

			if (sidebar) {
				if (isOpen) {
					sidebar.classList.add('float');
				} else {
					sidebar.classList.remove('float');
				}
			}
		}

		window.addEventListener('DOMContentLoaded', () => {
			sidebar = document.getElementById('app__sidebar');
		});
	</script>

	<x-row>
		<a href='/'>
			<figure>
				<img src='/figure.png' alt='' />
			</figure>

			<div>
				<h5>Lilycat</h5>
				<p>DX-Oriented CSS library.</p>
			</div>
		</a>

		<button type='button' style='display: contents;' onclick='Toggle()'>
			<i class='icon'> left_panel_close </i>
		</button>
	</x-row>

	<label for='' data-props='--input'>
		<i class='icon'> search </i>
		<input type='text' name='' id='' />
		<kbd>Ctrl + K</kbd>
	</label>

	<hr />

	<ul>
		<p>Get Started</p>
		<li>
			<a href=''><span>Introduction</span></a>
		</li>
		<li>
			<details open>
				<summary>
					<span>Quickstart</span>
					<i class='icon'> keyboard_arrow_down </i>
				</summary>
				<ul>
					<li>
						<a href=''>How to install</a>
					</li>
					<li>
						<a href=''>How to use</a>
					</li>
					<li>
						<a href=''>Tailwind support</a>
					</li>
				</ul>
			</details>
		</li>
		<li>
			<a href=''><span>Examples</span></a>
		</li>
		<li>
			<a href=''><span>FAQs</span></a>
		</li>
	</ul>

	<ul>
		<p>Concepts</p>
		<li>
			<a href=''><span>Philoshopy</span></a>
		</li>
		<li>
			<details open>
				<summary>
					<span>Symbols</span>
					<i class='icon'> keyboard_arrow_down </i>
				</summary>
				<ol>
					<li class='active'>
						<a href=''>Tokens</a>
					</li>
					<li>
						<a href=''>Reset</a>
					</li>
					<li>
						<a href=''>Normalize</a>
					</li>
					<li>
						<a href=''>Icons</a>
					</li>
					<li>
						<a href=''>Customs</a>
					</li>
					<li>
						<a href=''>Props</a>
					</li>
				</ol>
			</details>
		</li>
	</ul>

	<ul>
		<p>Development</p>
		<li>
			<a href=''><span>What's new</span></a>
		</li>
		<li>
			<a href=''><span>Roadmap</span></a>
		</li>
		<li>
			<a href=''><span>Contributing</span></a>
		</li>
	</ul>

	<hr />

	<ul>
		<li>
			<a href=''>
				<figure>
					<img src='/icon-github.png' alt='github icon' />
				</figure>
				<span>Github Repositry</span>
				<i class='icon'>arrow_outward</i>
			</a>
		</li>
		<li>
			<a href=''>
				<figure>
					<img src='/icon-jsr.png' alt='jsr icon' />
				</figure>
				<span>JSR Package</span>
				<i class='icon'>arrow_outward</i>
			</a>
		</li>
		<li>
			<a href=''>
				<figure>
					<img src='/icon-sponsor.png' alt='sponsor icon' />
				</figure>
				<span>Suport US</span>
				<i class='icon'>arrow_outward</i>
			</a>
		</li>
	</ul>

	<style lang='css' is:inline>
		@scope {
			:scope {
				background-color: var(--clr-background);
				gap: var(--xl);
				grid-column: left;
				grid-row: 1;
				height: 100dvh;
				inset: 0;
				overflow: auto;
				padding: var(--xl) var(--md);
				position: sticky;
				transition-property: transform;
				transition-duration: var(--animDuration);
				transition-timing-function: var(--animTiming);
				width: max(0px, 300px);
				z-index: 5;

				&.float {
					position: fixed;
					transform: translateX(-95%);

					&:hover {
						transform: translateX(0);
					}
				}

				& > x-row {
					align-items: center;
					gap: var(--xs);

					a {
						flex: 1 1 auto;

						& > div {
							flex: 1 1 auto;
							min-width: 0;
						}
					}
				}
			}
		}
	</style>
</aside>
