---
import Layout from '../../../layouts/app.astro';
import Iframe from '../../../layouts/frame.astro';
---

<Layout>
	<Iframe>
		<div id='demoapp'>
			<header>
				<style lang='css' is:inline>
					@scope {
						:scope {
						}
					}
				</style>
			</header>

			<section>
				<style lang='css' is:inline>
					@scope {
						:scope {
						}
					}
				</style>
			</section>

			<style lang='css' is:inline>
				@scope {
					:scope {
					}
				}
			</style>
		</div>
	</Iframe>
</Layout>
