---
import Layout from 'src/lib/layout.uis.astro';

const filters = [
	'Discover',
	'Animation',
	'Branding',
	'Illustration',
	'Mobile',
	'Print',
	'Typography',
	'Web Design',
];
---

<Layout scheme='light'>
	<!--  -->
	<nav class='align-center[items] place-between'>
		<ly-flex axis='x' class='align-center[items] g-sm'>
			<figure class='align-center[items] aspect-[1/1] h-auto w-auto bg-primary'>
				<span class='noshrink p-5xl txt-5xl'>A</span>
			</figure>
			<ly-group>
				<span class='txt-600 g-sm'>
					Acme Inc.
					<ly-icon> unfold_more </ly-icon>
				</span>
				<p class='clr-subtext'>perian@makenotion.com</p>
			</ly-group>
		</ly-flex>
		<ly-flex axis='x' class='align-center[items] g-5xs'>
			<ly-dropdown>
				<summary slot='summary' class='__button __outlined'>
					<ly-icon> more_horiz </ly-icon>
				</summary>
				<button>
					<span> options </span>
				</button>
				<button>
					<span> options </span>
				</button>
				<button>
					<span> options </span>
				</button>
			</ly-dropdown>
		</ly-flex>
	</nav>
	<!--  -->
	<ly-group>
		<h6>Jumb Back In</h6>
		<ly-slider axis='x'>
			{
				filters.map(() => (
					<article style='width: calc(var(--scale-5xl) * 2.5);'>
						<figure
							class='aspect-[1/1] bg-primary align-end w-100'
							style='overflow: visible;'>
							{/* <img src="" alt=""> */}
							<ly-icon style='margin-bottom: calc(var(--scale-sm) * -1); translate: 0% 16%;'>
								home
							</ly-icon>
						</figure>
						<h6 class='px-5xs'>Home</h6>
					</article>
				))
			}
		</ly-slider>
	</ly-group>
	<!--  -->
	<footer>
		<ly-field class='__wrapper'>
			<button class='aspect-[1/1] h-5xl w-max'>
				<ly-icon>search</ly-icon>
			</button>
			<input type='search' />
			<button class='aspect-[1/1] h-5xl w-max'>
				<ly-icon>IA</ly-icon>
			</button>
		</ly-field>
		<nav class='g-sm place-around'>
			<button>
				<ly-icon> list </ly-icon>
			</button>
			<button>
				<ly-icon> search </ly-icon>
			</button>
			<button>
				<ly-icon> notifications </ly-icon>
			</button>
			<button class='__outlined'>
				<ly-icon> edit </ly-icon>
			</button>
		</nav>
	</footer>
	<!--  -->
</Layout>

<style lang='css' scoped>
	@layer astro {
		:global(:is(ly-app)) {
			grid-template-rows:
				max-content
				minmax(0, 1fr)
				max-content !important;
			& > *:first-child {
				margin-top: 0;
			}
		}
	}
</style>
