---
import Layout from '../layouts/html.astro';

const elements = [
	'a',
	'article',
	'button',
	'details',
	'dialog',
	'input',
	'label',
	'select',
	'table',
	'textarea',
];

const experiments = [
	'homeExploration',
	'notionSidebar',
	'railFloatingDrawer',
	'saasNotification',
	'suburban',
	'tinkxo',
	'uasd',
];
---

<Layout>
	<x-grid style='--gap: var(--md); --cols: 2;'>
		<section
			style='background-color: var(--clr-primary); border-radius: var(--xs); padding: clamp(0%, 5dvmax, var(--md));'>
			<h1>Lilycat</h1>
			<br />
			<p>
				Powered by dead simple <code>--opinionated</code> CSS props and a mix of
				common convention rules for better DX &amp; while keeping styling minimal.
			</p>
		</section>

		<section
			style='border-radius: var(--xs); outline: dashed 2px hsl(from var(--clr-accent) h s calc(l + var(--ratio-texts))/75%); outline-offset: 2px; padding: var(--md);'>
			<h2>Test Page</h2>
			<br />
			<a href='/test'>Understand each element behaviour better</a>
		</section>

		<section
			style='background-color: hsl(from var(--clr-background) h s calc(l + var(--ratio-backgrounds))); border-radius: var(--xs); outline: dashed 2px hsl(from var(--clr-background) h s calc(l + var(--ratio-texts))/75%); outline-offset: 2px; padding: var(--md);'>
			<h2>Elements</h2>
			<br />
			<x-grid style='--gap: var(--md); --cols: 4;'>
				{
					elements.map((path) => (
						<a href={'/elements/' + path}>
							<span>{path}</span>
							<i class='icon'>north_east</i>
						</a>
					))
				}
			</x-grid>
		</section>

		<section
			style='background-color: hsl(from var(--clr-background) h s calc(l + var(--ratio-backgrounds))); border-radius: var(--xs); outline: dashed 2px hsl(from var(--clr-background) h s calc(l + var(--ratio-texts))/75%); outline-offset: 2px; padding: var(--md);'>
			<h2>Experiments</h2>
			<br />
			<x-grid style='--gap: var(--md); --cols: 4;'>
				{
					experiments.map((path) => (
						<a href={'/experiments/' + path}>
							<span>{path}</span>
							<i class='icon'>north_east</i>
						</a>
					))
				}
			</x-grid>
		</section>
	</x-grid>
</Layout>
