@layer x-customs {
  :where(x-surlayer, x-sublayer) {
    display: grid;
    height: 100dvh;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    isolation: isolate;
    margin: 0;
    position: fixed;
    visibility: hidden;
    width: 100dvw;

    > * {
      visibility: visible;
    }
  }

  :where(x-sublayer) {
    container: sublayer / size;
    z-index: -100;
  }

  :where(x-surlayer) {
    container: surlayer / size;
    z-index: 100;
  }
}