@layer data-attributes {
  :where([data-is="card"]) {
    background-color: var(--clr-background__base);
    border-radius: var(--radii-sm);
    display: flex;
    flex-direction: column;
    flex: 1 1;
    gap: var(--space-nm);
    padding: var(--space-nm);
    position: relative;
    width: 100%;
  }
}