---
import ShellLayout from '@layouts/app.astro';
import ViewFrame from '@layouts/frame.astro';
---

<ShellLayout>
	<label for='example'>
		<span>im a label example</span>
		<input
			type='text'
			name='example'
			placeholder='im just an example'
			disabled
		/>
	</label>
</ShellLayout>
