@use '../lib/colors' as colors;
@use 'sass:map';

@layer x-colors {
	@each $key, $value in colors.$Accent {
		.after\:bg-accent--#{$key} {
			&::after {
				background-color: #{$value};
			}
		}
		.bg-accent--#{$key} {
			background-color: #{$value};
		}
		.bg-accent--#{$key} {
			background-color: #{$value};
		}
		.clr-accent--#{$key} {
			color: #{$value};
		}
	}

	@each $key, $value in colors.$Surface {
		.bg-surface--#{$key} {
			background-color: #{$value};
		}
		.clr-surface--#{$key} {
			color: #{$value};
		}
	}

	@each $key, $value in colors.$Text {
		.bg-text--#{$key} {
			background-color: #{$value};
		}
		.clr-text--#{$key} {
			color: #{$value};
		}
	}

	@each $key, $value in colors.$Warning {
		.bg-warning--#{$key} {
			background-color: #{$value};
		}
		.clr-warning--#{$key} {
			color: #{$value};
		}
	}
}
