---
import Layout from 'src/lib/layout.html.astro';
---

<Layout title='Proposal Tool'>
	<ly-app>
		<aside>
			<ly-group>
				<label>Proposal Tool by Gizmo</label>
			</ly-group>
			<hr />
			<ly-group>
				<label>Main Modules</label>
				<button>Customer Information</button>
				<button>Additional Information</button>
				<button>Internal Sale Notes</button>
				<button>Financial</button>
			</ly-group>
			<hr />
			<ly-group>
				<label>Additional Modules</label>
				<button>
					<span>Solar System</span>
					<ly-switch></ly-switch>
				</button>
				<button>
					<span>Project Adders</span>
					<ly-switch></ly-switch>
				</button>
				<button>
					<span>Battery System</span>
					<ly-switch></ly-switch>
				</button>
				<button>
					<span>Roofing</span>
					<ly-switch></ly-switch>
				</button>
				<button>
					<span>Electrical</span>
					<ly-switch></ly-switch>
				</button>
				<button>
					<span>Energy Efficiency</span>
					<ly-switch></ly-switch>
				</button>
				<button>
					<span>HVAC</span>
					<ly-switch></ly-switch>
				</button>
			</ly-group>
			<hr />
			<ly-group class='bg-secondary g-0 p-lg radius-3xs txt-center'>
				<var class='txt-5xl'>
					<abbr title='USD'>$</abbr>
					0.86
				</var>
				<small class='clr-subtext'>PPW Base Commission</small>
			</ly-group>
		</aside>
		<main>
			<header>
				<ly-row> </ly-row>
				<ly-row> </ly-row>
				<ly-row> </ly-row>
			</header>
			<ly-col>
				<form>
					<input type='email' />
				</form>
			</ly-col>
			<footer></footer>
		</main>
	</ly-app>
</Layout>

<style>
	ly-app {
		& > aside {
			background-color: var(--clr-primary);
			display: flex;
			flex-direction: column;
			gap: var(--scale-lg);
			padding: var(--scale-lg);
			width: clamp(8rem, 10vdw, 16rem);

			& > ly-group {
				& > label {
					--clr: var(--clr-subtext);
					width: 100%;
				}
				& > button {
					--bg: var(--clr-secondary);
					width: 100%;

					&:has(ly-switch:not([checked])) {
						opacity: 0.5;
					}
				}
			}
		}
		& > main {
			flex-grow: 1;
		}
	}
</style>
