---
import Layout from 'src/lib/layout.html.astro';
---

<Layout title='Lilys'>
	<ly-layer stacked='under' class='visible'></ly-layer>
	<ly-app class='place-center[all]'>
		<header class='g-nm place-center[items] flex-col text-center'>
			<h1>404</h1>
			<p>Oops... It appears you reached a dead end.</p>
			<a href='/' class='__button __outline clr-inherit'>
				<span> Take me back </span>
			</a>
		</header>
	</ly-app>
</Layout>

<style lang='css'>
	ly-app {
		--bg: none;
	}

	ly-layer {
		--dot-bg: black;
		--dot-color: linear-gradient(90deg, rgb(255, 0, 0), rgb(246, 255, 0));
		--dot-size: 0.1rem;
		--dot-space: 1rem;

		background:
			linear-gradient(
					90deg,
					var(--dot-bg) calc(var(--dot-space) - var(--dot-size)),
					transparent 1%
				)
				center / var(--dot-space) var(--dot-space),
			linear-gradient(
					var(--dot-bg) calc(var(--dot-space) - var(--dot-size)),
					transparent 1%
				)
				center / var(--dot-space) var(--dot-space),
			var(--dot-color);

		/* animation: movebg 30s linear infinite; */
		animation: movebg 360ms linear infinite;
		scale: 3;
	}

	@keyframes movebg {
		100% {
			--dot-color: linear-gradient(90deg, rgb(186, 203, 206), rgb(255, 157, 0));
			rotate: 360deg;
		}
	}
</style>
