---
import Layout from 'src/lib/layout.html.astro';
---

<Layout title='Lilys'>
	<ly-layer stacked='under' class='visible'></ly-layer>
	<ly-app layout='default' class='place-center[all]'>
		<header class='g-nm place-center[items] flex-col txt-center'>
			<h1>500</h1>
			<p>Oops... It appears something ain't working right on our end.</p>
			<a href='/' class='contents'>
				<button class='bg-error'> Take me back </button>
			</a>
		</header>
	</ly-app>
</Layout>

<style lang='css'>
	ly-app {
		--bg: transparent;

		& > button {
			--bg: var(--clr-secondary);
		}
	}

	ly-layer {
		--size: 0.5rem;
		background-image: linear-gradient(
			45deg,
			var(--clr-subtext) 8%,
			transparent 0
		);
		background-size: var(--size) var(--size);
		animation: inspectBG 360ms ease-in-out infinite;
		transition: opacity var(--animDefaults);
	}

	@keyframes inspectBG {
		0% {
			opacity: 0.5;
		}
		100% {
			opacity: 0.75;
		}
	}
</style>
