---
import Layout from 'src/lib/layout.html.astro';
---

<Layout title='Lilys'>
	<ly-app layout='default'>
		<ly-icon> add </ly-icon>
		<ly-icon solid> bolt </ly-icon>

		<ly-radio label='Radio 1 of Group 1' group='radio-group-1'>
			<input type='text' name='' id='' />
		</ly-radio>
		<ly-radio label='Radio 2 of Group 1' group='radio-group-1'>
			<textarea name='' id='' cols='30' rows='10'></textarea>
		</ly-radio>

		<ly-radio label='Radio 1 of Group 2' group='radio-group-2'> </ly-radio>
		<ly-radio label='Radio 1 of Group 2' group='radio-group-2'> </ly-radio>

		<div style='font-size: var(--scale-5xs)'>5xs</div>
		<div style='font-size: var(--scale-4xs)'>4xs</div>
		<div style='font-size: var(--scale-3xs)'>3xs</div>
		<div style='font-size: var(--scale-2xs)'>2xs</div>
		<div style='font-size: var(--scale-xs)'>xs</div>

		<div style='font-size: var(--scale-sm)'>sm</div>
		<div style='font-size: var(--scale-md)'>md</div>
		<div style='font-size: var(--scale-nm)'>nm</div>
		<div style='font-size: var(--scale-lg)'>lg</div>

		<div style='font-size: var(--scale-xl)'>xl</div>
		<div style='font-size: var(--scale-2xl)'>2xl</div>
		<div style='font-size: var(--scale-3xl)'>3xl</div>
		<div style='font-size: var(--scale-4xl)'>4xl</div>
		<div style='font-size: var(--scale-5xl)'>5xl</div>

		<ly-col>
			<span class='demo-card'>Im inside a col</span>
			<span class='demo-card'>Im inside a col</span>
			<span class='demo-card'>Im inside a col</span>
			<span class='demo-card'>Im inside a col</span>
		</ly-col>

		<ly-grid max='4'>
			<span class='demo-card'>Im inside a grid</span>
			<span class='demo-card'>Im inside a grid</span>
			<span class='demo-card'>Im inside a grid</span>
			<span class='demo-card'>Im inside a grid</span>

			<span class='demo-card'>Im inside a grid</span>
			<span class='demo-card'>Im inside a grid</span>
			<span class='demo-card'>Im inside a grid</span>
			<span class='demo-card'>Im inside a grid</span>

			<span class='demo-card'>Im inside a grid</span>
			<span class='demo-card'>Im inside a grid</span>
			<span class='demo-card'>Im inside a grid</span>
			<span class='demo-card'>Im inside a grid</span>
		</ly-grid>

		<ly-row>
			<span class='demo-card'>Im inside a row</span>
			<span class='demo-card'>Im inside a row</span>
			<span class='demo-card'>Im inside a row</span>
			<span class='demo-card'>Im inside a row</span>
		</ly-row>
	</ly-app>
</Layout>
