---
import Layout from 'src/lib/layout.app.astro';
---

<Layout layout='default'>
	<section class='bg-background place-all-center'>
		<h1>Lily's</h1>
		<p>Build UIs Simply. Anywhere.</p>
		<a href='#docs' class='clr-text flex-col g-sm ps-absolute bottom mb-5xl'>
			<span> Discover your options in modern UI solutions </span>

			<ly-icon> mouse </ly-icon>

			<ly-icon> arrow_downward </ly-icon>
		</a>
	</section>

	<section class='banner bg-debug-stripes place-all-center'>
		<h1 id='docs'>Documentation</h1>
		<ly-row class='g-sm place-all-center'>
			<a href='/docs/elements' class='clr-text'>
				<ly-icon>chevron_left</ly-icon>
				<span>Html native elements</span>
				<ly-icon>chevron_right</ly-icon>
			</a>
			<pre>|</pre>
			<a href='/docs/ui' class='clr-text'>
				<ly-icon>chevron_left</ly-icon>
				<span>Custom UI components </span>
				<ly-icon>chevron_right</ly-icon>
			</a>
			<pre>|</pre>
			<a href='/docs/styles' class='clr-text'>
				<ly-icon>chevron_left</ly-icon>
				<span>CSS library & utilities</span>
				<ly-icon>chevron_right</ly-icon>
			</a>
		</ly-row>
	</section>
</Layout>

<style lang='css'>
	section {
		min-height: 100dvh;
	}
</style>
