---
import Layout from 'src/lib/layout.base.astro';
---

<Layout>
	<header class='g-nm place-items-center flex-col text-center m-auto w-100'>
		<h1>Lily's</h1>
		<p>Build UIs Simply. Anywhere.</p>
		<a href='/docs' class='contents'>
			<button> Discover </button>
		</a>
	</header>
</Layout>

<style lang='css'>
	header {
		& > button {
			--bg: var(--clr-secondary);
		}
	}
</style>
