---
import Layout from 'src/layouts/docs.astro';

const routes = await Astro.glob('src/pages/docs/*').then((files) => {
	return files.map((file) => file.url);
});
---

<Layout>
	<h1>Get Started</h1>

	<grid data-props='--4' class='g-sm'>
		{
			routes.map((route) => (
				<a href={route} class='bg-primary clr-inherit p-xl w-100'>
					<icon data-props='--lead'>asterisk</icon>
					<span> {route.replace('/docs/', '')} </span>
				</a>
			))
		}
	</grid>
</Layout>
