---
import Layout from 'src/lib/layout.docs.astro';
---

<Layout className=''>
	<header class='g-sm py-5xl'>
		<span>
			<h1>Lily's</h1>
			<p>
				Explore modern UI solutions, available within lily's collection of web
				components &amp; css framework, to help you build simply beautiful AA
				user experiences.
			</p>
		</span>
		<a href='#'>Github</a>
	</header>

	<figure>
		<img
			src='https://cdn.dribbble.com/userupload/12190560/file/original-d6d2027a27aa630f756ce2888a6e32f5.jpg'
			alt='banner'
			style='aspect-ratio: 20/10;'
		/>
	</figure>s

	<ly-slider class='g-5xl py-5xl' ignore-container contain-children>
		{
			[...Array(10).keys()].map((i) => (
				<article
					class='bg-primary grid g-sm p-5xl radius-3xs'
					style='width: 16rem;'>
					<header>
						<h6>Heading #{i}</h6>
						<small class='clr-subtext'>sub-heading</small>
					</header>
					<p>
						Lorem ipsum dolor sit, amet consectetur adipisicing elit. Tempore
						molestiae quo placeat eius facilis non nihil ipsa tempora ipsam! Ad
						fuga aliquid iste magni, vero fugit aliquam at consequatur nam.
					</p>
				</article>
			))
		}
	</ly-slider>
</Layout>
