---
import Layout from 'src/lib/layout.docs.astro';
---

<Layout>
	<section class='grid cols-2 g-sm justify-between wrap'>
		<ly-flex axis='col' class='place-items-center'>
			<pre style='font-size: var(--scale-5xs)'>--scale-5xs</pre>
			<pre style='font-size: var(--scale-4xs)'>--scale-4xs</pre>
			<pre style='font-size: var(--scale-3xs)'>--scale-3xs</pre>
			<pre style='font-size: var(--scale-2xs)'>--scale-2xs</pre>
			<pre style='font-size: var(--scale-xs)'>--scale-xs</pre>

			<pre style='font-size: var(--scale-sm)'>--scale-sm</pre>
			<pre style='font-size: var(--scale-md)'>--scale-md</pre>
			<pre style='font-size: var(--scale-nm)'>--scale-nm</pre>
			<pre style='font-size: var(--scale-lg)'>--scale-lg</pre>

			<pre style='font-size: var(--scale-xl)'>--scale-xl</pre>
			<pre style='font-size: var(--scale-2xl)'>--scale-2xl</pre>
			<pre style='font-size: var(--scale-3xl)'>--scale-3xl</pre>
			<pre style='font-size: var(--scale-4xl)'>--scale-4xl</pre>
			<pre style='font-size: var(--scale-5xl)'>--scale-5xl</pre>
		</ly-flex>
	</section>
</Layout>
