---
import Layout from 'src/lib/layout.docs.astro';

const iconNames = [
	'stadia_controller',
	'g_translate',
	'shopping_bag',
	'arrow_circle_up',
	'ios_share',
	'bolt',
	'folder_open',
	'width_full',
	'side_navigation',
	'stacks',
	'autorenew',
	'article',
	'clock_loader_40',
	'asterisk',
	'assistant_navigation',
	'attachment',
	'check_box',
	'bottom_panel_open',
	'home_work',
	'travel',
	'explore',
	'globe',
	'ev_shadow',
	'early_on',
	'search',
	'settings',
	'notifications',
	'add_circle',
	'deskphone',
	'ambient_screen',
	'account_box',
	'add_box',
	'alarm',
	'book',
	'brush',
	'build',
	'call',
	'camera',
	'chat',
	'check',
	'close',
	'code',
	'delete',
	'edit',
	'email',
	'favorite',
	'feedback',
	'filter_list',
	'flag',
	'folder',
	'fullscreen',
	'help',
	'history',
	'home',
	'info',
	'keyboard',
	'lock',
	'more_vert',
	'menu',
	'mic',
	'movie',
	'music_note',
	'navigation',
	'open_in_new',
	'pause',
	'play_arrow',
	'print',
	'refresh',
	'save',
	'school',
	'security',
	'settings_voice',
	'share',
	'shopping_cart',
	'sort',
	'star',
	'stop',
	'subject',
	'sync',
	'text_fields',
	'thumb_up',
	'undo',
	'verified',
	'videocam',
	'visibility',
	'warning',
	'watch',
	'work',
];
---

<Layout>
	<main>
		<section>
			<h6>Icon</h6>
			<article>
				{
					iconNames
						.sort(() => Math.random() - 0.5)
						.slice(0, iconNames.length / iconNames.length)
						.map((icon) => <ly-icon>{icon}</ly-icon>)
				}
			</article>
		</section>

		<section>
			<h6>Radio</h6>
			<article>
				<ly-radio group='radio-group'> </ly-radio>
			</article>
		</section>

		<section>
			<h6>Switch</h6>
			<article>
				<ly-switch group='radio-group'> </ly-switch>
			</article>
		</section>

		<section>
			<h6>Field</h6>
			<article>
				<ly-field
					label='First Name'
					name='firstname'
					caption="field value it's badly formatted">
					<input name='firstname' type='text' />
				</ly-field>
			</article>
		</section>

		<section>
			<h6>Col</h6>
			<article class='bg-debug-stripes'>
				<ly-col class='g-sm w-100'>
					{
						[...Array(3).keys()].map((i) => (
							<span class='bg-debug p-5xl place-all-center radius-3xs w-100'>
								{i}
							</span>
						))
					}
				</ly-col>
			</article>
		</section>

		<section>
			<h6>Grid</h6>
			<article class='bg-debug-stripes'>
				<ly-grid cols='4' class='g-sm w-100'>
					{
						[...Array(8).keys()].map((i) => (
							<span class='bg-debug p-5xl place-all-center radius-3xs w-100'>
								{i}
							</span>
						))
					}
				</ly-grid>
			</article>
		</section>

		<section>
			<h6>Row</h6>
			<article class='bg-debug-stripes'>
				<ly-row class='g-sm w-100'>
					{
						[...Array(3).keys()].map((i) => (
							<span class='bg-debug p-5xl place-all-center radius-3xs w-100'>
								{i}
							</span>
						))
					}
				</ly-row>
			</article>
		</section>

		<section>
			<h6>List</h6>
			<article>
				<ly-list class='w-100'>
					<ly-list-header>
						<ly-list-cell>cell</ly-list-cell>
						<ly-list-cell>cell</ly-list-cell>
						<ly-list-cell>cell</ly-list-cell>
					</ly-list-header>
					<ly-list-row>
						<ly-list-cell>cell</ly-list-cell>
						<ly-list-cell>cell</ly-list-cell>
						<ly-list-cell>cell</ly-list-cell>
					</ly-list-row>
					<ly-list-footer>
						<ly-list-cell>cell</ly-list-cell>
						<ly-list-cell>cell</ly-list-cell>
						<ly-list-cell>cell</ly-list-cell>
					</ly-list-footer>
				</ly-list>
			</article>
		</section>
	</main>
</Layout>

<style lang='css' is:global>
	ly-layer {
		--size: 0.5rem;
		background-image: linear-gradient(
			45deg,
			var(--clr-subtext) 8%,
			transparent 0
		);
		background-size: var(--size) var(--size);
		animation: inspectBG 360ms ease-in-out infinite;
		transition: opacity var(--animDefaults);
	}

	@keyframes inspectBG {
		0% {
			opacity: 0.5;
		}
		100% {
			opacity: 0.75;
		}
	}
	main {
		--gap: var(--scale-5xl);
		grid-auto-rows: 1fr;
		margin-inline: auto;
		padding: var(--scale-sm);
		max-width: 72dvw;
		width: 100%;

		& > section {
			background-color: var(--clr-background);
			border-radius: var(--scale-3xs);
			padding: var(--scale-3xl);

			& > article {
				border-radius: var(--scale-3xs);
				display: grid;
				grid-template-columns: 1fr;
				flex-grow: 1;
				place-items: center center;
			}
		}
	}
</style>
