<nav>
	<ly-flex axis='x' class='place-start'>
		<button>
			<ly-icon>menu</ly-icon>
			<span>menu</span>
		</button>
	</ly-flex>

	<ly-flex class='place-center'>
		{
			[...new Array(3).keys()].map(() => (
				<button class='bg-accent'>
					<ly-icon>add</ly-icon>
					<span>action</span>
				</button>
			))
		}
	</ly-flex>

	<ly-flex axis='x' class='place-end'>
		<button>
			<ly-icon>arrow_back</ly-icon>
			<span>Previous</span>
		</button>
		<button>
			<span>Next</span>
			<ly-icon>arrow_forward</ly-icon>
		</button>
	</ly-flex>
</nav>

<style>
	nav {
		align-items: center;
		gap: var(--scale-lg);
		min-height: 4rem;
		padding-inline: var(--scale-lg);
		justify-content: space-between;

		& > ly-flex {
			align-items: center;
			flex: 1 1 100%;
		}
	}
</style>
