---
interface SideNav {
	name: string;
	modules: SideNavModule[];
}

interface SideNavModule {
	name: string;
	isActive?: boolean;
}

const sidenav: SideNav[] = [
	{
		name: 'Main Modules',
		modules: [
			{
				name: 'Customer Information',
			},
		],
	},
	{
		name: 'Additional Modules',
		modules: [
			{
				name: 'Solar System',
				isActive: true,
			},
			{
				name: 'Project Adders',
				isActive: true,
			},
			{
				name: 'Battery System',
				isActive: true,
			},
			{
				name: 'Roofing',
				isActive: false,
			},
			{
				name: 'Electrical',
				isActive: false,
			},
			{
				name: 'Energy Efficiency',
				isActive: false,
			},
			{
				name: 'HVAC',
				isActive: true,
			},
		],
	},
	{
		name: 'Financial',
		modules: [
			{
				name: 'Additional Information',
			},
			{
				name: 'Internal Sales Notes',
			},
			{
				name: 'Financial',
			},
		],
	},
];
---

<script is:inline type='module'>
	function isActive(name) {
		if (name === document.location.pathname) {
			return 'active';
		}
	}
</script>

<aside>
	<ly-group>
		<ly-flex axis='row' class='align-items-center g-sm place-between'>
			<ly-flex axis='row' class='g-5xs noshrink place-all-center w-fit'>
				<figure class='flex place-all-center w-5xl'>
					<object data='/assets/media/hytech/favicon.svg' class='m-auto'
					></object>
				</figure>
				<span class='grow txt-xs'>Proposal Tool<br />by Gizmo</span>
			</ly-flex>
			<button style='--bg: var(--clr-secondary);'>
				<ly-icon> prompt_suggestion </ly-icon>
			</button>
		</ly-flex>
	</ly-group>
	<hr />
	<ly-slider axis='col' class='h-100 g-0'>
		{
			sidenav.map((group) => (
				<>
					<ly-group>
						<label>{group.name}</label>
						{group.modules.map((module: SideNavModule) => (
							<button>
								<span>{module.name}</span>
								{Object.keys(module).includes('isActive') && (
									<ly-check variant='switch' checked={module?.isActive} />
								)}
							</button>
						))}
					</ly-group>
				</>
			))
		}
	</ly-slider>
	<hr />
	<ly-group class='bg-secondary' style='padding-block: var(--scale-3xs);'>
		<ly-flex axis='col' class='bg-tertiary px-sm py-3xs radius-3xs txt-center'>
			<var class='txt-3xl txt-normal'>
				<abbr title='USD'>$</abbr>
				0.86
			</var>
			<small class='clr-context txt-600 txt-3xs'>PPW Base Commission</small>
		</ly-flex>
	</ly-group>
</aside>

<style lang='css'>
	aside {
		--gap: 0;

		background-color: var(--clr-primary);
		display: flex;
		flex-direction: column;
		flex-shrink: 0;
		overflow-x: clip;
		overflow-y: auto;
		width: 16rem;

		& > hr {
			--bg: var(--clr-secondary);
			flex-shrink: 0;
			height: calc(var(--scale-5xs) * 0.1625);
		}

		& ly-group {
			gap: var(--scale-sm);
			flex-shrink: 0;
			padding: var(--scale-md) var(--scale-lg);

			& > label {
				color: var(--clr-subtext);
				flex-shrink: 0;
			}

			& > button {
				--bg: var(--clr-secondary);
				flex-shrink: 0;
				justify-content: space-between;
				width: 100%;

				&:has(ly-check:not([checked])) {
					--clr: var(--clr-subtext);
				}
			}
		}
	}
</style>
