<nav>
	<ly-flex axis='row' class='place-start'>
		<small class='txt-sm'>
			<span class='block clr-subtext'>Proposal For</span>
			Joselito Perla Negra
		</small>
	</ly-flex>

	<ly-flex axis='row' class='place-end'>
		<ly-dropdown>
			<summary slot='summary'>
				<figure>
					<img
						src='https://images.unsplash.com/photo-1704895598909-dd19e72fc3ae?q=80&w=1160&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D'
						alt='avatar'
					/>
				</figure>
				<ly-group>
					<span>username</span>
					<small class='clr-context'>email@address.com</small>
				</ly-group>
			</summary>
			
			<button class="w-100" style="--radius: 0;">option</button>
			<button class="w-100" style="--radius: 0;"><span>option</span></button>
			<button class="w-100" style="--radius: 0;">option</button>
			<button class="w-100" style="--radius: 0;"><span>option</span></button>
			<button class="w-100" style="--radius: 0;">option</button>
			<button class="w-100" style="--radius: 0;"><span>option</span></button>
		</ly-dropdown>
	</ly-flex>
</nav>

<style>
	nav {
		align-items: center;
		gap: var(--scale-lg);
		min-height: 4rem;
		padding-inline: var(--scale-lg);
		justify-content: space-between;

		& > ly-flex {
			align-items: center;
			flex: 1 1 100%;
		}
	}
</style>
