html {
  cursor: none;
  font-family: "Space Grotesk", serif;

  & > body {
    display: contents;
  }
}

#app {
  isolation: isolate;
  display: grid;
  height: 100dvh;
  grid-template-rows: minmax(0, 1fr);

  & > :where(#appbar, #bottombar) {
    position: fixed;
    width: 100%;
    z-index: 2;
  }

  & > :where(#views) {
    z-index: 1;
  }
}

#appbar {
  background-color: hsl(from var(--clr-surface) h s l / 50%);
  backdrop-filter: blur(var(--xl));
  grid-column: grid-expand;
  top: 0;

  & > nav {
    & > button {
      border-radius: 0;

      &:is(.currentView) {
        border-bottom: solid 2px var(--clr-content);
      }
    }
  }
}

#views {
  overflow: auto;
  padding-block: 100px;
  scroll-padding-block: 100px;
  scroll-snap-type: both proximity;

  & > * {
    scroll-margin: 5dvh;
    scroll-snap-align: start;
  }
}

#bottombar {
  background-color: hsla(0, 0, 0, 0.75%);
  backdrop-filter: blur(var(--xl));
  bottom: 0;
  gap: var(--nm);
  grid-column: grid-expand;
  padding: var(--nm) var(--xl);
  place-content: center;
}

#cursor {
  aspect-ratio: 1/1;
  backdrop-filter: blur(var(--xl));
  background-color: hsla(0, 0%, 100%, 0.5);
  border-radius: 50%;
  mix-blend-mode: difference;
  outline: solid 1px var(--clr-content);
  outline-offset: 1px;
  pointer-events: none;
  position: fixed;
  transition-property: background, box-shadow, translate;
  transition-duration: var(--animDuration);
  transition-timing-function: var(--animTiming);
  user-select: none;
  width: var(--xl);
  z-index: 10000000000;
}
