<nav id='appbar' class='align-center'>
	<a id='logo' href='/examples/hytechhome'>
		<figure>
			<img src='/favicon.svg' />
		</figure>
	</a>
	<nav id='routes'>
		<a href='#' class='active'>Home</a>
		<a href='#'>Service</a>
		<a href='#'>About us</a>
		<a href='#'>Contact</a>
	</nav>
	<nav id='networks'>
		<a href='#'>
			<figure>
				<img src='/assets/media/linkedin.png' />
			</figure>
		</a>
		<a href='#'>
			<figure>
				<img src='/assets/media/facebook.png' />
			</figure>
		</a>
		<a href='#'>
			<figure>
				<img src='/assets/media/instagram.png' />
			</figure>
		</a>
	</nav>
</nav>

<style lang='css'>
	#appbar {
		align-items: center;
		backdrop-filter: blur(var(--radius-3xs));
		background-color: hsla(0, 0%, 0%, 0.0625);
		/* border-radius: var(--radius-5xl); */
		height: calc(var(--sttng-spacing) * 1.75);
		inset: 0;
		padding-inline: var(--sttng-spacing);
		place-content: space-between;
		position: fixed;
		z-index: 2;

		& figure {
			aspect-ratio: 1;
			width: 1.5rem;
		}

		& > #routes {
			gap: var(--scale-sm);

			& > a {
				--clr: var(--clr-text);

				&.active {
					--clr: var(--clr-accent);
				}
			}
		}

		& > #networks {
			gap: var(--scale-3xs);

			& > a {
				--bg: transparent;
				--clr: transparent;

				& img {
					filter: invert(1);
				}
			}
		}
	}
</style>
