$alignValues: (
  "normal": normal,
  "stretch": stretch,
  "center": center,
  "start": start,
  "end": end,
  "flex-start": flex-start,
  "flex-end": flex-end,
  "self-start": self-start,
  "self-center": self-center,
  "self-end": self-end,
  "around": space-around,
  "between": space-between,
  "evenly": space-evenly,
  "baseline": baseline,
  "first-baseline": first baseline,
  "last-baseline": last baseline,
  "safe-center": safe center,
  "unsafe-center": unsafe center,
);

@layer utils {
  .align {
    @each $k, $v in $alignValues {
      &-#{$k} {
        align-content: #{$v};
      }

      &-#{$k}\[items\] {
        align-items: #{$v};
      }
    }
  }

  .justify {
    @each $k, $v in $alignValues {
      &-#{$k} {
        justify-content: #{$v};
      }

      &-#{$k}\[items\] {
        justify-items: #{$v};
      }
    }
  }

  .place {
    @each $k, $v in $alignValues {
      &-#{$k} {
        place-content: #{$v};
      }

      &-#{$k}\[items\] {
        place-items: #{$v};
      }

      &-#{$k}\[all\] {
        place-content: #{$v};
        place-items: #{$v};
      }
    }
  }
}
