---
import Layout from '../../../layouts/app.astro';
import Iframe from '../../../layouts/iframe.astro';
import UpdateEntry from './.UpdateEntry.astro';
---

<Layout>
	<Iframe>
		<nav style='gap: var(--nm);'>
			<a>Development</a>
			<a>What's New</a>
		</nav>

		<p>The latest updates and improvements to MCP</p>

		<x-grid style='--gap: var(--lg);'>
			<UpdateEntry
				date='2025-04-10'
				title='Java SDK 0.9.0 released'
				version='0.9.0'
				items={[
					'Refactored logging system to use exchange mechanism',
					'Custom Context Paths',
					'Server Instructions',
					'CallToolResult Enhancement',
				]}
			/>
			<UpdateEntry
				date='2025-03-26'
				title='Kotlin SDK 0.4.0 released'
				version='0.4.0'
				items={[
					'Fix issues and cleanup API',
					'Added binary compatibility tracking to avoid breaking changes',
					'Drop JDK requirements to JDK8',
					'Added Claude Desktop integration with sample',
				]}
				link={{
					href: 'https://github.com/modelcontextprotocol/kotlin-sdk/releases/tag/0.4.0',
					text: 'GitHub Release',
				}}
			/>
			<UpdateEntry
				date='2025-04-10'
				title='Java SDK 0.9.0 released'
				version='0.9.0'
				items={[
					'Refactored logging system to use exchange mechanism',
					'Custom Context Paths',
					'Server Instructions',
					'CallToolResult Enhancement',
				]}
			/>
			<UpdateEntry
				date='2025-03-26'
				title='Kotlin SDK 0.4.0 released'
				version='0.4.0'
				items={[
					'Fix issues and cleanup API',
					'Added binary compatibility tracking to avoid breaking changes',
					'Drop JDK requirements to JDK8',
					'Added Claude Desktop integration with sample',
				]}
				link={{
					href: 'https://github.com/modelcontextprotocol/kotlin-sdk/releases/tag/0.4.0',
					text: 'GitHub Release',
				}}
			/>
			<UpdateEntry
				date='2025-04-10'
				title='Java SDK 0.9.0 released'
				version='0.9.0'
				items={[
					'Refactored logging system to use exchange mechanism',
					'Custom Context Paths',
					'Server Instructions',
					'CallToolResult Enhancement',
				]}
			/>
			<UpdateEntry
				date='2025-03-26'
				title='Kotlin SDK 0.4.0 released'
				version='0.4.0'
				items={[
					'Fix issues and cleanup API',
					'Added binary compatibility tracking to avoid breaking changes',
					'Drop JDK requirements to JDK8',
					'Added Claude Desktop integration with sample',
				]}
				link={{
					href: 'https://github.com/modelcontextprotocol/kotlin-sdk/releases/tag/0.4.0',
					text: 'GitHub Release',
				}}
			/>
			<UpdateEntry
				date='2025-04-10'
				title='Java SDK 0.9.0 released'
				version='0.9.0'
				items={[
					'Refactored logging system to use exchange mechanism',
					'Custom Context Paths',
					'Server Instructions',
					'CallToolResult Enhancement',
				]}
			/>
			<UpdateEntry
				date='2025-03-26'
				title='Kotlin SDK 0.4.0 released'
				version='0.4.0'
				items={[
					'Fix issues and cleanup API',
					'Added binary compatibility tracking to avoid breaking changes',
					'Drop JDK requirements to JDK8',
					'Added Claude Desktop integration with sample',
				]}
				link={{
					href: 'https://github.com/modelcontextprotocol/kotlin-sdk/releases/tag/0.4.0',
					text: 'GitHub Release',
				}}
			/>
			<UpdateEntry
				date='2025-04-10'
				title='Java SDK 0.9.0 released'
				version='0.9.0'
				items={[
					'Refactored logging system to use exchange mechanism',
					'Custom Context Paths',
					'Server Instructions',
					'CallToolResult Enhancement',
				]}
			/>
			<UpdateEntry
				date='2025-03-26'
				title='Kotlin SDK 0.4.0 released'
				version='0.4.0'
				items={[
					'Fix issues and cleanup API',
					'Added binary compatibility tracking to avoid breaking changes',
					'Drop JDK requirements to JDK8',
					'Added Claude Desktop integration with sample',
				]}
				link={{
					href: 'https://github.com/modelcontextprotocol/kotlin-sdk/releases/tag/0.4.0',
					text: 'GitHub Release',
				}}
			/>
		</x-grid>

		<style lang='css' is:inline>
			@scope {
				:scope {
					overflow: auto;
					padding: var(--nm);
				}
			}
		</style>
	</Iframe>
</Layout>
