<hr id='top' style='height: 0; width: 0;' />

<nav id='appbar' data-layout='expand'>
	<div data-has='blur'>
		<div data-part='layer' style='--i: 0;'></div>
		<div data-part='layer' style='--i: 1;'></div>
		<div data-part='layer' style='--i: 2;'></div>
		<div data-part='layer' style='--i: 3;'></div>
		<div data-part='layer' style='--i: 4;'></div>
		<div data-part='layer' style='--i: 5;'></div>

		<style lang='css' is:inline>
			@scope ([data-has="blur"]) {
				:scope {
					background: linear-gradient(
						180deg,
						rgba(255, 255, 255, 0.5) 0%,
						rgba(255, 255, 255, 0) 100%
					);
					height: 115px;
					inset: 0 0 auto 0;
					position: fixed;
					width: 100%;
					z-index: -1;

					@container xwindow (width < 800px) {
						z-index: 3;
					}
				}
			}
		</style>
	</div>

	<div id='appbar__logo'>
		<a href='/sites/halo'>
			<figure style='height: 75px;'>
				<img src='/images/halo/hytech_h2o.png' alt='logo' />
			</figure>
		</a>
	</div>

	<div id='appbar__menu' data-is='flex' data-visible='false'>
		<a href='/sites/halo#about' data-is='text'>
			<span>About</span>
		</a>
		<a href='/sites/halo#cleanwater' data-is='text'>
			<span>Clean Water</span>
		</a>
		<a href='/sites/halo#products' data-is='text'>
			<span>Products</span>
		</a>
		<a href='https://hytechhome.com/' target='_blank' data-is='text'>
			<span>Hytech Home</span>
			<i data-is='icon'>north_east</i>
		</a>
	</div>

	<div id='appbar__options' data-is='row'>
		<a href='/sites/halo#contact' data-is='button'>
			<span>Get in Contact</span>
		</a>

		<button data-toggle-menu>
			<i data-is='icon'>
				<span data-visible='true'>menu</span>
				<span data-visible='false'>close</span>
			</i>
		</button>
	</div>

	<script type='module' is:inline>
		window.addEventListener('DOMContentLoaded', () => {
			const menu = document.querySelector('#appbar__menu');
			const buttons = document.querySelectorAll('[data-toggle-menu]');
			if (!menu || !buttons) return;

			const setVisibility = (visible) => {
				menu.dataset.visible = visible;

				buttons.forEach((el) => {
					const spans = el.querySelectorAll('i span');
					spans.forEach((span) => {
						const currentlyVisible = span.dataset.visible === 'true';
						span.dataset.visible = (!currentlyVisible).toString();
					});
				});

				// Emit visibility change
				dispatchEvent(
					new CustomEvent('menu:visibility', {
						detail: { visible },
					}),
				);
			};

			document.querySelectorAll('[data-toggle-menu]').forEach((el) =>
				el.addEventListener('click', () => {
					const nowVisible = menu.dataset.visible !== 'true';
					setVisibility(nowVisible);
				}),
			);

			menu.querySelectorAll('a').forEach((el) =>
				el.addEventListener('click', () => {
					const nowVisible = menu.dataset.visible !== 'true';
					setVisibility(nowVisible);
				}),
			);
		});
	</script>

	<style lang='css' is:inline>
		@scope (#appbar) {
			:scope {
				align-items: center;
				height: 115px;
				inset: 0 0 auto 0;
				overflow: visible;
				position: fixed;
				z-index: 1;

				& > div {
					align-items: inherit;
					flex: 1 1;
					gap: 15px;
				}

				#appbar__menu {
					flex: 2 1;
					justify-content: center;

					a {
						font-weight: 500;
					}
				}

				#appbar__options {
					justify-content: end;

					button[data-toggle-menu] {
						display: none;
					}
				}

				@container xwindow (width < 800px) {
					#appbar__logo {
						z-index: 3;
					}

					#appbar__menu {
						align-items: start;
						background-color: var(--clr-background__raised);
						flex-direction: column;
						gap: 0;
						inset: 0;
						justify-content: start;
						overflow: clip auto;
						padding-top: 115px;
						position: fixed;
						z-index: 2;

						a {
							padding: 30px;
							text-align: left;
							width: 100%;

							&:hover {
								background-color: var(--clr-background__base);
							}

							&:active {
								background-color: var(--clr-background__lowered);
							}

							&:not(:last-child) {
								border-bottom: solid 2px var(--clr-border__base);
							}
						}

						&[data-visible='false'] {
							display: none;
						}
					}

					#appbar__options {
						& > a {
							display: none;
						}

						button[data-toggle-menu] {
							display: revert-layer;
							z-index: 3;

							& > i > span[data-visible='false'] {
								display: none;
							}
						}
					}
				}
			}
		}
	</style>
</nav>
