<section id='banner' data-is='grid' data-layout='expand' style='--cols: 3;'>
	<figure data-is='background'>
		<img src='/images/halo/Fondo.png' alt='background' />
	</figure>

	<div
		style='height: 100%; min-height: 410px; overflow: clip; position: relative;'>
		<figure style='height: 100%; width: 100%;'>
			<img src='/images/halo/haloinstallation.png' alt='installation' />
		</figure>
	</div>

	<div id='banner__content' data-is='group'>
		<h3>
			WATER FILTRATION<br />& CONDITIONING SYSTEM<br />FOR THE WHOLE HOUSE
		</h3>
		<p>
			At Hytech Home, we understand the importance of having clean, safe water
			in your home. Our water filtration system are designed to remove
			impurities, improve taste, and protect your family’s health.
		</p>
	</div>

	<div style='height: 410px; overflow: clip; position: relative;'>
		<figure style='height: 100%; width: 100%;'>
			<img
				src='/images/halo/childrendrinkingwater.png'
				alt='childrendrinkingwater'
				style='object-fit: contain; object-position: right 75px;'
			/>
		</figure>
	</div>

	<style lang='css' is:inline>
		@scope (#banner) {
			:scope {
				--gap: calc(
					60px -
						max(
							calc((100% - var(--inner-column)) / 2),
							calc(var(--inner-gutter) + 1px)
						)
				);
				align-items: center;
				min-height: 384px;
				overflow: clip;
				padding: 0;
				position: relative;

				:where(h1, h2, h3, h4, h5, h6) {
					color: var(--clr-background__raised);
				}

				p {
					color: var(--clr-background__base);
				}

				#banner__content {
					gap: 15px;
					padding-block: 60px;
					padding-inline: max(
						calc((100% - var(--inner-column)) / 2),
						calc(var(--inner-gutter) + 1px)
					);
				}

				@container xwindow (width < 800px) {
					& > div {
						grid-column: 1 /-1;
					}
				}
			}
		}
	</style>
</section>
