<footer
	data-is='grid'
	data-layout='expand'
	style='--cols: 4; --gap: 60px; row-gap: 30px;'>
	<div style='grid-column: 1/-1;'>
		<figure style='height: 75px;'>
			<img src='/images/halo/hytech_h2o.png' alt='logo' />
		</figure>
	</div>

	<div data-is='stack' style='gap: 15px;'>
		<h6>Join Our Newsletter</h6>
		<p>Receive latest updates and news about Hytech H2O.</p>

		<div data-is='row' style='gap: 5px;'>
			<label for='email' data-is='field' style='flex:1 1;'>
				<input
					type='email'
					id='email'
					name='email'
					placeholder='Your email address'
				/>
			</label>
			<button style='border-radius: 5px;'> Subscribe </button>
		</div>
	</div>

	<div data-is='stack' style='gap: 15px;'>
		<h6>Contact</h6>

		<div data-is='stack' style='gap: 10px;'>
			<a href='mailto:info@hytechhome.com' data-is='text'>
				info@hytechhome.com
			</a>
			<a href='tel:+16315955500' data-is='text'> 631-595-5500 </a>
			<a
				href='https://www.google.com/maps/place/Hytech+Home/@40.7694999,-73.2929867,17z/data=!4m15!1m8!3m7!1s0x89e82de30d55ca79:0xb4ebd5a89e1b5cf7!2s6+Washington+Ave,+Bay+Shore,+NY+11706,+USA!3b1!8m2!3d40.7694999!4d-73.2904118!16s%2Fg%2F11nnkq510s!3m5!1s0x89e82de31761c589:0x6c377a3923b85bb!8m2!3d40.769499!4d-73.2904115!16s%2Fg%2F11d_9hbyzp?entry=ttu'
				target='_blank'
				rel='noopener noreferrer'
				data-is='text'>
				6 Washington Avenue, Bay Shore, NY 11706
			</a>
		</div>
	</div>

	<div data-is='stack' style='gap: 15px;'>
		<h6>Company</h6>

		<div data-is='stack' style='gap: 10px;'>
			<a href='#' data-is='text'> About us </a>
			<a href='#' data-is='text'> Privacy policies </a>
			<a href='#' data-is='text'> Terms of use </a>
		</div>
	</div>

	<div data-is='stack' style='gap: 15px;'>
		<h6>Social</h6>

		<div data-is='row' style='gap: 10px;'>
			<a
				href='https://www.facebook.com/HytechHomeinc/'
				target='_blank'
				rel='noopener noreferrer'
				data-is='text'>
				<figure>
					<img src='/images/halo/facebook.png' alt='facebook' />
				</figure>
			</a>
			<a
				href='https://www.instagram.com/hytechhome/'
				target='_blank'
				rel='noopener noreferrer'
				data-is='text'>
				<figure>
					<img src='/images/halo/instagram.png' alt='instagram' />
				</figure>
			</a>
			<a
				href='https://www.linkedin.com/company/hytechsolar/'
				target='_blank'
				rel='noopener noreferrer'
				data-is='text'>
				<figure>
					<img src='/images/halo/linkedin.png' alt='linkedin' />
				</figure>
			</a>
		</div>
	</div>

	<hr />

	<p>2025 @HytechHome. All rights reserved.</p>

	<style lang='css' is:inline>
		@scope {
			:scope {
				background-color: var(--clr-onAccent);
				color: var(--clr-background__lowered);
				overflow: clip;
				padding-block: 60px;
				position: relative;

				:where(h1, h2, h3, h4, h5, h6) {
					color: var(--clr-background__raised);
				}

				button {
					height: revert-layer;
					padding: revert-layer;
				}

				& > :where(hr, p) {
					grid-column: 1/-1;
					width: 100%;
				}

				& > hr {
					background-color: var(--clr-accent__lowered);
					opacity: 0.05;
				}

				& > p {
					color: var(--clr-text__lowered);
					text-align: center;
				}
			}
		}
	</style>
</footer>
