<header
	id='hero'
	data-is='grid'
	data-layout='expand'
	style='--cols: 2; --gap: 60px; place-content: center;'>
	<figure data-is='background' style='height: auto; inset: auto 0 0 0;'>
		<img src='/images/halo/Familia.png' alt='background' />
	</figure>

	<x-stack
		style='align-items: center; gap: 30px; text-align: center;'
		class='span-on-mobile'>
		<div data-is='group' style='gap: 5px;'>
			<h1 style='color: white;'>Protect your family</h1>
			<p style='color: white; font-size: 25px;'>With pure and safe water.</p>
		</div>

		<a href='#contact' data-is='button' class='big' style='font-size: 15px;'>
			<span>Discover Our Filtration Systems</span>
		</a>
	</x-stack>

	<style lang='css' is:inline>
		@scope {
			:scope {
				background:
					linear-gradient(
						180deg,
						rgba(255, 255, 255, 0.15) 0%,
						rgba(1, 24, 50, 0) 100%
					),
					url('/images/halo/Fondo.png') lightgray 50%;
				background-attachment: fixed;
				background-repeat: no-repeat;
				background-size: cover;
				height: 700px;
				overflow: clip;
				position: relative;
			}
		}
	</style>
</header>
