<header
	id='hero'
	data-is='grid'
	data-layout='expand'
	style='--cols: 2; --gap: 60px; place-content: center;'>
	<figure
		id='hero__background'
		data-is='background'
		style='height: auto; inset: auto 0 0 0;'>
		<img src='/images/halo/Familia.png' alt='background' />
	</figure>

	<div id='hero__content' data-is='stack'>
		<div data-is='group' style='gap: 5px;'>
			<h2>Protect your family</h2>
			<h4>With pure and safe water</h4>
		</div>

		<a href='/sites/halo/#products' data-is='button'>
			<span>Discover Our Filtration Systems</span>
		</a>
	</div>

	<style lang='css' is:inline>
		@scope (#hero) {
			:scope {
				background:
					linear-gradient(
						180deg,
						rgba(255, 255, 255, 0.15) 0%,
						rgba(1, 24, 50, 0) 100%
					),
					url('/images/halo/Fondo.png') lightgray 50%;
				background-attachment: fixed;
				background-repeat: no-repeat;
				background-size: cover;
				height: 700px;
				overflow: clip;
				position: relative;

				#hero__content {
					align-items: center;
					gap: 30px;
					text-align: center;

					:where(h1, h2, h3, h4, h5, h6) {
						color: var(--clr-background__raised);
					}

					@container xwindow (width < 800px) {
						grid-column: 1/-1;
					}
				}
			}
		}
	</style>
</header>
