<section id='cleanwater' data-is='grid' style='--cols: 1; --gap: 60px;'>
	<h3>Why Choose Halo water filtering system?</h3>
	<div data-is='grid' style='--cols: 2; --gap: 60px;'>
		<div data-is='grid' style='--cols: 2; --gap: 60px;' class='span-on-mobile'>
			<x-group style='gap: 10px;'>
				<i data-is='icon' style='--size: 100px; --wght: 100;'> heart_plus </i>
				<h5>Health and Wellness</h5>
				<p>
					Eliminates contaminants and bacteria, providing safe water for daily
					consumption.
				</p>
			</x-group>

			<x-group style='gap: 10px;'>
				<i data-is='icon' style='--size: 100px; --wght: 100;'> water_full </i>
				<h5>Improve Taste and Odor</h5>
				<p>
					Reduction of chlorine and other substances that affect the taste and
					odor of water.
				</p>
			</x-group>

			<x-group style='gap: 10px;'>
				<i data-is='icon' style='--size: 100px; --wght: 100;'>
					dishwasher_gen
				</i>
				<h5>Appliance Protection</h5>
				<p>
					Prevents the buildup of minerals and sediment that can damage your
					appliances.
				</p>
			</x-group>

			<x-group style='gap: 10px;'>
				<i data-is='icon' style='--size: 100px; --wght: 100;'> savings </i>
				<h5>Economic Savings</h5>
				<p>
					It reduces the need to buy bottled water, generating long-term
					savings.
				</p>
			</x-group>
		</div>

		<blockquote
			data-is='stack'
			style='box-shadow: 0px 15px 15px 0px rgba(0, 0, 0, 0.05); justify-content: center; border-left-color: var(--clr-accent__base); gap: 30px; padding: 120px 60px;'
			class='span-on-mobile'>
			<p style='font-size: 25px;'>
				❝ We don’t just filter water — we filter your worries, delivering
				crystal-clear quality you can trust. Enjoy pure water and life ❞
			</p>
			<cite
				style='color: var(--clr-accent__base); font-size: 20px; font-weight: 500;'>
				— Adam Joyce, Founder & CEO
			</cite>
		</blockquote>
	</div>

	<style lang='css' is:inline>
		@scope {
			:scope {
				overflow: clip;
				padding-block: 60px;
				position: relative;
			}
		}
	</style>
</section>
