<section
	id=''
	data-is='grid'
	data-layout='expand'
	style='--cols: 1; --gap: 30px; place-items: center;'>
	<figure data-is='background'>
		<img src='/images/halo/Fondo.png' alt='background' />
	</figure>
	<div
		data-is='stack'
		style='gap: 15px; place-content: center; place-items: center; text-align: center;'>
		<p style='color: #f2f2f2;'>Transform your tap into a source of wellness.</p>
		<h3 style='color: #ffffff;'>Pure Intentions Start at Home</h3>
		<p style='color: #f2f2f2;'>
			With every sip, you're making a choice that's good for your health, your
			safety, and your peace of mind. Our advanced water filtration systems are
			like a guardian angel for your family's health. They don't just remove
			contaminants; they restore purity, enhance taste, and support your
			family's well-being from the inside out.
		</p>
	</div>

	<a
		href='#contact'
		data-is='button'
		class='big light'
		style='width: min(100%, 348px);'>
		Get a quote
	</a>

	<style lang='css' is:inline>
		@scope {
			:scope {
				overflow: clip;
				padding-block: 60px;
				position: relative;
			}
		}
	</style>
</section>
