<section
	data-is='grid'
	data-layout='expand'
	style='--cols: 3; --gap: calc(60px - max(calc((100% - var(--inner-column)) / 2), calc(var(--inner-gutter) + 1px))); align-items: center; min-height: 384px; padding: 0;'>
	<figure data-is='background'>
		<img src='/images/halo/Fondo.png' alt='background' />
	</figure>

	<div
		style='height: 410px; overflow: clip; position: relative;'
		class='span-on-mobile'>
		<figure style='height: 100%; width: 100%;'>
			<img src='/images/halo/haloinstallation.png' alt='installation' />
		</figure>
	</div>

	<div
		data-is='group'
		style='gap: 15px; padding-block: 60px; padding-inline: max(calc((100% - var(--inner-column)) / 2), calc(var(--inner-gutter) + 1px));'
		class='span-on-mobile'>
		<h3 style='color: #ffffff;'>
			WATER FILTRATION<br />& CONDITIONING SYSTEM<br />FOR THE WHOLE HOUSE
		</h3>
		<p style='color: #f2f2f2;'>
			At Hytech Home, we understand the importance of having clean, safe water
			in your home. Our water filtration system are designed to remove
			impurities, improve taste, and protect your family’s health.
		</p>
	</div>

	<div
		style='height: 410px; overflow: clip; position: relative;'
		class='span-on-mobile'>
		<figure style='height: 100%; width: 100%;'>
			<img
				src='/images/halo/childrendrinkingwater.png'
				alt='childrendrinkingwater'
				style='object-fit: contain; object-position: right 85px;'
			/>
		</figure>
	</div>

	<style lang='css' is:inline>
		@scope {
			:scope {
				overflow: clip;
				position: relative;
			}
		}
	</style>
</section>
