<header id='lookup' data-is='stack' data-layout='expand'>
	<h2>Search and Filter Page Contents</h2>
	<label for='search' data-is='input'>
		<i data-is='icon'>search</i>
		<input type='text' id='search' name='search' />
	</label>

	<style lang='css' is:inline>
		@scope (#lookup) {
			:scope {
				align-items: stretch;
				background: var(--clr-background__lowered);
				gap: 15px;
				height: 384px;
				justify-content: end;
				overflow: clip;
				padding-bottom: 60px;
				position: relative;
			}
		}
	</style>
</header>
