<header id='hero' data-is='stack' data-layout='expand'>
	<h1>Terms of Use</h1>
	<p><em>Last updated June 05, 2025</em></p>

	<style lang='css' is:inline>
		@scope (#hero) {
			:scope {
				align-items: stretch;
				background: var(--clr-background__lowered);
				gap: var(--md);
				height: 384px;
				justify-content: end;
				overflow: clip;
				padding-bottom: calc(var(--xl) * 2);
				position: relative;
			}
		}
	</style>
</header>
