<section id='reviews' data-is='stack' style='gap: var(--xl);'>
	<h3>Customer Success Stories</h3>

	<div data-is='row' style='gap: var(--xl);'></div>

	<div data-is='row'>
		<button>
			<i data-is='icon'>arrow_left_alt</i>
		</button>
		<button>
			<i data-is='icon'>arrow_right_alt</i>
		</button>
	</div>

	<style lang='css' is:inline>
		@scope (#reviews) {
			:scope {
				overflow: clip;
				padding-block: calc(var(--xl) * 2);
				position: relative;
			}
		}
	</style>
</section>
