---
import Layout from 'src/lib/layout.html.astro';

const iconNames = [
	'stadia_controller',
	'g_translate',
	'shopping_bag',
	'arrow_circle_up',
	'ios_share',
	'bolt',
	'folder_open',
	'width_full',
	'side_navigation',
	'stacks',
	'autorenew',
	'article',
	'clock_loader_40',
	'asterisk',
	'assistant_navigation',
	'attachment',
	'check_box',
	'bottom_panel_open',
	'home_work',
	'travel',
	'explore',
	'globe',
	'ev_shadow',
	'early_on',
	'search',
	'settings',
	'notifications',
	'add_circle',
	'deskphone',
	'ambient_screen',
	'account_box',
	'add_box',
	'alarm',
	'book',
	'brush',
	'build',
	'call',
	'camera',
	'chat',
	'check',
	'close',
	'code',
	'delete',
	'edit',
	'email',
	'favorite',
	'feedback',
	'filter_list',
	'flag',
	'folder',
	'fullscreen',
	'help',
	'history',
	'home',
	'info',
	'keyboard',
	'lock',
	'more_vert',
	'menu',
	'mic',
	'movie',
	'music_note',
	'navigation',
	'open_in_new',
	'pause',
	'play_arrow',
	'print',
	'refresh',
	'save',
	'school',
	'security',
	'settings_voice',
	'share',
	'shopping_cart',
	'sort',
	'star',
	'stop',
	'subject',
	'sync',
	'text_fields',
	'thumb_up',
	'undo',
	'verified',
	'videocam',
	'visibility',
	'warning',
	'watch',
	'work',
];
---

<Layout title='Lilys'>
	<ly-app layout='default' class='grid cols-4'>
		<section>
			<h6>Icon</h6>
			<ly-grid class='place-items-center h-100'>
				{
					iconNames
						.sort(() => Math.random() - 0.5)
						.slice(0, iconNames.length / iconNames.length)
						.map((icon) => <ly-icon>{icon}</ly-icon>)
				}
			</ly-grid>
		</section>

		<section>
			<h6>Radio</h6>
			<ly-grid class='place-items-center h-100'>
				<ly-radio group='radio-group'> </ly-radio>
			</ly-grid>
		</section>

		<section>
			<h6>Field</h6>
			<ly-grid class='place-items-center h-100'>
				<ly-field
					label='First Name'
					name='firstname'
					if-error="field value it's badly formatted">
					<input name='firstname' type='text' />
				</ly-field>
			</ly-grid>
		</section>

		<section>
			<h6>Col</h6>
			<ly-col class='place-items-center grow h-100'>
				<span>Im inside a col</span>
			</ly-col>
		</section>

		<section>
			<h6>Grid</h6>
			<ly-grid class='place-items-center h-100'>
				<span>Im inside a grid</span>
			</ly-grid>
		</section>

		<section>
			<h6>Row</h6>
			<ly-row class='place-items-center grow h-100'>
				<span>Im inside a row</span>
			</ly-row>
		</section>

		<section>
			<ly-list style='--maxCols: 3;'>
				<ly-list-header>
					<ly-list-cell>cell</ly-list-cell>
					<ly-list-cell>cell</ly-list-cell>
					<ly-list-cell>cell</ly-list-cell>
				</ly-list-header>
				<ly-list-row>
					<ly-list-cell>cell</ly-list-cell>
					<ly-list-cell>cell</ly-list-cell>
					<ly-list-cell>cell</ly-list-cell>
				</ly-list-row>
				<ly-list-footer>
					<ly-list-cell>cell</ly-list-cell>
					<ly-list-cell>cell</ly-list-cell>
					<ly-list-cell>cell</ly-list-cell>
				</ly-list-footer>
			</ly-list>
		</section>
	</ly-app>
</Layout>

<style lang='css'>
	ly-app {
		--bg: var(--clr-background);
		--gap: var(--scale-5xs);
		padding: var(--scale-5xs);

		& > section {
			background-color: color-mix(in srgb, var(--bg), black 50%);
			padding: var(--scale-5xs);
		}
	}
</style>
