---
import Layout from '../../layouts/app.astro';
import Iframe from '../../layouts/iframe.astro';
---

<Layout>
	<Iframe>
		<div id='demoapp' data-is='app'>
			<div
				data-has='blur'
				style='background: linear-gradient(180deg,rgba(255, 255, 255, 0.5) 0%,rgba(255, 255, 255, 0) 100%); height: 115px; inset: 0 0 auto 0; position: fixed; width: 100%; z-index: 1;'>
				<div data-is='layer' style='--i: 0;'></div>
				<div data-is='layer' style='--i: 1;'></div>
				<div data-is='layer' style='--i: 2;'></div>
				<div data-is='layer' style='--i: 3;'></div>
				<div data-is='layer' style='--i: 4;'></div>
				<div data-is='layer' style='--i: 5;'></div>
			</div>

			<nav id='navbar' data-layout='expand'>
				<x-row>
					<figure style='height: 75px;'>
						<img src='/images/halo/hytech_h2o.png' alt='logo' />
					</figure>
				</x-row>

				<x-row class='hide-on-mobile'>
					<a href='#about' data-is='text'>
						<span>About</span>
					</a>
					<a href='#cleanwater' data-is='text'>
						<span>Clean Water</span>
					</a>
					<a href='#products' data-is='text'>
						<span>Products</span>
					</a>
					<a href='#' data-is='text'>
						<span>Hytech Home</span>
						<i data-is='icon'>north_east</i>
					</a>
				</x-row>

				<x-row>
					<button class='big' style='font-size: 15px;'> Get in contact </button>
				</x-row>
			</nav>

			<header
				id='hero'
				data-is='grid'
				data-layout='expand'
				style='--cols: 2; --gap: 60px; place-content: center;'>
				<figure data-is='background' style='height: auto; inset: auto 0 0 0;'>
					<img src='/images/halo/Familia.png' alt='background' />
				</figure>

				<x-stack
					style='align-items: center; gap: 30px; text-align: center;'
					class='span-on-mobile'>
					<div data-is='group' style='gap: 5px;'>
						<h1 style='color: white;'>Protect your family</h1>
						<p style='color: white; font-size: 25px;'>
							With pure and safe water.
						</p>
					</div>

					<button class='big' style='font-size: 15px;'>
						Discover Our Filtration Systems
					</button>
				</x-stack>
			</header>

			<section
				id='about'
				data-is='grid'
				style='--cols: 2; --gap: 60px; row-gap: 30px;'>
				<h3 class='span-on-mobile'>
					CLEANER WATER STARTS HERE — POWERED BY HALO®, BROUGHT TO YOU BY
					HYTECH HOME
				</h3>

				<p style='font-weight: 500; place-content: end;' class='hide-on-mobile'>
					Elevate every drop. Protect your family.
				</p>

				<p>
					Hytech Home has teamed up with HALO® Water Systems to bring
					industry-leading water filtration right to your home. HALO’s
					state-of-the-art systems remove harmful contaminants, extend the life
					of your plumbing, and deliver refreshing, clean water from every tap.
				</p>

				<p>
					As a trusted home performance company, Hytech Home is proud to offer
					seamless access to HALO’s proven technology — including expert
					guidance, professional installation, and exclusive incentives.
				</p>
			</section>

			<section
				id='consulting-quoting'
				data-is='grid'
				data-layout='expand'
				style='--cols: 2; --gap: 60px;'>
				<figure data-is='background'>
					<img
						src='/images/halo/Menol_Bratpit_.png'
						alt='background'
						style='object-position: 1% 0%;'
					/>
				</figure>

				<div class='hide-on-mobile'></div>

				<form
					data-is='grid'
					style='--cols: 1; --gap: 60px;'
					class='span-on-mobile'>
					<header data-is='stack' style='gap: var(--md);'>
						<h3>Request a Free<br />Consultation or Quote</h3>
						<p>
							Fill out this form for a free consultation or product quote.<br />
							We'll get back to you shortly.
						</p>
					</header>

					<fieldset data-is='grid' style='--cols: 2; --gap: 30px;'>
						<label for='first_name' data-is='field'>
							<span>First Name</span>
							<input
								type='text'
								name='first_name'
								id='first_name'
								placeholder='...'
							/>
						</label>

						<label for='first_name' data-is='field'>
							<span>Last Name</span>
							<input
								type='text'
								name='last_name'
								id='last_name'
								placeholder='...'
							/>
						</label>

						<label for='phone_number' data-is='field'>
							<span>Phone</span>
							<input
								type='tel'
								name='phone_number'
								id='phone_number'
								placeholder='...'
							/>
						</label>

						<label for='email' data-is='field'>
							<span>Email</span>
							<input type='email' name='email' id='email' placeholder='...' />
						</label>
					</fieldset>

					<fieldset data-is='grid' style='--cols: 2; --gap: 30px;'>
						<label for='address' data-is='field'>
							<span>Address</span>
							<div data-is='input'>
								<input
									type='text'
									name='address'
									id='address'
									placeholder='...'
								/>
								<i data-is='icon' data-part='trail'>my_location</i>
							</div>
						</label>

						<label for='state' data-is='field'>
							<span>State</span>
							<select name='state' id='state'>
								<option value=''>Pick an option</option>
							</select>
						</label>

						<label for='city' data-is='field'>
							<span>City</span>
							<select name='city' id='city'>
								<option value=''>Pick an option</option>
							</select>
						</label>

						<label for='zip' data-is='field'>
							<span>Zip</span>
							<input type='number' name='zip' id='zip' placeholder='...' />
						</label>
					</fieldset>

					<fieldset data-is='grid' style='--cols: 2; --gap: 30px;'>
						<label for='productsofinterest' data-is='field'>
							<span>Which products are of interest?</span>
							<select name='productsofinterest' id='productsofinterest'>
								<option value=''>Pick one or more options</option>
							</select>
						</label>

						<label for='preferredcontactime' data-is='field'>
							<span>Preferred contact time</span>
							<select name='preferredcontactime' id='preferredcontactime'>
								<option value=''>Pick one or more options</option>
							</select>
						</label>
					</fieldset>

					<button class='big' style='width: 100%;'> Get Started </button>
				</form>
			</section>

			<section id='cleanwater' data-is='grid' style='--cols: 1; --gap: 60px;'>
				<h3>Why Choose Halo water filtering system?</h3>
				<div data-is='grid' style='--cols: 2; --gap: 60px;'>
					<div
						data-is='grid'
						style='--cols: 2; --gap: 60px;'
						class='span-on-mobile'>
						<x-group style='gap: 10px;'>
							<i data-is='icon' style='--size: 100px; --wght: 100;'>
								heart_plus
							</i>
							<h5>Health and Wellness</h5>
							<p>
								Eliminates contaminants and bacteria, providing safe water for
								daily consumption.
							</p>
						</x-group>

						<x-group style='gap: 10px;'>
							<i data-is='icon' style='--size: 100px; --wght: 100;'>
								water_full
							</i>
							<h5>Improve Taste and Odor</h5>
							<p>
								Reduction of chlorine and other substances that affect the taste
								and odor of water.
							</p>
						</x-group>

						<x-group style='gap: 10px;'>
							<i data-is='icon' style='--size: 100px; --wght: 100;'>
								dishwasher_gen
							</i>
							<h5>Appliance Protection</h5>
							<p>
								Prevents the buildup of minerals and sediment that can damage
								your appliances.
							</p>
						</x-group>

						<x-group style='gap: 10px;'>
							<i data-is='icon' style='--size: 100px; --wght: 100;'>
								savings
							</i>
							<h5>Economic Savings</h5>
							<p>
								It reduces the need to buy bottled water, generating long-term
								savings.
							</p>
						</x-group>
					</div>

					<blockquote
						data-is='stack'
						style='box-shadow: 0px 15px 15px 0px rgba(0, 0, 0, 0.05); justify-content: center; border-left-color: var(--clr-accent__base); gap: 15px; padding: 30px;'
						class='span-on-mobile'>
						<p style='font-size: 20px;'>
							We don’t just filter water — we filter your worries, delivering
							crystal-clear quality you can trust. Enjoy pure water and life.
						</p>
						<cite
							style='color: var(--clr-accent__base); font-size: 15px; font-weight: 500;'>
							— Adam Joyce, Founder & CEO
						</cite>
					</blockquote>
				</div>
			</section>

			<section
				data-is='grid'
				data-layout='expand'
				style='--cols: 3; --gap: calc(60px - max(calc((100% - var(--inner-column)) / 2), calc(var(--inner-gutter) + 1px))); align-items: center; min-height: 384px; padding: 0;'>
				<figure data-is='background'>
					<img src='/images/halo/Fondo.png' alt='background' />
				</figure>

				<div
					style='height: 410px; overflow: clip; position: relative;'
					class='span-on-mobile'>
					<figure style='height: 100%; width: 100%;'>
						<img src='/images/halo/haloinstallation.png' alt='installation' />
					</figure>
				</div>

				<div
					data-is='group'
					style='gap: 15px; padding-block: 60px; padding-inline: max(calc((100% - var(--inner-column)) / 2), calc(var(--inner-gutter) + 1px));'
					class='span-on-mobile'>
					<h3 style='color: #ffffff;'>
						WATER FILTRATION<br />& CONDITIONING SYSTEM<br />FOR THE WHOLE HOUSE
					</h3>
					<p style='color: #f2f2f2;'>
						At Hytech Home, we understand the importance of having clean, safe
						water in your home. Our water filtration system are designed to
						remove impurities, improve taste, and protect your family’s health.
					</p>
				</div>

				<div
					style='height: 410px; overflow: clip; position: relative;'
					class='span-on-mobile'>
					<figure style='height: 100%; width: 100%;'>
						<img
							src='/images/halo/childrendrinkingwater.png'
							alt='childrendrinkingwater'
							style='object-fit: contain; object-position: right 85px;'
						/>
					</figure>
				</div>
			</section>

			<section></section>

			<section
				id=''
				data-is='grid'
				data-layout='expand'
				style='--cols: 1; --gap: 30px; place-items: center;'>
				<figure data-is='background'>
					<img src='/images/halo/Fondo.png' alt='background' />
				</figure>
				<div
					data-is='stack'
					style='gap: 15px; place-content: center; place-items: center; text-align: center;'>
					<p style='color: #f2f2f2;'>
						Transform your tap into a source of wellness.
					</p>
					<h3 style='color: #ffffff;'>Pure Intentions Start at Home</h3>
					<p style='color: #f2f2f2;'>
						With every sip, you're making a choice that's good for your health,
						your safety, and your peace of mind. Our advanced water filtration
						systems are like a guardian angel for your family's health. They
						don't just remove contaminants; they restore purity, enhance taste,
						and support your family's well-being from the inside out.
					</p>
				</div>

				<button class='big light' style='width: min(100%, 348px);'>
					Get a quote
				</button>
			</section>

			<footer
				data-is='grid'
				data-layout='expand'
				style='--cols: 4; --gap: 60px; row-gap: 30px;'>
				<div style='grid-column: 1/-1;'>
					<figure style='height: 75px;'>
						<img src='/images/halo/hytech_h2o.png' alt='logo' />
					</figure>
				</div>

				<div data-is='stack' style='gap: 15px;'>
					<h6>Join Our Newsletter</h6>
					<p>
						Receive latest updates and news about Hytech H2O. Enter your email
						address to subscribe!
					</p>

					<div data-is='row' style='gap: 5px;'>
						<label for='email'>
							<input
								type='email'
								id='email'
								name='email'
								placeholder='Your email address'
							/>
						</label>
						<button style='border-radius: 5px;'> Subscribe </button>
					</div>
				</div>

				<div data-is='stack' style='gap: 15px;'>
					<h6>Contact</h6>

					<div data-is='stack' style='gap: 10px;'>
						<a href='' data-is='text'> info@hytechhome.com </a>
						<a href='' data-is='text'> 631 - 595 - 5500 </a>
						<a href='' data-is='text'>
							6 Washington Avenue, Bay Shore , NY 11706
						</a>
					</div>
				</div>

				<div data-is='stack' style='gap: 15px;'>
					<h6>Company</h6>

					<div data-is='stack' style='gap: 10px;'>
						<a href='#about' data-is='text'> About us </a>
						<a href='' data-is='text'> Privacy policies </a>
						<a href='' data-is='text'> Terms of use </a>
					</div>
				</div>

				<div data-is='stack' style='gap: 15px;'>
					<h6>Social</h6>

					<div data-is='row' style='gap: 10px;'>
						<a href='' data-is='text'>
							<svg
								width='35'
								height='35'
								viewBox='0 0 35 35'
								fill='none'
								xmlns='http://www.w3.org/2000/svg'>
								<path
									d='M13.2723 34.5477V22.9102H9.66438V17.5625H13.2723V15.2583C13.2723 9.30104 15.9673 6.54042 21.8152 6.54042C22.4 6.54042 23.2079 6.60167 23.956 6.69063C24.5164 6.74829 25.0723 6.84329 25.62 6.975V11.824C25.3033 11.7944 24.9857 11.7769 24.6677 11.7715C24.3115 11.7622 23.9551 11.7578 23.5987 11.7583C22.5677 11.7583 21.7627 11.8983 21.156 12.209C20.7482 12.4136 20.4053 12.7277 20.1658 13.116C19.7896 13.7285 19.6204 14.5671 19.6204 15.671V17.5625H25.3356L24.7727 20.6294L24.3542 22.9102H19.6204V34.9342C28.2858 33.8871 35 26.5094 35 17.5625C35 7.89813 27.1644 0.0625 17.5 0.0625C7.83563 0.0625 0 7.89813 0 17.5625C0 25.77 5.64958 32.6562 13.2723 34.5477Z'
									fill='#E5E5E5'></path>
							</svg>
						</a>
						<a href='' data-is='text'>
							<svg
								width='35'
								height='35'
								viewBox='0 0 35 35'
								fill='none'
								xmlns='http://www.w3.org/2000/svg'>
								<path
									d='M10.2522 0.122524C8.3902 0.210316 7.11868 0.507525 6.00699 0.94415C4.85666 1.39259 3.88147 1.99415 2.91124 2.96788C1.94116 3.94161 1.34354 4.91738 0.898452 6.06975C0.467661 7.18363 0.175702 8.45632 0.0934523 10.3193C0.0112023 12.1824 -0.00702685 12.7813 0.00216065 17.5337C0.0112023 22.2858 0.0322023 22.8816 0.122473 24.7485C0.211431 26.6101 0.507473 27.8813 0.944244 28.9933C1.39341 30.1438 1.99424 31.1185 2.96841 32.0891C3.94243 33.0596 4.91747 33.6557 6.07247 34.1015C7.18547 34.5318 8.45845 34.825 10.3212 34.9065C12.1839 34.9882 12.7834 35.0072 17.5344 34.998C22.2853 34.9889 22.8836 34.9678 24.7499 34.8793C26.6166 34.7908 27.881 34.4925 28.9934 34.0578C30.1439 33.6078 31.1193 33.0078 32.0891 32.0335C33.0589 31.059 33.6561 30.0825 34.1009 28.9296C34.5321 27.8166 34.8251 26.5437 34.9059 24.6823C34.9876 22.8143 35.0068 22.218 34.9978 17.4665C34.9886 12.7148 34.9672 12.1191 34.8786 10.2528C34.7901 8.38661 34.4936 7.11932 34.0572 6.00661C33.6074 4.85613 33.0072 3.88211 32.0336 2.91086C31.0598 1.93961 30.0825 1.34286 28.9301 0.899087C27.8162 0.46815 26.5441 0.174587 24.6814 0.094087C22.8187 0.013587 22.2191 -0.00726718 17.4664 0.00206615C12.7137 0.0111078 12.1187 0.0315245 10.2522 0.122524ZM10.4567 31.7583C8.75041 31.6841 7.82393 31.4006 7.20647 31.1633C6.38893 30.8483 5.80647 30.4675 5.1912 29.8581C4.57579 29.2488 4.19793 28.6643 3.8787 27.8485C3.63895 27.231 3.3502 26.3056 3.27043 24.5993C3.18366 22.7553 3.16543 22.2015 3.15522 17.5293C3.14501 12.8573 3.16295 12.3041 3.24374 10.4593C3.31666 8.75455 3.60191 7.82705 3.83874 7.20988C4.15374 6.39132 4.5332 5.80988 5.14395 5.19505C5.7547 4.58007 6.33745 4.20134 7.15397 3.88211C7.77085 3.64134 8.69616 3.35507 10.4017 3.27384C12.2472 3.18634 12.8002 3.16884 17.4717 3.15863C22.1432 3.14842 22.6976 3.16592 24.5439 3.2473C26.2487 3.32138 27.1766 3.60386 27.793 3.8423C28.6109 4.1573 29.193 4.53559 29.8079 5.1475C30.4228 5.75913 30.8019 6.33984 31.1211 7.15811C31.3622 7.77309 31.6486 8.69811 31.7291 10.4048C31.8169 12.2503 31.8368 12.8038 31.8452 17.4748C31.8536 22.1458 31.8371 22.7006 31.7562 24.5448C31.6818 26.251 31.3989 27.1778 31.1612 27.796C30.8462 28.6133 30.4666 29.196 29.8554 29.8105C29.2444 30.4252 28.6623 30.8038 27.8454 31.123C27.2294 31.3635 26.3029 31.6505 24.5988 31.7318C22.7532 31.8185 22.2002 31.8368 17.527 31.847C12.8537 31.8572 12.3022 31.8382 10.4567 31.7583ZM24.7231 8.14686C24.7238 8.56224 24.8477 8.96808 25.079 9.31305C25.3104 9.65803 25.6389 9.92664 26.0229 10.0849C26.4069 10.2432 26.8293 10.284 27.2365 10.2023C27.6438 10.1205 28.0176 9.91976 28.3108 9.62549C28.604 9.33122 28.8033 8.95663 28.8835 8.54907C28.9638 8.14152 28.9214 7.71933 28.7616 7.33588C28.6019 6.95244 28.3321 6.62497 27.9862 6.3949C27.6404 6.16483 27.2341 6.04249 26.8187 6.04336C26.2619 6.04452 25.7284 6.26676 25.3354 6.66122C24.9424 7.05568 24.7222 7.59005 24.7231 8.14686ZM8.51445 17.5175C8.52422 22.4805 12.5549 26.4946 17.5167 26.4853C22.4789 26.4758 26.4957 22.4455 26.4864 17.4825C26.4769 12.5195 22.4453 8.5043 17.4826 8.51407C12.5199 8.52384 8.50512 12.5551 8.51445 17.5175ZM11.6666 17.5113C11.6644 16.3575 12.0043 15.2291 12.6433 14.2685C13.2824 13.308 14.192 12.5585 15.257 12.1149C16.322 11.6713 17.4946 11.5534 18.6266 11.7763C19.7586 11.9991 20.7991 12.5526 21.6165 13.3668C22.434 14.1809 22.9916 15.2192 23.2189 16.3503C23.4463 17.4814 23.3331 18.6545 22.8937 19.7213C22.4543 20.7881 21.7085 21.7006 20.7505 22.3435C19.7925 22.9864 18.6654 23.3308 17.5116 23.3331C16.7456 23.3347 15.9867 23.1854 15.2783 22.8936C14.5699 22.6019 13.926 22.1735 13.3832 21.6329C12.8404 21.0923 12.4095 20.45 12.1149 19.7428C11.8204 19.0356 11.6681 18.2773 11.6666 17.5113Z'
									fill='#E5E5E5'></path>
							</svg>
						</a>
						<a href='' data-is='text'>
							<svg
								width='35'
								height='33'
								viewBox='0 0 35 33'
								fill='none'
								xmlns='http://www.w3.org/2000/svg'>
								<path
									d='M27.564 0.679688H32.9306L21.2056 14.0818L35 32.3153H24.1996L15.7413 21.2553L6.06083 32.3153H0.69125L13.2329 17.9799L0 0.681146H11.0746L18.7206 10.7903L27.564 0.679688ZM25.6813 29.1041H28.6548L9.45875 3.72323H6.26792L25.6813 29.1041Z'
									fill='#E5E5E5'></path>
							</svg>
						</a>
					</div>
				</div>
			</footer>
		</div>
	</Iframe>

	<style lang='css' is:inline>
		@scope {
			:scope {
				--clr-background__lowered: #eceeec;
				--clr-background__base: #f1f3f1;
				--clr-background__raised: #f7f8f7;

				--clr-text__lowered: #999999;
				--clr-text__base: #333333;
				--clr-text__raised: #111111;

				--clr-border__lowered: #e0e0e0;
				--clr-border__base: #e5e5e5;
				--clr-border__raised: #ebebeb;

				--clr-accent__lowered: #0677f9;
				--clr-accent__base: #1f84fa;
				--clr-accent__raised: #3892fa;
				--clr-onAccent: #011832;

				[data-is='app'] {
					background-color: var(--clr-background__raised);
					color: var(--clr-text__base);
					grid-auto-rows: max-content;
					grid-template-rows: max-content;
					height: 100%;
					isolation: isolate;
					min-height: 100%;
					overflow: clip auto;
					position: relative;
					scrollbar-width: none;
					z-index: 1;

					> * {
						grid-row: initial;
						isolation: isolate;
						overflow: clip;
						position: relative;
					}
				}

				button {
					background-color: var(--clr-accent__base);
					color: var(--clr-background__raised);

					&:hover {
						background-color: var(--clr-accent__raised);
					}

					&:active {
						background-color: var(--clr-accent__lowered);
					}

					&.big {
						font-size: 20px;
						font-weight: 500;
						height: 60px;
						justify-content: center;
						padding-inline: 30px;
						text-align: center;
					}

					&.light {
						background-color: var(--clr-background__base);
						color: var(--clr-text__base);

						&:hover {
							background-color: var(--clr-background__raised);
						}

						&:active {
							background-color: var(--clr-background__lowered);
						}
					}
				}

				#navbar {
					align-items: center;
					height: 115px;
					inset: 0 0 auto 0;
					position: fixed;
					z-index: 1;

					& > x-row {
						align-items: inherit;
						flex: 1 1;
						gap: 30px;

						&:nth-child(2) {
							flex: 2 1;
							justify-content: center;

							a {
								font-weight: 500;
							}
						}

						&:nth-child(3) {
							justify-content: end;
						}
					}
				}

				#hero {
					background:
						linear-gradient(
							180deg,
							rgba(255, 255, 255, 0.15) 0%,
							rgba(1, 24, 50, 0) 100%
						),
						url('/images/halo/Fondo.png') lightgray 50%;
					background-attachment: fixed;
					background-repeat: no-repeat;
					background-size: cover;
					height: 700px;
					overflow: clip;
				}

				:where(section, footer) {
					padding-block: 60px;
				}

				form {
					background-color: hsl(from var(--clr-background__raised) h s l / 50%);
					backdrop-filter: blur(5ex);
					border-radius: var(--sm);
					padding: 40px 30px;

					& > fieldset {
						& > label {
							& > :where(input, select, [data-is='input']) {
								background-color: hsl(
									from var(--clr-background__raised) h s l / 50%
								);

								&:not(:focus-visible) {
									outline-color: transparent;
								}
							}
						}
					}
				}

				footer {
					background-color: var(--clr-onAccent);
					color: var(--clr-background__lowered);

					:where(h1, h2, h3, h4, h5, h6) {
						color: var(--clr-background__raised);
					}
				}

				.hide-on-mobile {
					@container xwindow (width < 800px) {
						display: none;
					}
				}

				.span-on-mobile {
					@container xwindow (width < 800px) {
						grid-column: 1/-1;
					}
				}
			}
		}
	</style>
</Layout>
