---
import Layout from '../../layouts/app.astro';
import Iframe from '../../layouts/iframe.astro';
---

<Layout>
	<Iframe>
		<div data-is='app'>
			<div
				data-has='blur'
				style='background: linear-gradient(180deg,rgba(255, 255, 255, 0.5) 0%,rgba(255, 255, 255, 0) 100%); height: 115px; inset: 0 0 auto 0; position: fixed; width: 100%; z-index: 1;'>
				<div data-is='layer' style='--i: 0;'></div>
				<div data-is='layer' style='--i: 1;'></div>
				<div data-is='layer' style='--i: 2;'></div>
				<div data-is='layer' style='--i: 3;'></div>
				<div data-is='layer' style='--i: 4;'></div>
				<div data-is='layer' style='--i: 5;'></div>
			</div>

			<nav id='navbar' data-layout='expand'>
				<x-row>
					<figure style='height: 75px;'>
						<img src='/images/halo/hytech_h2o.png' alt='logo' />
					</figure>
				</x-row>

				<x-row class='hide-on-mobile'>
					<a href='#about' data-is='text'>About</a>
					<a href='#cleanwater' data-is='text'>Clean Water</a>
					<a href='#products' data-is='text'>Products</a>
					<a href='#' data-is='text'>Hytech Home</a>
				</x-row>

				<x-row>
					<button class='btn-secondary'> Get in contact </button>
				</x-row>
			</nav>

			<header
				id='hero'
				data-is='grid'
				data-layout='expand'
				style='--cols: 2; --gap: 60px; place-content: center;'>
				<figure data-is='background' style='height: auto; inset: auto 0 0 0;'>
					<img src='/images/halo/Familia.png' alt='background' />
				</figure>

				<x-stack
					style='align-items: center; gap: 30px; text-align: center;'
					class='span-on-mobile'>
					<div data-is='group' style='gap: 5px;'>
						<h1 style='color: white;'>Protect your family</h1>
						<p style='color: white; font-size: 25px;'>
							With pure and safe water.
						</p>
					</div>

					<button
						class='btn-secondary'
						style='height: 60px; padding-inline: 30px;'>
						Discover Our Filtration Systems
					</button>
				</x-stack>
			</header>

			<section
				id='about'
				data-is='grid'
				style='--cols: 2; --gap: 60px; row-gap: 30px;'>
				<h3 class='span-on-mobile'>
					CLEANER WATER STARTS HERE — POWERED BY HALO®, BROUGHT TO YOU BY
					HYTECH HOME
				</h3>

				<p style='font-weight: 500; place-content: end;' class='hide-on-mobile'>
					Elevate every drop. Protect your family.
				</p>

				<p>
					Hytech Home has teamed up with HALO® Water Systems to bring
					industry-leading water filtration right to your home. HALO’s
					state-of-the-art systems remove harmful contaminants, extend the life
					of your plumbing, and deliver refreshing, clean water from every tap.
				</p>

				<p>
					As a trusted home performance company, Hytech Home is proud to offer
					seamless access to HALO’s proven technology — including expert
					guidance, professional installation, and exclusive incentives.
				</p>
			</section>

			<section
				id='consulting-quoting'
				data-is='grid'
				data-layout='expand'
				style='--cols: 2; --gap: 60px;'>
				<figure data-is='background'>
					<img
						src='/images/halo/Menol_Bratpit_.png'
						alt='background'
						style='object-position: 1% 0%;'
					/>
				</figure>

				<div class='hide-on-mobile'></div>

				<form
					data-is='grid'
					style='--cols: 1; --gap: 60px;'
					class='span-on-mobile'>
					<header data-is='stack' style='gap: var(--md);'>
						<h3>Request a Free<br />Consultation or Quote</h3>
						<p>
							Fill out this form for a free consultation or product quote.<br />
							We'll get back to you shortly.
						</p>
					</header>

					<fieldset data-is='grid' style='--cols: 2; --gap: 30px;'>
						<label for='first_name' data-is='field'>
							<span>First Name</span>
							<input
								type='text'
								name='first_name'
								id='first_name'
								placeholder='...'
							/>
						</label>

						<label for='first_name' data-is='field'>
							<span>Last Name</span>
							<input
								type='text'
								name='last_name'
								id='last_name'
								placeholder='...'
							/>
						</label>

						<label for='phone_number' data-is='field'>
							<span>Phone</span>
							<input
								type='tel'
								name='phone_number'
								id='phone_number'
								placeholder='...'
							/>
						</label>

						<label for='email' data-is='field'>
							<span>Email</span>
							<input type='email' name='email' id='email' placeholder='...' />
						</label>
					</fieldset>

					<fieldset data-is='grid' style='--cols: 2; --gap: 30px;'>
						<label for='address' data-is='field'>
							<span>Address</span>
							<div data-is='input'>
								<input
									type='text'
									name='address'
									id='address'
									placeholder='...'
								/>
								<i data-is='icon' data-part='trail'>my_location</i>
							</div>
						</label>

						<label for='state' data-is='field'>
							<span>State</span>
							<select name='state' id='state'>
								<option value=''>Pick an option</option>
							</select>
						</label>

						<label for='city' data-is='field'>
							<span>City</span>
							<select name='city' id='city'>
								<option value=''>Pick an option</option>
							</select>
						</label>

						<label for='zip' data-is='field'>
							<span>Zip</span>
							<input type='number' name='zip' id='zip' placeholder='...' />
						</label>
					</fieldset>

					<fieldset data-is='grid' style='--cols: 2; --gap: 30px;'>
						<label for='productsofinterest' data-is='field'>
							<span>Which products are of interest?</span>
							<select name='productsofinterest' id='productsofinterest'>
								<option value=''>Pick one or more options</option>
							</select>
						</label>

						<label for='preferredcontactime' data-is='field'>
							<span>Preferred contact time</span>
							<select name='preferredcontactime' id='preferredcontactime'>
								<option value=''>Pick one or more options</option>
							</select>
						</label>
					</fieldset>

					<button
						class='btn-secondary big'
						style='height: 60px; justify-content: center; padding-inline: 30px; text-align: center; width: 100%;'>
						Get Started
					</button>
				</form>
			</section>

			<section id='cleanwater' data-is='grid' style='--cols: 1; --gap: 60px;'>
				<h3>Why Choose Halo water filtering system?</h3>
				<div data-is='grid' style='--cols: 2; --gap: 60px;'>
					<div
						data-is='grid'
						style='--cols: 2; --gap: 60px;'
						class='span-on-mobile'>
						<x-group style='gap: 10px;'>
							<i data-is='icon' style='--size: 100px; --wght: 100;'>
								heart_plus
							</i>
							<h5>Health and Wellness</h5>
							<p>
								Eliminates contaminants and bacteria, providing safe water for
								daily consumption.
							</p>
						</x-group>

						<x-group style='gap: 10px;'>
							<i data-is='icon' style='--size: 100px; --wght: 100;'>
								water_full
							</i>
							<h5>Improve Taste and Odor</h5>
							<p>
								Reduction of chlorine and other substances that affect the taste
								and odor of water.
							</p>
						</x-group>

						<x-group style='gap: 10px;'>
							<i data-is='icon' style='--size: 100px; --wght: 100;'>
								dishwasher_gen
							</i>
							<h5>Appliance Protection</h5>
							<p>
								Prevents the buildup of minerals and sediment that can damage
								your appliances.
							</p>
						</x-group>

						<x-group style='gap: 10px;'>
							<i data-is='icon' style='--size: 100px; --wght: 100;'>
								savings
							</i>
							<h5>Economic Savings</h5>
							<p>
								It reduces the need to buy bottled water, generating long-term
								savings.
							</p>
						</x-group>
					</div>

					<blockquote
						data-is='stack'
						style='box-shadow: 0px 15px 15px 0px rgba(0, 0, 0, 0.05); justify-content: center; border-left-color: var(--clr-accent__base); gap: 15px; padding: 30px;'
						class='span-on-mobile'>
						<p style='font-size: 20px;'>
							We don’t just filter water — we filter your worries, delivering
							crystal-clear quality you can trust. Enjoy pure water and life.
						</p>
						<cite
							style='color: var(--clr-accent__base); font-size: 15px; font-weight: 500;'>
							— Adam Joyce, Founder & CEO
						</cite>
					</blockquote>
				</div>
			</section>

			<section
				data-is='grid'
				data-layout='expand'
				style='--cols: 3; --gap: 60px; align-items: center; padding: 0; min-height: 384px;'>
				<figure data-is='background'>
					<img src='/images/halo/Fondo.png' alt='background' />
				</figure>

				<figure style='height: 100%;'>
					<img src='/images/halo/haloinstallation.png' alt='installation' />
				</figure>

				<div data-is='group' style='gap: 15px;'>
					<h3 style='color: #ffffff;'>
						WATER FILTRATION<br />& CONDITIONING SYSTEM<br />FOR THE WHOLE HOUSE
					</h3>
					<p style='color: #f2f2f2;'>
						At Hytech Home, we understand the importance of having clean, safe
						water in your home. Our water filtration system are designed to
						remove impurities, improve taste, and protect your family’s health.
					</p>
				</div>

				<div style='height: 100%; position: relative;'>
					<figure style='position: absolute; inset: auto 0 -115px auto;'>
						<img
							src='/images/halo/childrendrinkingwater.png'
							alt='childrendrinkingwater'
						/>
					</figure>
				</div>
			</section>
		</div>

		<style lang='css' is:inline>
			@scope {
				:scope {
					--clr-background__lowered: #eceeec;
					--clr-background__base: #f1f3f1;
					--clr-background__raised: #f7f8f7;

					--clr-text__lowered: #999999;
					--clr-text__base: #333333;
					--clr-text__raised: #111111;

					--clr-border__lowered: #e0e0e0;
					--clr-border__base: #e5e5e5;
					--clr-border__raised: #ebebeb;

					--clr-accent__lowered: var(--clr-secondary__lowered);
					--clr-accent__base: var(--clr-secondary__base);
					--clr-accent__raised: var(--clr-secondary__raised);

					[data-is='app'] {
						background-color: var(--clr-background__raised);
						color: var(--clr-text__base);
						grid-auto-rows: max-content;
						grid-template-rows: max-content;
						height: 100%;
						isolation: isolate;
						min-height: 100%;
						overflow: clip auto;
						position: relative;
						scrollbar-width: none;
						z-index: 1;

						> * {
							grid-row: initial;
							isolation: isolate;
							overflow: clip;
							position: relative;
						}
					}

					#navbar {
						align-items: center;
						height: 115px;
						inset: 0 0 auto 0;
						position: fixed;
						z-index: 1;

						& > x-row {
							align-items: inherit;
							flex: 1 1;
							gap: 30px;

							&:nth-child(2) {
								flex: 2 1;
								justify-content: center;

								a {
									/* color: #333; */
									font-weight: 500;
									/* mix-blend-mode: difference; */
								}
							}

							&:nth-child(3) {
								justify-content: end;
							}
						}
					}

					#hero {
						background:
							linear-gradient(
								180deg,
								rgba(255, 255, 255, 0.15) 0%,
								rgba(1, 24, 50, 0) 100%
							),
							url('/images/halo/Fondo.png') lightgray 50%;
						background-attachment: fixed;
						background-repeat: no-repeat;
						background-size: cover;
						height: 700px;
						overflow: clip;
					}

					section {
						padding-block: 60px;
					}

					form {
						background-color: hsl(
							from var(--clr-background__raised) h s l / 50%
						);
						backdrop-filter: blur(5ex);
						border-radius: var(--sm);
						padding: 40px 30px;

						& > fieldset {
							& > label {
								& > :where(input, select, [data-is='input']) {
									background-color: hsl(
										from var(--clr-background__raised) h s l / 50%
									);
									&:not(:focus-visible) {
										outline-color: transparent;
									}
								}
							}
						}
					}

					.btn-secondary {
						background-color: var(--clr-secondary__base);
						color: white;

						&.big {
							font-size: 20px;
							font-weight: 500;
						}

						&:hover {
							background-color: var(--clr-secondary__raised);
						}

						&:active {
							background-color: var(--clr-secondary__lowered);
						}
					}

					.hide-on-mobile {
						@container xwindow (width < 800px) {
							display: none;
						}
					}

					.span-on-mobile {
						@container xwindow (width < 800px) {
							grid-column: 1/-1;
						}
					}
				}
			}
		</style>
	</Iframe>
</Layout>
