:is(.contextLight) {
  --color: hsl(0, 0%, 15%);

  background-color: var(--color) !important;
  outline: solid 0.156rem var(--color) !important;
  outline-offset: -0.156rem;
  pointer-events: none;

  & > i {
    color: hsl(from var(--color) h s 56%) !important;
  }

  &.greenish {
    --color: hsl(118, 69%, 28%);
  }

  &.yellowish {
    --color: hsl(55 69% 28%);
  }

  &.redish {
    --color: hsl(0, 69%, 28%);
  }

  &.blueish {
    --color: hsl(196, 69%, 28%);
  }
}
