---
import Layout_HTML from 'src/lib/layout.html.astro';
import Bottombar from './components/bottombar.astro';
import Sidebar from './components/sidebar.astro';
import Topbar from './components/topbar.astro';
---

<Layout_HTML title='Proposal Tool'>
	<ly-app layout='row'>
		<Sidebar />
		<main class='h-100 grow shrink'>
			<Topbar />
			<ly-col class='h-100 grow shrink'>
				<slot />
			</ly-col>
			<Bottombar />
		</main>
	</ly-app>
</Layout_HTML>

<style lang='css'>
	ly-app {
		& > main {
			--gap: 0;

			& > ly-col {
				overflow-x: clip;
				overflow-y: auto;
				padding: var(--scale-2xl);
			}
		}
	}
</style>
