---
import GeneralLayout from '@layouts/general.astro';
---

<GeneralLayout>
	<header
		data-is='stack'
		data-layout='expand'
		style='background-color: var(--clr-background__base); gap: var(--space-md); margin-top: -95px; outline: solid 2px var(--clr-border__base); padding-block: calc(128 * 0.0625rem) calc(64 * 0.0625rem); place-content: center;'>
		<div data-is='badge' style='outline: solid 2px var(--clr-border__base);'>
			<span>Think</span>
			<span style='color: var(--clr-text__lowered);'>|</span>
			<span>Design</span>
			<span style='color: var(--clr-text__lowered);'>|</span>
			<span>Craft</span>
			<span style='color: var(--clr-text__lowered);'>|</span>
			<span>Deliver</span>
		</div>

		<br />

		<h1>Lilycat</h1>
		<p>
			A minimal, attribute-driven CSS library built for developers and designers
			who value clarity, speed, and control — without the hassle of steep
			learning curves. Lilycat lets you focus on delivery, not setup. No build
			steps. No clutter. Just building.
		</p>
	</header>

	<section
		data-is='stack'
		style='padding-block: calc(var(--space-xl) * 3); gap: var(--space-xl);'>
		<h5>Ready to simplify your CSS workflow?</h5>
		<div role='list' data-is='grid' style='--cols: 3; --gap: var(--space-xl);'>
			<div data-is='card' style='outline: solid 2px var(--clr-border__base)'>
				<i data-is='icon' style='--size: var(--type-h1);'>apps</i>
				<div data-is='stack' style='gap: var(--space-md);'>
					<p>Learn more about the library and how it works.</p>
					<a href='/docs'>Read the docs</a>
				</div>
			</div>

			<div data-is='card' style='outline: solid 2px var(--clr-border__base)'>
				<i data-is='icon' style='--size: var(--type-h1);'>modeling</i>
				<div data-is='stack' style='gap: var(--space-md);'>
					<p>Follow demos and preview experiments.</p>
					<a href='/drafts'>See what’s coming</a>
				</div>
			</div>

			<div data-is='card' style='outline: solid 2px var(--clr-border__base)'>
				<i data-is='icon' style='--size: var(--type-h1);'>verified</i>
				<div data-is='stack' style='gap: var(--space-md);'>
					<p>Explore real-world projects built with Lilycat.</p>
					<a href='/projects'>View live examples</a>
				</div>
			</div>
		</div>
	</section>

	<blockquote
		data-is='stack'
		style='background-color: var(--clr-background__base); gap: var(--space-sm);  padding: var(--space-xl)'>
		<h5><q>What if you could do something amazing with no setup?</q></h5>
		<p style='color: var(--clr-text__lowered); margin-left: var(--space-sm);'>
			That's where Lilycat comes in
		</p>
	</blockquote>
</GeneralLayout>
