---
import GeneralLayout from '@layouts/general.astro';
import {
	getTopLevelRoutesByGroup,
	type RouteItem,
} from 'src/utils/getPageGroup';

const pages: RouteItem[] = (await getTopLevelRoutesByGroup('docs')).filter(
	(page) => page.name !== 'docs'
);
---

<GeneralLayout>
	<section>
		<h2>Docs</h2>

		<br />

		<div data-is='grid' style='--gap: var(--space-md); --cols: 4;'>
			{
				pages.map((el) => (
					<a href={el.path}>
						<span>{el.name}</span>
						<i data-is='icon'>north_east</i>
					</a>
				))
			}
		</div>
	</section>
</GeneralLayout>
