---
import Layout from './.lib/layout.astro';

import Leaderboards from './.lib/section/leaderboards.astro';
import Products from './.lib/section/products.astro';
---

<Layout>
	<h1>Dashboard</h1>
	<Leaderboards />
	<Products />

	<section>
		<h2>Table</h2>
		<p>Showcase</p>
		<ly-flex axis='x' class='g-sm place-between wrap'>
			<button class='bg-primary'>
				<span>Re-Render Table</span>
			</button>
			<ly-field type='search' class='grow'>
				<input placeholder='Type to filter table' />
			</ly-field>
			<button class='bg-primary'>
				<ly-icon>view_column_2</ly-icon>
				<span>Columns</span>
			</button>
			<button class='bg-primary'>
				<ly-icon>swap_vert</ly-icon>
				<span>Sort</span>
			</button>
			<button class='bg-primary'>
				<ly-icon>filter_list</ly-icon>
				<span>Filters</span>
			</button>
		</ly-flex>
		<div data-is='slider' data-variant='horizontal'>
			
		</div>
	</section>
</Layout>
