<nav
	class='g-sm place-between p-xl w-100 ps-fixed z-3'
	tmpl-expand='uncontained'>
	<figure class='aspect-[1/1] h-5xl w-max'>
		<img src='/icon.png' alt='logo' style='filter: invert(1);' />
	</figure>

	<nav class='g-sm place-end'>
		<a href='/' class='clr-inherit'>Get Started</a>
		<a href='/examples' class='clr-inherit'>Examples</a>
		<a
			href='#'
			data-props='--button --outline'
			class='clr-subtext'
			style='pointer-events: none;'>
			Playground (not available)
		</a>
	</nav>
</nav>

<header
	class='[min]h-50[ch] offb-5xl py-5xl place-center radius-3xs'
	tmpl-expand>
	<h1>Lily's</h1>
	<h2>Human Interface's <br />&amp; Mood Styling<br />Guidelines</h2>
	<p class='clr-subtext txt-500'>
		Powered by dead simple CSS props and conventions.
	</p>
</header>

<nav class='g-sm outln outln-primary py-xl w-100' tmpl-expand>
	<button data-props='--outline' class='txt-500'>Tv</button>
	<button data-props='--outline' class='txt-500'>Web</button>
	<button data-props='--outline' class='txt-500'>Tablet</button>
	<button data-props='--outline' class='txt-500'>Mobile</button>
	<button data-props='--outline' class='txt-500'>Watch</button>
</nav>

<style lang='css' scoped>
	nav:first-child {
		z-index: 3;

		&::after {
			background-color: var(--clr-background);
			content: '';
			height: 100%;
			inset: 0;
			mask: linear-gradient(black 4%, transparent 96%);
			padding-block: calc(var(--scale-5xl) * 2);
			pointer-events: none;
			position: absolute;
			z-index: -1;
		}
	}
</style>
