---
import Layout from './.lib/layout.astro';

import Lookup from './.lib/sections/lookup.astro';
import TableOfContents from './.lib/components/tableofcontents.astro';
import TermsOfUseContent from './.lib/sections/termsofusecontent.astro';
---

<Layout>
	<Lookup />

	<div id='terms' data-is='row'>
		<TableOfContents />
		<TermsOfUseContent />

		<style lang='css' is:inline>
			@scope (#terms) {
				:scope {
					gap: calc(var(--xl) * 2);
					position: relative;

					& > * {
						flex: 1 1;
					}
				}
			}
		</style>
	</div>

	<a
		href='#top'
		data-is='button'
		data-position='fab'
		style='bottom: 0; right:0;'>
		<i data-is='icon'>arrow_upward</i>
	</a>
</Layout>
