---

---

<header id='appbar'>
	<!-- <h3>Proposal Tool<br />Center</h3>

			<nav>
				<button data-variant='outline'>
					<i data-is='icon'> search</i>
				</button>
				<button data-variant='outline'>
					<i data-is='icon'> add_2 </i>
				</button>
				<button data-variant='outline'>
					<i data-is='icon'> more_vert </i>
				</button>
			</nav>

			<label for='search' data-is='input'>
				<i data-is='icon' data-part='lead'>search</i>
				<input
					type='text'
					name='search'
					id='search'
					placeholder='Filter list . . .'
				/>
				<i data-is='icon' data-part='trail'>close_small</i>
			</label> -->

	<nav style='justify-content: space-between;'>
		<button data-variant='outline' onclick="history.back()">
			<i data-is='icon'>arrow_back</i>
		</button>

		<nav>
			<button data-variant='outline'>
				<i data-is='icon'> search</i>
			</button>
			<button data-variant='outline'>
				<i data-is='icon'>add_2</i>
			</button>
			<!-- <button data-variant='outline'>
						<i data-is='icon'>solar_power</i>
					</button> -->
			<!-- <button data-variant='outline'>
						<i data-is='icon'>table_convert</i>
					</button> -->
			<button data-variant='outline'>
				<i data-is='icon'>more_vert</i>
			</button>
		</nav>
	</nav>

	<x-row>
		<div>
			<h5>Proposal for</h5>
			<h3>Shah Khan</h3>
		</div>

		<x-row id='status'>
			<i data-is='icon'>circle</i>
			<span>Approved</span>
		</x-row>
	</x-row>

	<style lang='css' is:inline>
		@scope {
			:scope {
				background-color: var(--clr-background__base);
				display: grid;
				grid: auto / 1fr;
				grid-template-rows: max-content 1fr;
				justify-content: space-between;
				height: 175px;
				overflow: clip;
				padding: var(--nm) var(--md);
				row-gap: var(--xl);

				& > nav {
					align-items: center;
					gap: var(--sm);
					height: max-content;

					& > nav {
						align-items: center;
						flex: 1 1;
						gap: var(--sm);
						justify-content: end;
						overflow: clip;
					}
				}

				& > x-row {
					align-items: end;
					gap: var(--sm);
					justify-content: space-between;

					& > div {
						h5 {
							color: var(--clr-text__lowered);
						}
					}

					& > #status {
						[data-is='icon'] {
							--fill: 1;
						}

						color: var(--clr-success__base);
					}
				}
			}
		}
	</style>
</header>
