<nav id='app__bottombar'>
	<div data-is='row'>
		<button data-variant='outline'>
			<span>footer</span>
		</button>
		<button data-variant='outline'>
			<span>footer</span>
		</button>
		<button data-variant='outline'>
			<span>footer</span>
		</button>
	</div>

	<a href='#top' data-is='button' data-variant='outline'>
		<i data-is='icon'>arrow_upward_alt</i>
	</a>

	<style lang='css' is:inline>
		@scope {
			:scope {
				border-radius: var(--space-xl);
				box-shadow: 0 5vmax 100vmax -5vmax black;
				gap: var(--space-nm);
				grid-column: inner;
				grid-row: bottom;
				height: max-content;
				inset: var(--space-nm);
				margin: 0 0 var(--space-nm) 0;
				outline: solid 2px var(--clr-border__base);
				outline-offset: 2px;
				overflow: clip;
				place-content: space-between;
				place-items: center;
				position: sticky;
				z-index: 4;

				&::before {
					backdrop-filter: blur(0.5ex);
					background-color: hsl(from var(--clr-background__base) h s l / 75%);
					content: '';
					inset: 0;
					position: absolute;
					z-index: -1;
				}
			}
		}
	</style>
</nav>
