---
import { Image } from 'astro:assets';
import Logo from '../assets/logo.png';
import IconGithub from '../assets/icon_github.svg';
import IconJSR from '../assets/icon_jsr.svg';
import IconSponsor from '../assets/icon_sponsor.svg';
---

<aside id='app__sidebar'>
	<x-row>
		<a href='/' data-roles='text'>
			<figure>
				<Image src={Logo} alt='logo' decoding='async' loading='eager' />
			</figure>

			<div>
				<h5>Lilycat</h5>
				<p>DX-Oriented CSS library.</p>
			</div>
		</a>

		<button type='button' style='display: contents;' data-toggle-sidebar>
			<x-icon> left_panel_close </x-icon>
		</button>
	</x-row>

	<label for='search' data-is='input'>
		<x-icon> search </x-icon>
		<input type='text' name='search' id='search' />
		<kbd>Ctrl + K</kbd>
	</label>

	<hr />

	<ul role='list'>
		<p>Get Started</p>
		<li>
			<a href={'#' + crypto.randomUUID()} data-roles='text'>
				<span>Introduction</span>
			</a>
		</li>
		<li>
			<details>
				<summary data-roles='button'>
					<span>Quickstart</span>
					<x-icon> keyboard_arrow_down </x-icon>
				</summary>
				<ul>
					<li>
						<a href={'#' + crypto.randomUUID()} data-roles='text'>
							<span>How to install</span>
						</a>
					</li>
					<li>
						<a href={'#' + crypto.randomUUID()} data-roles='text'>
							<span>How to use</span>
						</a>
					</li>
					<li>
						<a href={'#' + crypto.randomUUID()} data-roles='text'>
							<span>Tailwind support</span>
						</a>
					</li>
				</ul>
			</details>
		</li>
		<li>
			<a href={'#' + crypto.randomUUID()} data-roles='text'>
				<span>Examples</span>
			</a>
		</li>
		<li>
			<a href={'#' + crypto.randomUUID()} data-roles='text'>
				<span>FAQs</span>
			</a>
		</li>
	</ul>

	<ul role='list'>
		<p>Concepts</p>
		<li>
			<a href={'#' + crypto.randomUUID()} data-roles='text'>
				<span>Philosophy</span>
			</a>
		</li>
		<li>
			<details>
				<summary data-roles='button'>
					<span>Symbols</span>
					<x-icon> keyboard_arrow_down </x-icon>
				</summary>
				<ol>
					<li class='active'>
						<a href={'#' + crypto.randomUUID()} data-roles='text'>
							<span>Tokens</span>
						</a>
					</li>
					<li>
						<a href={'#' + crypto.randomUUID()} data-roles='text'>
							<span>Reset</span>
						</a>
					</li>
					<li>
						<a href={'#' + crypto.randomUUID()} data-roles='text'>
							<span>Normalize</span>
						</a>
					</li>
					<li>
						<a href={'#' + crypto.randomUUID()} data-roles='text'>
							<span>Icons</span>
						</a>
					</li>
					<li>
						<a href={'#' + crypto.randomUUID()} data-roles='text'>
							<span>Customs</span>
						</a>
					</li>
					<li>
						<a href={'#' + crypto.randomUUID()} data-roles='text'>
							<span>Props</span>
						</a>
					</li>
				</ol>
			</details>
		</li>
	</ul>

	<ul role='list'>
		<p>Development</p>
		<li>
			<a href={'#' + crypto.randomUUID()} data-roles='text'>
				<span>What's new</span>
			</a>
		</li>
		<li>
			<a href={'#' + crypto.randomUUID()} data-roles='text'>
				<span>Roadmap</span>
			</a>
		</li>
		<li>
			<a href={'#' + crypto.randomUUID()} data-roles='text'>
				<span>Contributing</span>
			</a>
		</li>
	</ul>

	<hr />

	<ul role='list'>
		<li>
			<a
				href='https://github.com/LUHMLLO/lilycat'
				target='_blank'
				data-roles='text'
				style='width: 100%;'>
				<figure
					style='aspect-ratio: 1/1; display: inline-flex; height: 20px; place-content: center;'>
					<IconGithub />
				</figure>
				<span>GitHub Repository</span>
				<x-icon>arrow_outward</x-icon>
			</a>
		</li>
		<li>
			<a
				href='https://jsr.io/@luhmllo/lilycat'
				target='_blank'
				data-roles='text'
				style='width: 100%;'>
				<figure
					style='aspect-ratio: 1/1; display: inline-flex; height: 20px; place-content: center;'>
					<IconJSR />
				</figure>
				<span>JSR Package</span>
				<x-icon>arrow_outward</x-icon>
			</a>
		</li>
		<li>
			<a
				href='https://github.com/sponsors/LUHMLLO'
				target='_blank'
				data-roles='text'
				style='width: 100%;'>
				<figure
					style='aspect-ratio: 1/1; display: inline-flex; height: 20px; place-content: center;'>
					<IconSponsor />
				</figure>
				<span>Support Us</span>
				<x-icon>arrow_outward</x-icon>
			</a>
		</li>
	</ul>

	<script type='module' is:inline>
		window.addEventListener('DOMContentLoaded', () => {
			const sidebar = document.querySelector('#app__sidebar');
			if (!sidebar) return;

			if (localStorage.getItem('sidebarFloat') === 'true') {
				sidebar.classList.add('float');
			} else {
				sidebar.classList.remove('float');
			}

			//addCustomEventListener
			addEventListener('sidebar:toggle', () => {
				sidebar.classList.toggle('float');
				localStorage.setItem(
					'sidebarFloat',
					sidebar.classList.contains('float') ? 'true' : 'false',
				);
			});

			//dispatchCustomEvent
			document
				.querySelectorAll('[data-toggle-sidebar]')
				.forEach((el) =>
					el.addEventListener('click', () =>
						dispatchEvent(new CustomEvent('sidebar:toggle')),
					),
				);
		});
	</script>

	<style lang='css' is:inline>
		@scope {
			:scope {
				background-color: var(--clr-background__raised);
				border-right: solid 2px var(--clr-border__base);
				gap: var(--xl);
				grid-column: left;
				grid-row: expand;
				height: 100dvh;
				inset: 0;
				overflow: auto;
				padding: var(--xl) var(--md);
				position: sticky;
				transition-property: opacity, position, transform, translate;
				transition-duration: var(--animDuration);
				transition-timing-function: var(--animTiming);
				width: max(0px, 300px);
				z-index: 5;

				&.float {
					opacity: 0;
					position: fixed;
					transform: translateX(-100%);

					/* &:hover {
						opacity: 1;
						transform: translateX(0);
					} */
				}

				& > x-row {
					align-items: center;
					gap: var(--xs);

					a {
						flex: 1 1 auto;
						flex-wrap: wrap;

						& > figure {
							aspect-ratio: 1/1;
							flex-shrink: 0;
							vertical-align: middle;
							width: 45px;
						}

						& > div {
							flex: 1 1 auto;
							min-width: 0;
						}
					}
				}

				& > label[data-roles~='input'] {
					background-color: var(--clr-background__raised);
				}

				& > hr {
					background-color: var(--clr-border__raised);
				}
			}
		}
	</style>
</aside>
