---
import { Image } from 'astro:assets';
import Logo from '../assets/logo.png';
---

<nav id='app__topbar'>
	<a href='/' data-roles='text'>
		<figure>
			<Image src={Logo} alt='logo' decoding='async' loading='eager' />
		</figure>
		<span>Lilycat</span>
	</a>

	<button data-toggle-sidebar>
		<x-icon>menu</x-icon>
	</button>

	<style lang='css' is:inline>
		@scope {
			:scope {
				border-radius: var(--xl);
				box-shadow: 0 5vmax 100vmax -5vmax black;
				gap: var(--nm);
				grid-column: inner;
				grid-row: top;
				height: max-content;
				inset: var(--nm);
				margin: var(--nm) 0 0 0;
				outline: solid 2px var(--clr-border__base);
				outline-offset: 2px;
				overflow: clip;
				place-content: space-between;
				place-items: center;
				position: sticky;
				z-index: 4;

				&::before {
					backdrop-filter: blur(0.5ex);
					background-color: hsl(from var(--clr-background__base) h s l / 75%);
					content: '';
					inset: 0;
					position: absolute;
					z-index: -1;
				}

				& > a {
					& > figure {
						aspect-ratio: 1/1;
						vertical-align: middle;
						width: 45px;
					}
				}

				& > :where(a, button) {
					flex-shrink: 0;
				}
			}
		}
	</style>
</nav>
