---
import { Image } from 'astro:assets';
import Logo from '../assets/logo.png';
---

<nav id='app__topbar' data-visible='false'>
	<a href='/' data-variant='text'>
		<figure style='height: 45px;'>
			<Image src={Logo} alt='logo' decoding='async' loading='eager' />
		</figure>
	</a>

	<button data-variant='outline' data-toggle-sidebar>
		<i data-is='icon'>menu</i>
	</button>

	<script type='module' is:inline>
		window.addEventListener('DOMContentLoaded', () => {
			const topbar = document.querySelector('#app__topbar');
			if (!topbar) return;

			// Initial sync from sidebar state
			const isSidebarVisible = localStorage.getItem('sidebarVisible') == 'true';
			topbar.dataset.visible = !isSidebarVisible;

			addEventListener('sidebar:visibility', (e) => {
				const visible = e.detail?.visible ?? false;
				topbar.dataset.visible = !visible;
			});
		});
	</script>

	<style lang='css' is:inline>
		@scope {
			:scope {
				border-radius: var(--xl);
				box-shadow: 0 5vmax 100vmax -5vmax black;
				gap: var(--nm);
				grid-row: top;
				height: max-content;
				inset: var(--nm) 0;
				margin: var(--nm) 0 0 0;
				outline: solid 2px var(--clr-border__base);
				outline-offset: 2px;
				overflow: clip;
				place-content: space-between;
				place-items: center;
				position: sticky;
				transition-property: opacity, position, transform, translate;
				transition-duration: var(--animDuration);
				transition-timing-function: var(--animTiming);
				z-index: 4;

				&::before {
					backdrop-filter: blur(0.5ex);
					background-color: hsl(from var(--clr-background__base) h s l / 75%);
					content: '';
					inset: 0;
					position: absolute;
					z-index: -1;
				}

				&[data-visible='false'] {
					opacity: 0;
					position: fixed;
					transform: translateY(-100%);
				}
			}
		}
	</style>
</nav>
