---
import ShowcaseLayout from '@layouts/showcase.astro';

import Appbar from './.lib/appbar.astro';
import Hero from './.lib/hero.astro';
import About from './.lib/about.astro';
---

<ShowcaseLayout>
	<div id='demoapp' data-is='app'>
		<Appbar />
		<Hero />
		<About />
	</div>

	<style lang='css' is:inline>
		@scope {
			:scope {
				--clr-background__lowered: #f9f9f9;
				--clr-background__base: #f7f8f7;
				--clr-background__raised: #fafbfa;

				--clr-text__lowered: #999999;
				--clr-text__base: #333333;
				--clr-text__raised: #111111;

				--clr-border__lowered: #e0e0e0;
				--clr-border__base: #e5e5e5;
				--clr-border__raised: #ebebeb;

				--clr-accent__lowered: #28368f;
				--clr-accent__base: #3142af;
				--clr-accent__raised: #4052c9;
				--clr-onAccent: #090c20;

				#demoapp {
					background-color: var(--clr-background__base);
					color: var(--clr-text__base);
					grid-auto-rows: max-content;
					grid-template-rows: max-content;
					height: 100%;
					isolation: isolate;
					min-height: 100%;
					overflow: clip auto;
					position: relative;
					scrollbar-width: none;
					z-index: 1;

					> * {
						grid-row: initial;
						isolation: isolate;
					}
				}
			}
		}
	</style>
</ShowcaseLayout>
