---
import ShowcaseLayout from '@layouts/showcase.astro';
---

<ShowcaseLayout>
	<div id='demoapp'>
		<header>
			<style lang='css' is:inline>
				@scope {
					:scope {
					}
				}
			</style>
		</header>

		<section>
			<style lang='css' is:inline>
				@scope {
					:scope {
					}
				}
			</style>
		</section>

		<style lang='css' is:inline>
			@scope {
				:scope {
				}
			}
		</style>
	</div>
</ShowcaseLayout>
