---
import '../../../../css/dist/all.css';
import Scaffold from './html.astro';
import Content from '../components/Content.astro';
import Sidebar from '../components/Sidebar.astro';
import Topbar from '../components/Topbar.astro';
---

<Scaffold>
	<div id='app'>
		<Topbar />
		<Sidebar />
		<Content>
			<slot />
		</Content>
	</div>

	<style lang='css' is:inline>
		@scope {
			#app {
			}
		}
	</style>
</Scaffold>
