@layer config {
  :root {
    --config-fontFamily: "Space Grotesk", serif;
  }
}

@layer scaffold {
  #app {
    isolation: isolate;
    grid-template-rows: minmax(0, 1fr);

    & > #appbar {
      background-color: hsla(0, 0, 0, 0.75%);
      backdrop-filter: blur(25px);
      outline: solid 2px var(--clr-surface--2);
      grid-column: grid-expand;
      position: fixed;
      top: 0;
      z-index: 2;

      & > #viewsbar {
        & > button {
          border-radius: 0;

          &:is(.currentView) {
            border-bottom: solid 2px var(--clr-content--1);
          }
        }
      }
    }

    & > #views {
      overflow: auto;
      padding-block: 100px;
      scroll-padding-block: 100px;
      /* scroll-snap-type: both proximity; */
      z-index: 1;

      & > * {
        scroll-margin: 5dvh;
        scroll-snap-align: start;
      }
    }
  }
}

@layer extras {

  html {
    cursor: none;
  }

  #cursor {
    position: fixed;
    z-index: 5;
    width: 32px;
    height: 32px;
    background-color: white;
    border-radius: 50%;
    pointer-events: none;
    transition:
      background ease-in 10ms,
      box-shadow ease-in 150ms,
      transform ease-in 150ms;
    /* promote it to its own layer to enable  hardware accelerated rendering: */
    transform: translate3d(0, 0, 0);
  }
}