@layer config {
  :root {
    --config-fontFamily: "Space Grotesk", serif;
  }
}

@layer scaffold {
  #app {
    isolation: isolate;
    grid-template-rows: max-content minmax(0, 1fr) max-content;

    & > #appbar {
      background-color: hsla(0, 0, 0, 0.75%);
      backdrop-filter: blur(25px);
      outline: solid 2px var(--clr-surface--2);
      grid-column: grid-expand;
      position: sticky;
      top: 0;
      z-index: 3;

      & > #viewsbar {
        & > button {
          border-radius: 0;

          &:is(.currentView) {
            border-bottom: solid 2px var(--clr-content--1);
          }
        }
      }
    }

    & > #views {
      z-index: 1;
    }
  }
}
