---
import Layout from 'src/layouts/docs.astro';
import Card from 'src/lib/components/docs.card.astro';
---

<Layout>
	<!--  -->
	<ly-grid tmpl='1' class='g-sm py-5xl'>
		<Card Heading='Flex - col'>
			<article class='bg-debug-stripes w-100'>
				<ly-flex axis='y' class='g-sm w-100'>
					{
						[...Array(3).keys()].map((i) => (
							<span class='flex bg-debug p-5xl place-center[all] radius-3xs w-100'>
								{i}
							</span>
						))
					}
				</ly-flex>
			</article>
		</Card>
		<Card Heading='Flex - row'>
			<article class='bg-debug-stripes w-100'>
				<ly-flex axis='x' class='g-sm w-100'>
					{
						[...Array(3).keys()].map((i) => (
							<span class='flex bg-debug p-5xl place-center[all] radius-3xs w-100'>
								{i}
							</span>
						))
					}
				</ly-flex>
			</article>
		</Card>
		<Card Heading='Grid'>
			<article class='bg-debug-stripes w-100'>
				<ly-grid tmpl='12' class='g-sm w-100'>
					{
						[...Array(8).keys()].map((i) => (
							<span class='flex bg-debug p-5xl place-center[all] radius-3xs w-100'>
								{i}
							</span>
						))
					}
				</ly-grid>
			</article>
		</Card>
	</ly-grid>
	<!--  -->
</Layout>
