:is(
  .icon,
  .material-symbols-outlined,
  .material-symbols-rounded,
  .material-symbols-sharp
) {
  --fill: 0;
  --size: var(--type-sm, 25px);
  aspect-ratio: 1/1;
  background-color: color-mix(in hsl, var(--clr-debug), transparent 50%);
  display: inline-grid;
  flex: 0 0 max-content;
  font-family:
    Material Symbols Outlined,
    Material Symbols Rounded,
    Material Symbols Sharp,
    sans-serif;
  font-feature-settings: "liga";
  font-size: clamp(100%, 100dvw, var(--size));
  font-variation-settings:
    "FILL" var(--fill),
    "wght" 100,
    "GRAD" 200,
    "opsz" 48;
  height: var(--size);
  overflow: clip;
  place-content: center center;
  place-items: center center;
  user-select: none;
  width: var(--size);

  & > * {
    display: contents;
    vertical-align: -webkit-baseline-middle middle;
  }

  &:is([data-props~="--solid"]) {
    --fill: 1;
  }
}
