@layer tokens {
  :root {
    --clr-background__lowered: hsl(from var(--clr-background__base) h s calc(l - 2));
    --clr-background__base: light-dark(hsl(0 0 95), hsl(0 0 5));
    --clr-background__raised: hsl(from var(--clr-background__base) h s calc(l + 2));

    --clr-text__lowered: hsl(from var(--clr-text__base) h s calc(l - 40));
    --clr-text__base: light-dark(hsl(0 0 20), hsl(0 0 90));
    --clr-text__raised: hsl(from var(--clr-text__base) h s calc(l + 10));

    --clr-border__lowered: hsl(from var(--clr-border__base) h s calc(l - 5));
    --clr-border__base: light-dark(hsl(0 0 90), hsl(0 0 10));
    --clr-border__raised: hsl(from var(--clr-border__base) h s calc(l + 5));

    --clr-primary__lowered: hsl(from var(--clr-primary__base) h s calc(l - 5));
    --clr-primary__base: hsl(118 35 60);
    --clr-primary__raised: hsl(from var(--clr-primary__base) h s calc(l + 5));
    --clr-onPrimary: hsl(118 35 15);

    --clr-secondary__lowered: hsl(from var(--clr-secondary__base) h s calc(l - 5));
    --clr-secondary__base: hsl(215 50 60);
    --clr-secondary__raised: hsl(from var(--clr-secondary__base) h s calc(l + 5));
    --clr-onSecondary: hsl(118 35 15);

    --clr-accent__lowered: hsl(from var(--clr-accent__base) h s calc(l - 5));
    --clr-accent__base: hsl(4, 65%, 58%);
    --clr-accent__raised: hsl(from var(--clr-accent__base) h s calc(l + 5));
    --clr-onAccent: hsl(4, 65%, 15%);

    --clr-debug__lowered: hsl(from var(--clr-debug__raised) h s calc(l - 5));
    --clr-debug__base: hsl(325 61 60);
    --clr-debug__raised: hsl(from var(--clr-debug__raised) h s calc(l + 5));
    --clr-onDebug: hsl(325 61 15);

    --clr-error__lowered: hsl(from var(--clr-error__base) h s calc(l - 5));
    --clr-error__base: hsl(0 61 60);
    --clr-error__raised: hsl(from var(--clr-error__base) h s calc(l + 5));
    --clr-onError: hsl(0 61 15);

    --clr-info__lowered: hsl(from var(--clr-info__base) h s calc(l - 5));
    --clr-info__base: hsl(200 61 60);
    --clr-info__raised: hsl(from var(--clr-info__base) h s calc(l + 5));
    --clr-onInfo: hsl(200 61 15);

    --clr-success__lowered: hsl(from var(--clr-success__base) h s calc(l - 5));
    --clr-success__base: hsl(135 61 60);
    --clr-success__raised: hsl(from var(--clr-success__base) h s calc(l + 5));
    --clr-onSuccess: hsl(135 61 15);

    --clr-warning__lowered: hsl(from var(--clr-warning__base) h s calc(l - 5));
    --clr-warning__base: hsl(38 61 60);
    --clr-warning__raised: hsl(from var(--clr-warning__base) h s calc(l + 5));
    --clr-onWarning: hsl(38 61 15);
  }
}