---
import Layout from 'src/lib/layouts/Layout.astro';
---

<!-- <link rel='stylesheet' href='/assets/vendors/locomotive-scroll.min.css' />
<script is:inline src='/assets/vendors/locomotive-scroll.min.js'></script>
<script is:inline>
	setTimeout(() => {
		(function () {
			var scroller = new LocomotiveScroll({
				el: document.body.querySelector('[data-scroll-container]'),
				smooth: true,
			});
		})();
	}, 0);
</script> -->
<Layout title='Hytech Home'>
	<header>
		<nav id='floating-navbar' class='align-center'>
			<a href='/examples/hytechhome'>
				<figure>
					<img src='/favicon.svg' />
				</figure>
			</a>
			<nav>
				<a href='#'>Home</a>
				<a href='#'>Service</a>
				<a href='#'>About us</a>
				<a href='#'>Contact</a>
			</nav>
			<nav>
				<a>
					<figure>
						<img src='/assets/media/linkedin.png' />
					</figure>
				</a>
				<a>
					<figure>
						<img src='/assets/media/facebook.png' />
					</figure>
				</a>
				<a>
					<figure>
						<img src='/assets/media/instagram.png' />
					</figure>
				</a>
			</nav>
		</nav>

		<figure id='carousel'>
			<img
				src='https://images.unsplash.com/photo-1613665813446-82a78c468a1d?q=80&w=1158&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D'
			/>
		</figure>

		<section data-scroll-container>
			<ly-col data-scroll-section>
				<h1 data-scroll>hello</h1>
				<h2 data-scroll data-scroll-direction='vertical' data-scroll-speed='12'>
					What's up?
				</h2>
				<p data-scroll data-scroll-speed='2'>😬</p>
				<p data-scroll>hello</p>
				<p data-scroll>hello</p>
				<p data-scroll>hello</p>
				<p data-scroll>hello</p>
				<p data-scroll>hello</p>
				<p data-scroll>hello</p>
				<p data-scroll>hello</p>
				<p data-scroll>hello</p>
				<p data-scroll>hello</p>
				<p data-scroll>hello</p>
				<p data-scroll>hello</p>
				<p data-scroll>hello</p>
				<p data-scroll>hello</p>
				<p data-scroll>hello</p>
				<p data-scroll>hello</p>
			</ly-col>
		</section>
	</header>
</Layout>

<style>
	header {
		min-height: 100dvh;

		& > nav#floating-navbar {
			align-items: center;
			background-color: hsla(0, 0%, 0%, 0.5);
			height: calc(var(--sttng-spacing) * 1.75);
			inset: 0;
			padding-inline: var(--sttng-spacing);
			place-content: space-between;
			position: fixed;
			z-index: 2;

			& figure {
				aspect-ratio: 1;
				width: 1.5rem;
			}

			& > nav {
				gap: var(--scale-3xs);

				& > a {
					--clr: var(--clr-text);
				}
			}
		}
		& > figure#carousel {
			inset: 0;
			position: absolute;
			z-index: -1;
		}
	}
</style>
