---
import Layout from '../../layouts/app.astro';
import Iframe from '../../layouts/iframe.astro';
---

<Layout>
	<Iframe>
		<header id='appbar'>
			<h3>Proposal Tool<br />Center</h3>

			<nav>
				<button data-variant='outline'>
					<i data-is='icon'> search</i>
				</button>
				<button data-variant='outline'>
					<i data-is='icon'> add_2 </i>
				</button>
				<button data-variant='outline'>
					<i data-is='icon'> more_vert </i>
				</button>
			</nav>

			<label for='search' data-is='input'>
				<i data-is='icon' data-part='lead'>search</i>
				<input
					type='text'
					name='search'
					id='search'
					placeholder='Filter list . . .'
				/>
				<i data-is='icon' data-part='trail'>close_small</i>
			</label>

			<nav style='justify-content: space-between;'>
				<button data-variant='outline'>
					<i data-is='icon'>arrow_back</i>
				</button>

				<nav>
					<button data-variant='outline'>
						<i data-is='icon'>add_2</i>
					</button>
					<button data-variant='outline'>
						<i data-is='icon'>solar_power</i>
					</button>
					<button data-variant='outline'>
						<i data-is='icon'>table_convert</i>
					</button>
					<button data-variant='outline'>
						<i data-is='icon'>more_vert</i>
					</button>
				</nav>
			</nav>

			<x-row>
				<div>
					<h5>Proposal for</h5>
					<h3>Shah Khan</h3>
				</div>

				<x-row id='status'>
					<i data-is='icon'>circle</i>
					<span>Approved</span>
				</x-row>
			</x-row>
		</header>

		<x-row id='toast'>
			<i data-is='icon'>error</i>
			<p>
				This true-up will result in a new proposal. The original will remain
				available until an agreement is signed.
			</p>
		</x-row>

		<main>
			<button>
				<i data-is='icon'>side_navigation</i>
				<span>Customer information</span>
				<i data-is='icon'>keyboard_arrow_down</i>
			</button>
			<form>
				<h4>Personal Information</h4>
				<label for='first_name' data-is='field'>
					<span data-part="label">
						First Name
						<i data-is='icon'>
							<small>asterisk</small>
						</i>
					</span>
					<input type='text' value='Shah' />
				</label>
				<label for='first_name' data-is='field'>
					<span>First Name</span>
					<input type='text' value='Shah' />
				</label>
				<label for='first_name' data-is='field'>
					<span>First Name</span>
					<input type='text' value='Shah' />
				</label>
			</form>
		</main>

		<style lang='css' is:inline>
			@scope {
				:scope {
					background-color: var(--clr-background__lowered);

					:where(h1, h2, h3, h4, h5, h6) {
						font-weight: 300;
					}

					#appbar {
						background-color: var(--clr-background__base);
						display: grid;
						grid: auto / 1fr;
						justify-content: space-between;
						min-height: 175px;
						padding: var(--nm) var(--md);
						row-gap: var(--xl);

						& > nav {
							gap: var(--sm);
							justify-content: end;

							nav {
								gap: inherit;
							}
						}

						& > x-row {
							align-items: end;
							gap: var(--sm);
							justify-content: space-between;

							& > div {
								h5 {
									color: var(--clr-text__lowered);
								}
							}

							& > #status {
								[data-is='icon'] {
									--fill: 1;
								}

								color: var(--clr-success__base);
							}
						}
					}

					#toast {
						background-color: var(--clr-warning__base);
						color: var(--clr-onWarning);
						gap: var(--xs);
						padding: var(--sm) var(--md);

						[data-is='icon'] {
							--fill: 1;
						}

						p {
							font-weight: 500;
						}
					}

					main {
						& > button:first-child {
							border-radius: 0;
							gap: var(--sm);
							width: 100%;

							span {
								flex: 1 1;
								font-weight: 300;
								text-align: left;
							}
						}

						& > form {
							display: grid;
							grid: auto/1fr;
							gap: var(--lg);
							padding: 0 var(--md) var(--xl);

							& > h4 {
								align-content: end;
								height: 60px;
							}
						}
					}
				}
			}
		</style>
	</Iframe>
</Layout>
