---
import Layout from '../../layouts/app.astro';
import Iframe from '../../layouts/iframe.astro';
---

<Layout>
	<Iframe>
		<header id='appbar'>
			<!-- <h3>Proposal Tool<br />Center</h3>

			<nav>
				<button data-variant='outline'>
					<i data-is='icon'> search</i>
				</button>
				<button data-variant='outline'>
					<i data-is='icon'> add_2 </i>
				</button>
				<button data-variant='outline'>
					<i data-is='icon'> more_vert </i>
				</button>
			</nav>

			<label for='search' data-is='input'>
				<i data-is='icon' data-part='lead'>search</i>
				<input
					type='text'
					name='search'
					id='search'
					placeholder='Filter list . . .'
				/>
				<i data-is='icon' data-part='trail'>close_small</i>
			</label> -->

			<nav style='justify-content: space-between;'>
				<button data-variant='outline'>
					<i data-is='icon'>arrow_back</i>
				</button>

				<nav>
					<button data-variant='outline'>
						<i data-is='icon'> search</i>
					</button>
					<button data-variant='outline'>
						<i data-is='icon'>add_2</i>
					</button>
					<button data-variant='outline'>
						<i data-is='icon'>solar_power</i>
					</button>
					<button data-variant='outline'>
						<i data-is='icon'>table_convert</i>
					</button>
					<button data-variant='outline'>
						<i data-is='icon'>more_vert</i>
					</button>
				</nav>
			</nav>

			<x-row>
				<div>
					<h5>Proposal for</h5>
					<h3>Shah Khan</h3>
				</div>

				<x-row id='status'>
					<i data-is='icon'>circle</i>
					<span>Approved</span>
				</x-row>
			</x-row>
		</header>

		<x-row id='toast'>
			<i data-is='icon'>error</i>
			<p>
				This true-up will result in a new proposal. The original will remain
				available until an agreement is signed.
			</p>
		</x-row>

		<main>
			<button>
				<i data-is='icon'>side_navigation</i>
				<span>Customer information</span>
				<i data-is='icon'>keyboard_arrow_down</i>
			</button>

			<form data-is='grid' autocomplete='on'>
				<h4>Personal Information</h4>
				<label for='first_name' data-is='field'>
					<span data-part='label'>
						First Name
						<i data-is='icon' data-status='error'>
							<small>asterisk</small>
						</i>
					</span>
					<input
						type='text'
						id='first_name'
						name='first_name'
						autocomplete='given-name'
						value='Shah'
						required
					/>
				</label>
				<label for='last_name' data-is='field'>
					<span data-part='label'>
						Last Name
						<i data-is='icon' data-status='error'>
							<small>asterisk</small>
						</i>
					</span>
					<input
						type='text'
						id='last_name'
						name='last_name'
						autocomplete='family-name'
						value='Khan'
						required
					/>
				</label>

				<h4>Contact Methods</h4>
				<label for='email' data-is='field'>
					<span data-part='label'> Email </span>
					<input
						type='email'
						id='email'
						name='email'
						autocomplete='email'
						value='shkan@gmail.com'
					/>
				</label>
				<label for='mobile_phone' data-is='field'>
					<span data-part='label'> Mobile Phone </span>
					<input
						type='tel'
						id='mobile_phone'
						name='mobile_phone'
						autocomplete='tel'
						inputmode='tel'
						pattern='\d{3}-\d{3}-\d{4}'
						value='904-646-4344'
					/>
				</label>

				<h4>Address Details</h4>
				<label for='address_street' data-is='field'>
					<span data-part='label'>
						Street
						<i data-is='icon' data-status='error'>
							<small>asterisk</small>
						</i>
					</span>
					<input
						type='text'
						id='address_street'
						name='address_street'
						autocomplete='street-address'
						value='485 Clearmeadow Dr'
						required
					/>
				</label>
				<label for='address_city' data-is='field'>
					<span data-part='label'>
						City
						<i data-is='icon' data-status='error'>
							<small>asterisk</small>
						</i>
					</span>
					<input
						type='text'
						id='address_city'
						name='address_city'
						autocomplete='address-level2'
						value='East Meadow'
						required
					/>
				</label>
				<label for='address_state' data-is='field'>
					<span data-part='label'> State </span>
					<input
						type='text'
						id='address_state'
						name='address_state'
						autocomplete='address-level1'
						value='New York'
					/>
				</label>
				<label for='address_zipcode' data-is='field'>
					<span data-part='label'> Zip Code </span>
					<input
						type='text'
						id='address_zipcode'
						name='address_zipcode'
						autocomplete='postal-code'
						inputmode='numeric'
						pattern='\d{5}'
						value='11554'
					/>
				</label>

				<h4>Miscellaneous</h4>
				<label for='miscellaneous_customerIsOfLowIncome' data-is='field'>
					<span data-part='label'> Customer is of Low Income </span>
					<input
						type='checkbox'
						id='miscellaneous_customerIsOfLowIncome'
						name='miscellaneous_customerIsOfLowIncome'
						data-is='switch'
					/>
					<span data-part='caption'>
						Check this if your customer is of low income. This will allow the
						system to generate a SOLAR NYSERDA LOW INCOME REBATE when
						applicable.
					</span>
				</label>

				<hr style='background-color: transparent; height: 100px;' />
			</form>
		</main>

		<style lang='css' is:inline>
			@scope {
				:scope {
					background-color: var(--clr-background__lowered);
					display: flex;
					flex-direction: column;
					gap: 0;

					& > * {
						flex-shrink: 0;
					}

					:where(h1, h2, h3, h4, h5, h6) {
						font-weight: 300;
					}

					#appbar {
						background-color: var(--clr-background__base);
						display: grid;
						grid: auto / 1fr;
						justify-content: space-between;
						height: 175px;
						overflow: clip;
						padding: var(--nm) var(--md);
						row-gap: var(--xl);

						& > nav {
							gap: var(--sm);
							justify-content: end;

							nav {
								gap: inherit;
							}
						}

						& > x-row {
							align-items: end;
							gap: var(--sm);
							justify-content: space-between;

							& > div {
								h5 {
									color: var(--clr-text__lowered);
								}
							}

							& > #status {
								[data-is='icon'] {
									--fill: 1;
								}

								color: var(--clr-success__base);
							}
						}
					}

					#toast {
						background-color: var(--clr-warning__base);
						color: var(--clr-onWarning);
						gap: var(--xs);
						height: max-content;
						padding: var(--sm) var(--md);

						[data-is='icon'] {
							--fill: 1;
						}

						p {
							font-weight: 500;
						}
					}

					main {
						display: grid;
						flex: 1 1;
						grid: auto/1fr;
						grid-template-rows: max-content 1fr;
						overflow: clip;

						& > button:nth-child(1) {
							border-radius: 0;
							gap: var(--sm);
							width: 100%;

							span {
								flex: 1 1;
								font-weight: 300;
								text-align: left;
							}
						}

						& > form {
							--cols: 2;
							--gap: var(--md);
							grid-auto-rows: max-content;
							overflow: auto;
							padding: 0 var(--md) var(--xl);

							& > h4 {
								align-content: end;
								height: 60px;
							}

							& > :where(h4, hr) {
								grid-column: 1/-1;
							}
						}
					}
				}
			}
		</style>
	</Iframe>
</Layout>
