---
import Layout from 'src/lib/layout.docs.astro';
---

<Layout>
	<ly-grid id='content' tmpl='container' class='s-uQk77vb8087t'
		><h1>Solar System</h1>
		<section>
			<header><h2 class='clr-subtext'>System Equipment</h2></header>
			<ly-grid tmpl='4' class='g-sm'
				><ly-field required='' style=''
					><ly-dropdown class='s-Q0SN4NcV4fmc' open=''
						><summary slot='summary' class='__outlined s-Q0SN4NcV4fmc'
							><span class='s-Q0SN4NcV4fmc'>Select an Option</span>
							<input
								type='hidden'
								name='Solar_Panel_Brand'
								class='s-Q0SN4NcV4fmc'
								value=''
							/>
							<ly-icon class='s-Q0SN4NcV4fmc'>expand_more</ly-icon></summary
						>
						<ly-field class='s-Q0SN4NcV4fmc'
							><input type='text' class='s-Q0SN4NcV4fmc' /></ly-field
						>
						<button value='undefined' class='s-Q0SN4NcV4fmc'
							><span class='s-Q0SN4NcV4fmc'>Tesla 480w Black Test</span>
						</button><button value='undefined' class='s-Q0SN4NcV4fmc'
							><span class='s-Q0SN4NcV4fmc'>111</span>
						</button><button value='undefined' class='s-Q0SN4NcV4fmc'
							><span class='s-Q0SN4NcV4fmc'>Sit architecto liber</span>
						</button><button value='undefined' class='s-Q0SN4NcV4fmc'
							><span class='s-Q0SN4NcV4fmc'>407</span>
						</button><button value='undefined' class='s-Q0SN4NcV4fmc'
							><span class='s-Q0SN4NcV4fmc'>Perspiciatis omnis</span>
						</button><button value='undefined' class='s-Q0SN4NcV4fmc'
							><span class='s-Q0SN4NcV4fmc'>Id sunt sit cumque</span>
						</button><button value='undefined' class='s-Q0SN4NcV4fmc'
							><span class='s-Q0SN4NcV4fmc'>CS1H-330MS</span>
						</button><button value='undefined' class='s-Q0SN4NcV4fmc'
							><span class='s-Q0SN4NcV4fmc'>Q.PEAK DUO BLK ML G10+ 405</span>
						</button><button value='undefined' class='s-Q0SN4NcV4fmc'
							><span class='s-Q0SN4NcV4fmc'>Q.PEAK DUO BLK ML-G10.a+ 400</span>
						</button><button value='undefined' class='s-Q0SN4NcV4fmc'
							><span class='s-Q0SN4NcV4fmc'>Q.PEAK DUO BLK-G6+ 340</span>
						</button><button value='undefined' class='s-Q0SN4NcV4fmc'
							><span class='s-Q0SN4NcV4fmc'>REC360AA BLACK</span>
						</button><button value='undefined' class='s-Q0SN4NcV4fmc'
							><span class='s-Q0SN4NcV4fmc'>405w All Black</span>
						</button><button value='undefined' class='s-Q0SN4NcV4fmc'
							><span class='s-Q0SN4NcV4fmc'>Tesla Solar Roof</span>
						</button></ly-dropdown
					><!--<Select>--></ly-field
				><!--<Field>-->
				<ly-field style=''><input name='watts' type='number' /></ly-field
				><!--<Field>-->
				<ly-field style=''><input name='Panel_Count' type='text' /></ly-field
				><!--<Field>-->
				<ly-field style=''
					><ly-dropdown class='s-Q0SN4NcV4fmc'
						><summary slot='summary' class='__outlined s-Q0SN4NcV4fmc'
							><span class='s-Q0SN4NcV4fmc'>Select an Option</span>
							<input
								type='hidden'
								name='Inverter_Type'
								class='s-Q0SN4NcV4fmc'
								value=''
							/>
							<ly-icon class='s-Q0SN4NcV4fmc'>expand_more</ly-icon></summary
						>
						<button value='undefined' class='s-Q0SN4NcV4fmc'
							><span class='s-Q0SN4NcV4fmc'>Enphase</span>
						</button><button value='undefined' class='s-Q0SN4NcV4fmc'
							><span class='s-Q0SN4NcV4fmc'>SolarEdge</span>
						</button><button value='undefined' class='s-Q0SN4NcV4fmc'
							><span class='s-Q0SN4NcV4fmc'>SMA</span>
						</button><button value='undefined' class='s-Q0SN4NcV4fmc'
							><span class='s-Q0SN4NcV4fmc'>TESLA</span>
						</button></ly-dropdown
					><!--<Select>--></ly-field
				><!--<Field>-->
				<ly-field style=''
					><ly-dropdown class='s-Q0SN4NcV4fmc'
						><summary slot='summary' class='__outlined s-Q0SN4NcV4fmc'
							><span class='s-Q0SN4NcV4fmc'>Tesla Powewall 15kW</span>
							<input
								type='hidden'
								name='Battery_System'
								class='s-Q0SN4NcV4fmc'
								value='Tesla_Powewall_15kW'
							/>
							<ly-icon class='s-Q0SN4NcV4fmc'>expand_more</ly-icon></summary
						>
						<button value='undefined' class='s-Q0SN4NcV4fmc'
							><span class='s-Q0SN4NcV4fmc'>No</span>
						</button><button value='undefined' class='s-Q0SN4NcV4fmc'
							><span class='s-Q0SN4NcV4fmc'>Tesla Powewall 5kW</span>
						</button><button value='undefined' class='s-Q0SN4NcV4fmc'
							><span class='s-Q0SN4NcV4fmc'>Tesla Powewall 10kW</span>
						</button><button value='undefined' class='s-Q0SN4NcV4fmc'
							><span class='s-Q0SN4NcV4fmc'>Tesla Powewall 15kW</span>
						</button><button value='undefined' class='s-Q0SN4NcV4fmc'
							><span class='s-Q0SN4NcV4fmc'>Enphase Encharge-3</span>
						</button></ly-dropdown
					><!--<Select>--></ly-field
				><!--<Field>-->
				<ly-field required='' style=''
					><input name='annual_usage' required='true' type='number' /></ly-field
				><!--<Field>-->
				<ly-field required='' style=''
					><input
						name='Production_value'
						required='true'
						type='number'
					/></ly-field
				><!--<Field>-->
				<ly-field style=''><input name='System_offset' type='range' /></ly-field
				><!--<Field>-->
				<ly-field style=''><input name='system_size' type='number' /></ly-field
				><!--<Field>-->
				<ly-field style=''><input name='production' type='number' /></ly-field
				><!--<Field>-->
				<ly-field required='' style=''
					><input name='System_TSRF' required='true' type='range' /></ly-field
				><!--<Field>--></ly-grid
			>
		</section><!--<Section>-->
		<section>
			<header><h2 class='clr-subtext'>Field Values</h2></header>
			<ly-grid tmpl='4' class='g-sm'
				><div>
					<p>label: Solar Panel Brand</p>
					<p>value: <strong>undefined</strong></p>
				</div><div>
					<p>label: Watts</p>
					<p>value: <strong>undefined</strong></p>
				</div><div>
					<p>label: Panel Count</p>
					<p>value: <strong>undefined</strong></p>
				</div><div>
					<p>label: Inverter Type</p>
					<p>value: <strong>undefined</strong></p>
				</div><div>
					<p>label: Battery System</p>
					<p>value: <strong>Tesla_Powewall_15kW</strong></p>
				</div><div>
					<p>label: Annual Usage</p>
					<p>value: <strong>0</strong></p>
				</div><div>
					<p>label: Production value</p>
					<p>value: <strong>0</strong></p>
				</div><div>
					<p>label: System offset</p>
					<p>value: <strong>NaN</strong></p>
				</div><div>
					<p>label: System size</p>
					<p>value: <strong>0</strong></p>
				</div><div>
					<p>label: Production</p>
					<p>value: <strong>0</strong></p>
				</div><div>
					<p>label: System TSRF</p>
					<p>value: <strong>0</strong></p>
				</div></ly-grid
			>
			<hr />
			<p>/solar</p>
			<hr />
			<input type='text' name='' id='' />
			<input type='text' value='' />
			<hr />
			<p>undefined</p>
			<hr />
			<button>Obtener Valor</button>
		</section><!--<Section>--><!--<+page>--></ly-grid
	>
</Layout>
