---
import Layout from './.lib/layout.astro';
---

<Layout>
	<form data-is='grid' autocomplete='on'>
		<h4>Personal Information</h4>
		<label for='first_name' data-is='field'>
			<span data-part='label'>
				First Name
				<i data-is='icon' data-status='error'>
					<small>asterisk</small>
				</i>
			</span>
			<input
				type='text'
				id='first_name'
				name='first_name'
				autocomplete='given-name'
				value='Shah'
				required
			/>
		</label>
		<label for='last_name' data-is='field'>
			<span data-part='label'>
				Last Name
				<i data-is='icon' data-status='error'>
					<small>asterisk</small>
				</i>
			</span>
			<input
				type='text'
				id='last_name'
				name='last_name'
				autocomplete='family-name'
				value='Khan'
				required
			/>
		</label>

		<h4>Contact Methods</h4>
		<label for='email' data-is='field'>
			<span data-part='label'>
				Email
				<i data-is='icon' data-status='error'>
					<small>asterisk</small>
				</i>
			</span>
			<input
				type='email'
				id='email'
				name='email'
				autocomplete='email'
				value='shkan@gmail.com'
				required
			/>
		</label>
		<label for='mobile_phone' data-is='field'>
			<span data-part='label'>
				Mobile Phone
				<i data-is='icon' data-status='error'>
					<small>asterisk</small>
				</i>
			</span>
			<input
				type='tel'
				id='mobile_phone'
				name='mobile_phone'
				autocomplete='tel'
				inputmode='tel'
				pattern='\d{3}-\d{3}-\d{4}'
				value='904-646-4344'
				required
			/>
		</label>

		<h4>Address Details</h4>
		<label for='address_street' data-is='field'>
			<span data-part='label'>
				Street
				<i data-is='icon' data-status='error'>
					<small>asterisk</small>
				</i>
			</span>
			<input
				type='text'
				id='address_street'
				name='address_street'
				autocomplete='street-address'
				value='485 Clearmeadow Dr'
				required
			/>
		</label>
		<label for='address_city' data-is='field'>
			<span data-part='label'>
				City
				<i data-is='icon' data-status='error'>
					<small>asterisk</small>
				</i>
			</span>
			<input
				type='text'
				id='address_city'
				name='address_city'
				autocomplete='address-level2'
				value='East Meadow'
				required
			/>
		</label>
		<label for='address_state' data-is='field'>
			<span data-part='label'>
				State
				<i data-is='icon' data-status='error'>
					<small>asterisk</small>
				</i>
			</span>
			<input
				type='text'
				id='address_state'
				name='address_state'
				autocomplete='address-level1'
				value='New York'
				required
			/>
		</label>
		<label for='address_zipcode' data-is='field'>
			<span data-part='label'>
				Zip Code
				<i data-is='icon' data-status='error'>
					<small>asterisk</small>
				</i>
			</span>
			<input
				type='text'
				id='address_zipcode'
				name='address_zipcode'
				autocomplete='postal-code'
				inputmode='numeric'
				pattern='\d{5}'
				value='11554'
				required
			/>
		</label>

		<h4>Miscellaneous</h4>
		<label for='miscellaneous_customerIsOfLowIncome' data-is='field'>
			<span data-part='label'> Customer is of Low Income </span>
			<input
				type='checkbox'
				id='miscellaneous_customerIsOfLowIncome'
				name='miscellaneous_customerIsOfLowIncome'
				data-is='switch'
			/>
			<span data-part='caption'>
				This will allow the system to generate a SOLAR NYSERDA LOW INCOME REBATE
				when applicable.
			</span>
		</label>

		<hr style='background-color: transparent; height: 100px;' />
	</form>

	<style lang='css' is:inline>
		@scope {
			:scope {
			}
		}
	</style>
</Layout>
