@use './lib/scalingSystem' as scale;

:root {
    @each $key, $value in scale.$range {
        --scale-#{$key}: #{$value};
    }

    --clr-accent: hsl(120, 88%, 50%);
    --clr-primary: hsl(0, 0%, 6%);
    --clr-secondary: hsl(0, 0%, 96%);
    --clr-tertiary: hsl(0, 0%, 90%);

    /* theme settings */
    --bordRadius: var(--scale-5xs);
    --fontFamily: sans-serif;
    --animSettings: var(--animDuration) var(--animTimingFunction);
    --animDuration: 360ms;
    --animTimingFunction: cubic-bezier(0.2, 0, 0, 1);
}

* {
    box-sizing: border-box;
    margin: 0;
    max-width: 100%;
}

html,
body {
    font-family: var(--fontFamily);
    margin: 0;
}

.dev-grid {
    gap: var(--scale-5xs);
    grid-template-columns: repeat(3, minmax(1rem, 1fr));
    overflow: hidden;
    padding: var(--scale-xs);
}

.dev-card {
    aspect-ratio: 1/1;
    gap: var(--scale-5xs);
    overflow: hidden;
    outline-color: inherit;
    outline-offset: -0.0625rem;
    outline-style: dashed;
    outline-width: 0.0625rem;
    padding: var(--scale-xs);
}