:where(x-overlay, x-underlay) {
  display: grid;
  height: 100dvh;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  isolation: isolate;
  margin: 0;
  position: fixed;
  width: 100dvw;
}

:where(x-overlay) {
  container: overlay / block-size;
  z-index: 100;
}

:where(x-underlay) {
  container: underlay / block-size;
  z-index: -100;
}

:where(x-grid) {
  display: grid;
}

:where(x-flex) {
  display: flex;
}

:where(x-block) {
  display: block;
}