---
import Layout_HTML from 'src/lib/layout.html.astro';

const overrides = `
	<style>
		:root {
			--clr-accent: hsl(84, 100%, 64%);
			--clr-context: hsl(83, 46%, 22%);
		}
	</style>
`;

const logos: string[] = [
	'https://cdn.freebiesupply.com/logos/thumbs/2x/mcdonalds-black-logo.png',
	'https://cdn.freebiesupply.com/images/large/2x/starbucks-logo-black-and-white.png',
	'https://cdn.freebiesupply.com/logos/large/2x/general-electric-black-logo-png-transparent.png',
	'https://cdn.freebiesupply.com/logos/large/2x/nfl-logo-png-transparent.png',
	'https://cdn.freebiesupply.com/logos/large/2x/mercedes-benz-6-logo-png-transparent.png',
	'https://cdn.freebiesupply.com/logos/large/2x/hogwarts-logo-png-transparent.png',
];
---

<Layout_HTML title='Lilys - CONCEPTS : Hero #1' scheme='light' {overrides}>
	<ly-layer stacked='under'> </ly-layer>
	<ly-app layout='container'>
		<section
			class='bg-primary place-center[all] [min]h-100[vh]'
			ignore-container>
			<ly-grid cols='container' class='grow place-between[all] w-100'>
				<nav class='clr-text place-between pt-5xl w-100'>
					<a href='#' class='clr-inherit'>
						<ly-icon> blur_on </ly-icon>
					</a>
					<nav class='g-sm'>
						<a href='#' class='clr-inherit'>Process</a>
						<a href='#' class='clr-inherit'>Projects</a>
						<a href='#' class='clr-inherit'>FAQ</a>
						<a
							href='#'
							class='clr-inherit h-2xl outln-solid place-center[items] px-sm radius-3xs'
							>Packages</a
						>
					</nav>
				</nav>

				<header
					class='g-xl place-center[all] px-xl py-5xl txt-center grow noshrink'>
					<h1 class="[max]w-32[ch]">We craft minimum viable SaaS products</h1>
					<p class='[max]w-40[ch]'>
						Helping founders bring their product to life, attract early users,
						and validate their idea.
					</p>
					<button class='bg-accent clr-context radius-3xs txt-600'>
						See packages
					</button>
				</header>

				<ly-flex id='logoslider' class='g-0 pb-5xl' ignore-container>
					{
						logos.map((i) => (
							<figure class='aspect-[21/9] radius-3xs noshrink w-25[ch]'>
								<img src={i} alt='logo' class='fit-contain' />
							</figure>
						))
					}
					{
						logos.map((i) => (
							<figure class='aspect-[21/9] radius-3xs noshrink w-25[ch]'>
								<img src={i} alt='logo' class='fit-contain' />
							</figure>
						))
					}
					{
						logos.map((i) => (
							<figure class='aspect-[21/9] radius-3xs noshrink w-25[ch]'>
								<img src={i} alt='logo' class='fit-contain' />
							</figure>
						))
					}
				</ly-flex>
			</ly-grid>
		</section>
	</ly-app>
	<ly-layer stacked='over'> </ly-layer>
</Layout_HTML>

<style lang='css'>
	#logoslider {
		animation: scroll 30s linear infinite;
	}

	@keyframes scroll {
		0% {
			translate: 0%;
		}

		to {
			translate: -100%;
		}
	}
</style>
