---
import Layout from './_lib/layout.auth.astro';
---

<script is:inline type='module'>
	const slides = [
		'https://images.unsplash.com/photo-1629726797843-618688139f5a?q=80&w=2071&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D',
		'https://images.unsplash.com/photo-1576068205458-845521b0c0c4?q=80&w=2071&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D',
		'https://images.unsplash.com/photo-1497435334941-8c899ee9e8e9?q=80&w=1974&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D',
		'https://images.unsplash.com/photo-1594818379496-da1e345b0ded?q=80&w=1932&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D',
	];

	onload = (event) => {
		const background = document.querySelector('#carousel-slide');
		background.setAttribute('src', slides[0]);

		const indicator = document.querySelector('#indicators');
		let indicator_dots = [...indicator.children];
		let index = 1;

		/**
		 * @param {number} i
		 */
		function setActiveSlide(i) {
			background.setAttribute('src', slides[i]);

			indicator_dots.forEach((dot, dotIndex) => {
				dotIndex === i
					? dot.classList.add('active')
					: dot.classList.remove('active');
			});

			index = (i + 1) % slides.length;
		}

		/**@type {number | undefined}*/
		let timeOut = undefined;
		timeOut = setInterval(() => {
			setActiveSlide(index);
		}, 5000);

		indicator.addEventListener(
			'click',
			/** @param {Event} event*/ (event) => {
				event.preventDefault();

				if (event.target instanceof HTMLElement) {
					const target = event.target.closest('li');

					if (target) {
						const newIndex = [...indicator.children].indexOf(target);
						setActiveSlide(newIndex);
					}
				}
			}
		);
	};
</script>

<Layout>
	<aside>
		<ul id='indicators'>
			<li class='active'></li>
			<li></li>
			<li></li>
			<li></li>
		</ul>
	</aside>
	<aside id='form-wrapper'>
		<header>
			<figure class='w-5xl'>
				<object data='/assets/media/hytech/favicon.svg'></object>
			</figure>
			<a href={void 0}>
				<ly-icon>eco</ly-icon>
				Join Us
			</a>
		</header>

		<form on:submit|preventDefault>
			<header class='flex-col'>
				<h1 class='g-5xs align-items-center'>
					Gizmo <small class='clr-subtext'>by</small> Hytech
				</h1>
				<p>Empowering eco-champions to thrive.</p>
			</header>

			<fieldset>
				<ly-field label='Email' name='email' icon='email'>
					<input type='email' placeholder='Email' autocomplete='email' />
				</ly-field>

				<ly-field label='Password' name='password' icon='email'>
					<input
						type='password'
						placeholder='Password'
						autocomplete='password'
					/>
				</ly-field>

				<ly-field label='Password' name='password' icon='email'>
					<input
						type='password'
						placeholder='Password'
						autocomplete='password'
					/>
				</ly-field>
			</fieldset>

			<fieldset>
				<ly-checkbox
					label='I consent to having my data used in accordance with the terms of our privacy policy.'
				></ly-checkbox>
				<ly-checkbox
					label='I would like to receive the Gizmo newsletter and stay up-to-date.'
				></ly-checkbox>
			</fieldset>

			<button onclick="(window.location.href = '/dashboard')"> Sign In </button>
		</form>

		<p>
			Are you new around here?
			<a href={void 0}> Get to know &amp; experience our benefits now </a>
		</p>
		<small>@Copyright 2023 Gizmo LLC | All Rights Reserved</small>
	</aside>
</Layout>

<style lang='css'>
	aside {
		flex: 1 1 100%;
	}

	#indicators {
		list-style-type: none;
		display: flex;
		gap: var(--scale-5xs);
		width: max-content;

		& > li {
			aspect-ratio: 1/1;
			cursor: pointer;
			border-radius: var(--scale-3xs);
			backdrop-filter: var(--scale-3xs);
			background-color: color-mix(
				in srgb,
				var(--clr-background),
				transparent 56%
			);
			height: var(--scale-xs);
			width: var(--scale-5xl);

			&.active {
				background-color: color-mix(
					in srgb,
					var(--clr-accent),
					transparent 32%
				);
			}
		}
	}

	#form-wrapper {
		background-color: color-mix(
			in srgb,
			var(--clr-background),
			transparent 16%
		);
		backdrop-filter: blur(var(--scale-3xs));
		border-radius: var(--scale-3xs);
		max-width: calc(var(--scale-nm) * 32);
		padding: var(--prefers-spacing);
	}
</style>
