#app {
  grid-auto-rows: max-content;
  /* grid-template-rows: max-content 1fr; */
  grid-column: inner;
  padding-block: var(--nm);

  > * {
    grid-column: inherit;
  }


  & > :where(h1, h2, h3, h4, h5, h6) {
    text-transform: capitalize;
    text-box: trim-both ex alphabetic;
  }

  > *:not(:first-child) {
    margin-top: var(--xl);
    margin-bottom: var(--sm);

    > *:where(:not(:first-child)) {
      margin-block: inherit;
    }
  }

  #app__topbar {
    border-radius: var(--xl);

    box-shadow: 0 5vmax 100vmax -5vmax hsl(from color-mix(in hsl, var(--clr-text), hsl(0, 0%, 40%)) h s l / 20%);

    @media (prefers-color-scheme: dark) {
      box-shadow: none;
    }

    gap: var(--nm);
    height: max-content;
    outline: solid 2px hsl(from var(--clr-background) h s calc(l + var(--ratio-texts))/75%);
    outline-offset: 2px;
    overflow: clip;
    place-content: space-between;
    place-items: center;
    position: sticky;
    top: var(--xl);
    z-index: 10;

    &::before {
      background-color: hsl(from var(--clr-background) h s l / 25%);
      backdrop-filter: blur(0.5ex);
      content: "";
      inset: 0;
      position: absolute;
      z-index: -1;
    }

    a {
      display: inline-flex;
      gap: clamp(0px, 1dvmax, var(--xs));
      text-box: none;

      & > figure {
        aspect-ratio: 1/1;
        vertical-align: middle;
        width: 45px;
      }
    }

    :where(a, button) {
      flex-shrink: 0;
    }
  }

  #app__content {
    display: block;
    /* height: calc(100% - var(--xl)); */
    overflow: clip;
    /* padding-block: 25px; */

    & > * {
      flex-shrink: 0;
      height: max-content;

      & + p {
        color: hsl(from var(--clr-text) h s calc(l - 50) / 1)
      }
    }

    & > :where(x-window) {
      box-shadow: 0 5vmax 100vmax -5vmax hsl(from color-mix(in hsl, var(--clr-text), hsl(0, 0%, 40%)) h s l / 20%);

      @media (prefers-color-scheme: dark) {
        box-shadow: none;
      }

      height: 100%;
      margin-block: auto;
      outline: solid 3px hsl(from var(--clr-background) h s calc(l + var(--ratio-texts))/75%);
      outline-offset: 3px;
      overflow: clip;
      place-self: center;
      width: 100%;
    }
  }
}