#app {
  height: 100dvh;
  padding-top: 75px;

  #app__topbar {
    border-radius: var(--xl);

    box-shadow: 0 5vmax 100vmax -5vmax hsl(from color-mix(in hsl, var(--clr-text), hsl(0, 0%, 40%)) h s l / 20%);

    @media (prefers-color-scheme: dark) {
      box-shadow: none;
    }

    gap: var(--xs);
    height: max-content;
    inset: var(--md);
    margin: 0 auto;
    max-width: calc(100% - calc(var(--md) * 2));
    outline: solid 3px hsl(from var(--clr-background) h s calc(l + var(--ratio-texts))/75%);
    outline-offset: 3px;
    overflow: clip;
    padding: var(--xs);
    place-items: center;
    position: fixed;
    width: fit-content;
    z-index: 10;

    &::before {
      background-color: hsl(from var(--clr-background) h s l / 25%);
      backdrop-filter: blur(0.5ex);
      content: "";
      inset: 0;
      position: absolute;
      z-index: -1;
    }

    a {
      display: inline-flex;
      flex-shrink: 0;
      gap: var(--xs);
      text-box: none;

      & > figure {
        aspect-ratio: 1/1;
        vertical-align: middle;
        width: 45px;
      }
    }
  }

  #app__content {
    grid-column: inner;
    min-height: 100%;
    padding-block: 25px;

    & > * {
      flex-shrink: 0;
    }

    & > :where(x-window) {
      box-shadow: 0 5vmax 100vmax -5vmax hsl(from color-mix(in hsl, var(--clr-text), hsl(0, 0%, 40%)) h s l / 20%);

      @media (prefers-color-scheme: dark) {
        box-shadow: none;
      }

      height: 100%;
      margin-block: auto;
      outline: solid 3px hsl(from var(--clr-background) h s calc(l + var(--ratio-texts))/75%);
      outline-offset: 3px;
      overflow: hidden;
      place-self: center;
      width: 100%;
    }
  }
}