<section
	id='about'
	data-is='grid'
	style='--cols: 2; --gap: calc(var(--xl) * 2); row-gap: var(--xl);'>
	<h3>
		CLEANER WATER STARTS HERE — POWERED BY HALO®, BROUGHT TO YOU BY HYTECH HOME
	</h3>

	<b> Elevate every drop. Protect your family. </b>

	<p>
		Hytech Home has teamed up with HALO® Water Systems to bring
		industry-leading water filtration right to your home. HALO’s
		state-of-the-art systems remove harmful contaminants, extend the life of
		your plumbing, and deliver refreshing, clean water from every tap.
	</p>

	<p>
		As a trusted home performance company, Hytech Home is proud to offer
		seamless access to HALO’s proven technology — including expert guidance,
		professional installation, and exclusive incentives.
	</p>

	<style lang='css' is:inline>
		@scope (#about) {
			:scope {
				overflow: clip;
				padding-block: calc(var(--xl) * 2);
				position: relative;

				b {
					font-weight: 500;
					place-content: end;
				}

				@container xwindow (width < 896px) {
					:where(h3, b) {
						grid-column: 1/-1;
					}
				}
			}
		}
	</style>
</section>
