---
import { Image } from 'astro:assets';
import AssetBannerBackground from '../assets/bannerbackground.png';
import AssetBannerInstallGuy from '../assets/bannerinstallguy.png';
import AssetBannerChildWithCupOfWater from '../assets/bannerchildwithcupofwater.png';
---

<section id='banner' data-is='grid' data-layout='expand'>
	<figure data-is='background'>
		<Image
			src={AssetBannerBackground}
			alt='banner background'
			decoding='async'
			loading='eager'
		/>
	</figure>

	<figure id='banner__installation'>
		<Image
			src={AssetBannerInstallGuy}
			alt='banner installation guy'
			decoding='async'
			loading='eager'
		/>
	</figure>

	<div id='banner__content' data-is='group'>
		<h3>WATER FILTRATION & CONDITIONING SYSTEM FOR THE WHOLE HOUSE</h3>
		<p>
			At Hytech Home, we understand the importance of having clean, safe water
			in your home. Our water filtration system are designed to remove
			impurities, improve taste, and protect your family’s health.
		</p>
	</div>

	<figure id='banner__child'>
		<Image
			src={AssetBannerChildWithCupOfWater}
			alt='banner child with cup of water'
			decoding='async'
			loading='eager'
		/>
	</figure>

	<style lang='css' is:inline>
		@scope (#banner) {
			:scope {
				--cols: 3;
				align-items: center;
				grid-auto-rows: 1fr;
				grid-template-rows: 1fr;
				min-height: 384px;
				overflow: clip;
				padding: 0;
				place-content: stretch;
				position: relative;

				#banner__installation {
					height: 100%;
					overflow: clip;
					place-content: end;
					position: relative;
					width: 100%;
				}

				#banner__content {
					gap: var(--md);
					padding-block: calc(var(--xl) * 2) var(--xl);
					padding-inline: var(--xl) 0;

					:where(h1, h2, h3, h4, h5, h6) {
						color: var(--clr-background__raised);
					}

					p {
						color: var(--clr-background__base);
					}
				}

				#banner__child {
					height: 100%;
					overflow: clip;
					place-content: end;
					position: relative;
					width: 100%;

					img {
						height: 410px;
						object-fit: contain;
						object-position: right bottom;
					}
				}

				@container xwindow (width < 896px) {
					--cols: 1;
					grid-auto-rows: max-content;

					#banner__installation {
						height: 410px;
					}

					#banner__content {
						padding-inline: var(--xl);
					}

					#banner__child {
						height: max-content;
					}
				}
			}
		}
	</style>
</section>
