<section
	id='cleanwater'
	data-is='grid'
	style='--cols: 2; --gap: calc(var(--xl) * 2);'>
	<h3>Why Choose Halo water filtering system?</h3>

	<div data-is='grid' style='--cols: 2; --gap: calc(var(--xl) * 2);'>
		<div data-is='group' style='gap: var(--sm);'>
			<i data-is='icon' style='--size: 100px; --wght: 100;'> heart_plus </i>
			<h5>Health and Wellness</h5>
			<p>
				Eliminates contaminants and bacteria, providing safe water for daily
				consumption.
			</p>
		</div>

		<div data-is='group' style='gap: var(--sm);'>
			<i data-is='icon' style='--size: 100px; --wght: 100;'> water_full </i>
			<h5>Improve Taste and Odor</h5>
			<p>
				Reduction of chlorine and other substances that affect the taste and
				odor of water.
			</p>
		</div>

		<div data-is='group' style='gap: var(--sm);'>
			<i data-is='icon' style='--size: 100px; --wght: 100;'> dishwasher_gen </i>
			<h5>Appliance Protection</h5>
			<p>
				Prevents the buildup of minerals and sediment that can damage your
				appliances.
			</p>
		</div>

		<div data-is='group' style='gap: var(--sm);'>
			<i data-is='icon' style='--size: 100px; --wght: 100;'> savings </i>
			<h5>Economic Savings</h5>
			<p>
				It reduces the need to buy bottled water, generating long-term savings.
			</p>
		</div>
	</div>

	<blockquote data-is='stack'>
		<p>
			❝ We don’t just filter water — we filter your worries, delivering
			crystal-clear quality you can trust. Enjoy pure water and life ❞
		</p>

		<cite> — Adam Joyce, Founder & CEO </cite>
	</blockquote>

	<style lang='css' is:inline>
		@scope (#cleanwater) {
			:scope {
				overflow: clip;
				padding-block: calc(var(--xl) * 2);
				position: relative;

				h3 {
					grid-column: 1 / -1;
				}

				blockquote {
					box-shadow: 0px 15px 15px 0px rgba(0, 0, 0, 0.05);
					border-left-color: var(--clr-accent__base);
					gap: var(--xl);
					justify-content: center;
					padding: 120px calc(var(--xl) * 2);

					p {
						font-size: var(--lg);
					}

					cite {
						color: var(--clr-accent__base);
						font-size: var(--nm);
						font-weight: 500;
					}
				}

				@container app (width < 896px) {
					blockquote {
						margin: 0;
						padding: var(--xl) 0 var(--xl) var(--md);
					}

					& > :where(div, blockquote) {
						grid-column: 1 /-1;
					}
				}
			}
		}
	</style>
</section>
