---
import { Image } from 'astro:assets';
import AssetBannerBackground from '../assets/bannerbackground.png';
import AssetHeroFamily from '../assets/herofamily.png';
import { getBasePath } from 'src/utils/routeSegments';

const basePath = getBasePath(Astro.url.pathname, 2);
---

<header
	id='hero'
	data-is='grid'
	data-layout='expand'
	style='--cols: 2; --gap: calc(var(--xl) * 2); place-content: center;'>
	<figure id='hero__background' data-is='background'>
		<Image
			src={AssetBannerBackground}
			alt='banner background'
			decoding='async'
			loading='eager'
		/>
	</figure>

	<figure
		id='hero__backgroundfamily'
		data-is='background'
		style='height: auto; inset: auto 0 0 0;'>
		<Image
			src={AssetHeroFamily}
			alt='hero family'
			decoding='async'
			loading='eager'
		/>
	</figure>

	<div id='hero__content' data-is='stack'>
		<div data-is='group' style='gap: var(--xs);'>
			<h1>Protect your family</h1>
			<h2><small>With pure and safe water</small></h2>
		</div>

		<a href={`${basePath}#products`} data-is='button'>
			<span>Discover Our Filtration Systems</span>
		</a>
	</div>

	<style lang='css' is:inline>
		@scope (#hero) {
			:scope {
				height: calc(700 * 0.0625rem);
				overflow: clip;
				position: relative;

				#hero__content {
					align-items: center;
					gap: var(--xl);
					text-align: center;

					:where(h1, h2, h3, h4, h5, h6) {
						color: var(--clr-background__raised);
					}

					@container app (width < 896px) {
						grid-column: 1/-1;
					}
				}
			}
		}
	</style>
</header>
