---
import { Image } from 'astro:assets';
import AssetProduct1 from '../assets/product-1.png';
import AssetProduct2 from '../assets/product-2.png';
---

<section id='products' data-is='grid' style='--cols: 1;'>
	<div data-is='wrap'>
		<h3>Explore Our Featured<br />Products Catalog</h3>
		<figure>
			<Image
				src={AssetProduct1}
				alt='product - H2 ZERO ULTIMATE'
				decoding='async'
				loading='eager'
			/>
		</figure>
		<figure>
			<Image
				src={AssetProduct2}
				alt='product - H2 ZERO ULTIMATEHALO Ultra PLUS RO with Alkalinity Booster'
				decoding='async'
				loading='eager'
			/>
		</figure>
	</div>

	<div data-is='wrap'>
		<b>Feature</b>
		<p>H2 ZERO ULTIMATE</p>
		<p>HALO Ultra PLUS RO with Alkalinity Booster</p>
	</div>

	<div data-is='wrap'>
		<b>Type</b>
		<p>Whole-house filtration and conditioning system</p>
		<p>
			Under-sink reverse osmosis (RO) drinking water system with alkalinity
			booster
		</p>
	</div>

	<div data-is='wrap'>
		<b>Primary Function</b>
		<p>
			Reduces chlorine and conditions water to prevent scale buildup throughout
			the home
		</p>
		<p>
			Provides purified drinking water by removing a wide range of contaminants
			and enhancing pH levels
		</p>
	</div>

	<div data-is='wrap'>
		<b>Filtration Technology</b>
		<p>
			High Activity Carbon (HAC) filter combined with HALO ION inline water
			conditioner
		</p>
		<p>
			Multi-stage filtration: sediment filter, carbon block pre-filter, RO
			membrane, and alkalinity pH booster
		</p>
	</div>

	<div data-is='wrap'>
		<b>Contaminant Reduction</b>
		<p>
			Reduces free chlorine; conditions water to prevent limescale and corrosion
		</p>
		<p>
			Targets PFAS, PFOS, arsenic, barium, cadmium, copper, fluoride, chromium
			(hexavalent), lead, radium 226/228, selenium, and more
		</p>
	</div>

	<details>
		<summary data-is='button'>
			<i data-is='icon'>keyboard_arrow_down</i>
		</summary>

		<div data-is='wrap'>
			<b>Water Waste</b>
			<p>Zero waste</p>
			<p>
				1:1 water purification ratio (produces 1 gallon of waste for every
				gallon of purified water)
			</p>
		</div>

		<div data-is='wrap'>
			<b>Electricity Requirement </b>
			<p>None</p>
			<p>None</p>
		</div>

		<div data-is='wrap'>
			<b>Maintenance</b>
			<p>Minimal; no backwash or electricity required</p>
			<p>
				Requires periodic filter replacements; smart faucet indicates when to
				change filters
			</p>
		</div>

		<div data-is='wrap'>
			<b>Installation Location</b>
			<p>Main water line (whole-house installation)</p>
			<p>Under the kitchen sink (point-of-use installation)</p>
		</div>

		<div data-is='wrap'>
			<b>Storage Tank</b>
			<p>Not applicable</p>
			<p>Includes a 4.5-gallon storage tank</p>
		</div>

		<div data-is='wrap'>
			<b>Special Features </b>
			<p>
				All-in-one tank design; uses magnetic fields to condition water;
				eco-friendly design
			</p>
			<p>
				Smart faucet with filter change indicator; leak detector; easy filter
				replacement without tools
			</p>
		</div>

		<div data-is='wrap'>
			<b>Warranty</b>
			<p>10-year warranty on carbon media and HALO ION conditioner</p>
			<p>2-year warranty covering defects in materials and workmanship</p>
		</div>

		<div data-is='wrap'>
			<b>Ideal For</b>
			<p>
				Homeowners seeking a comprehensive, low-maintenance solution for
				whole-house water filtration and conditioning
			</p>
			<p>
				Individuals seeking high-quality, purified drinking water with enhanced
				taste and pH levels at a specific point of use (e.g., kitchen sink)
			</p>
		</div>
	</details>

	<style lang='css' is:inline>
		@scope (#products) {
			:scope {
				overflow: clip;
				padding-block: calc(var(--xl) * 2);
				position: relative;

				[data-is='wrap'] {
					border-bottom: solid 2px var(--clr-border__base);
					gap: var(--xl);
					padding-block: var(--xl);

					&:first-child {
						padding-top: 0;
					}

					& > * {
						flex: 1 1 0;

						&:first-child {
							flex: 0 1 350px;
						}
					}
				}

				details {
					overflow: visible;
					position: relative;

					summary {
						aspect-ratio: 1/1;
						background-color: var(--clr-background__base);
						border: solid 2px var(--clr-border__base);
						color: var(--clr-text__base);
						height: calc(var(--nm) * 2);
						inset: 0;
						margin: auto auto calc(var(--nm) * -1) auto;
						padding-inline: revert-layer;
						position: absolute;
						width: auto;
						z-index: 3;

						&:hover {
							background-color: var(--clr-background__raised);
							color: var(--clr-text__base);
						}

						&:active {
							background-color: var(--clr-background__lowered);
							color: var(--clr-text__base);
						}
					}

					&[open] {
						summary {
							opacity: 0;
							pointer-events: none;
						}
					}
				}

				@container xwindow (width < 896px) {
					[data-is='wrap'] {
						gap: var(--md);

						& > *:first-child {
							flex: 1 1 100%;
						}

						&:is(:first-child) {
							row-gap: var(--xl);
						}

						&:not(:first-child) {
							border: solid 2px var(--clr-border__base);
							margin-top: -2px;
							padding-top: 0;

							& > *:first-child {
								background-color: var(--clr-background__lowered);
								height: calc(var(--xl) * 2);
								padding-inline: var(--md);
								place-content: center;
							}

							& > *:nth-child(2) {
								padding-left: var(--md);
							}

							& > *:nth-child(3) {
								padding-right: var(--md);
							}
						}
					}
				}
			}
		}
	</style>
</section>
