---
import { Image } from 'astro:assets';
import AssetBannerBackground from '../assets/bannerbackground.png';
import { getBasePath } from 'src/utils/routeSegments';

const basePath = getBasePath(Astro.url.pathname, 2);
---

<section
	id='quote'
	data-is='grid'
	data-layout='expand'
	style='--cols: 1; --gap: var(--xl); place-items: center;'>
	<figure data-is='background'>
		<Image
			src={AssetBannerBackground}
			alt='banner background'
			decoding='async'
			loading='eager'
		/>
	</figure>

	<div data-is='stack'>
		<p>Transform your tap into a source of wellness.</p>
		<h3>Pure Intentions Start at Home</h3>
		<p>
			With every sip, you're making a choice that's good for your health, your
			safety, and your peace of mind. Our advanced water filtration systems are
			like a guardian angel for your family's health. They don't just remove
			contaminants; they restore purity, enhance taste, and support your
			family's well-being from the inside out.
		</p>
	</div>

	<a
		href={`${basePath}#contact`}
		data-is='button'
		style='width: min(100%, calc(348 * 0.0625rem));'>
		<span>Get a Quote</span>
	</a>

	<style lang='css' is:inline>
		@scope (#quote) {
			:scope {
				overflow: clip;
				padding-block: calc(var(--xl) * 2);
				position: relative;

				& > div {
					gap: var(--md);
					place-content: center;
					place-items: center;
					text-align: center;
				}

				:where(h1, h2, h3, h4, h5, h6) {
					color: var(--clr-background__raised);
				}

				p {
					color: var(--clr-background__base);
				}

				a[data-is='button'] {
					background-color: var(--clr-background__base);
					color: var(--clr-text__base);
					font-weight: 600;

					&:hover {
						background-color: var(--clr-background__raised);
						color: var(--clr-text__base);
					}

					&:active {
						background-color: var(--clr-background__lowered);
						color: var(--clr-text__base);
					}
				}
			}
		}
	</style>
</section>
