---
import { Image } from 'astro:assets';
import AssetBannerInstallGuy from '../assets/bannerinstallguy.png';
---

<section id='reviews' data-is='stack' data-layout='expand-content'>
	<h3>Customer Success Stories</h3>
	<div
		id='reviews__slider'
		data-is='slider'
		data-variant='horizontal'
		data-snap
		style='gap: var(--xl); scrollbar-width: none;'>
		{
			[...Array(10).keys()].map(() => (
				<blockquote
					data-is='group'
					style='background-color: var(--clr-background__raised); gap: var(--md); margin: 0; padding: var(--xl); width: clamp(calc(512 * 0.0625rem), 10dvw + 1rem, calc(640 * 0.0625rem));'>
					<h5>
						Lorem ipsum dolor, sit amet consectetur adipisicing elit.
						Exercitationem autem cumque illum delectus fuga.
					</h5>
					<p>
						Lorem ipsum dolor sit amet consectetur adipisicing elit.
						Necessitatibus magnam illum aperiam, explicabo et provident? Libero
						soluta quaerat distinctio doloremque. Culpa odio veniam, itaque
						deleniti sed aut optio sunt excepturi.
					</p>
					<div data-is='row' style='align-items: center; gap: var(--md);'>
						<figure
							data-geometry='circle'
							style='background-color: var(--clr-background__base); height: calc(var(--lg) * 2);'>
							<Image
								src={AssetBannerInstallGuy}
								alt='banner installation guy'
								decoding='async'
								loading='eager'
							/>
						</figure>
						<div data-is='group' style='flex: 1 1;'>
							<b>Gerald Gerhold</b>
							<time datetime=''>Apr 01, 2025</time>
						</div>
						<div data-is='row'>
							<i data-is='icon' style='--fill: 1;'>
								star_rate
							</i>
							<i data-is='icon' style='--fill: 1;'>
								star_rate
							</i>
							<i data-is='icon' style='--fill: 1;'>
								star_rate
							</i>
							<i data-is='icon' style='--fill: 1;'>
								star_rate
							</i>
							<i data-is='icon'>star_rate</i>
						</div>
					</div>
				</blockquote>
			))
		}
	</div>

	<div
		id='reviews__slidercontrols'
		data-is='row'
		style='gap: var(--sm); justify-content: end;'>
		<button data-scroll-carousel>
			<i data-is='icon'>arrow_left_alt</i>
		</button>
		<button data-scroll-carousel>
			<i data-is='icon'>arrow_right_alt</i>
		</button>
	</div>

	<script type='module' is:inline>
		window.addEventListener('DOMContentLoaded', () => {
			const carousel = document.getElementById('reviews__slider');
			const controls = document.querySelectorAll('[data-scroll-carousel]');

			if (!carousel || controls.length === 0) return;

			controls[0].addEventListener('click', () => {
				const scrollAmount = carousel.clientWidth * 0.8;
				carousel.scrollBy({ left: -scrollAmount, behavior: 'smooth' });
			});

			controls[1].addEventListener('click', () => {
				const scrollAmount = carousel.clientWidth * 0.8;
				carousel.scrollBy({ left: scrollAmount, behavior: 'smooth' });
			});
		});
	</script>

	<style lang='css' is:inline>
		@scope (#reviews) {
			:scope {
				background-color: var(--clr-background__base);
				box-shadow: 0px 15px 15px 0px rgba(0, 0, 0, 0.05);
				overflow: clip;
				padding-block: calc(var(--xl) * 2) 0;
				position: relative;

				& > * {
					padding-bottom: var(--xl);
				}

				blockquote {
					transition-duration: var(--animDuration);
					transition-property: box-shadow;
					transition-timing-function: var(--animTiming);

					&:hover {
						box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.15);
					}
				}
			}
		}
	</style>
</section>
