@layer utils {
  .ps-static {
    position: static;
  }
  .ps-relative {
    position: relative;
  }
  .ps-absolute {
    position: absolute;
  }
  .ps-fixed {
    position: fixed;
  }
  .ps-sticky {
    position: sticky;
  }
  .top {
    top: 0;
  }
  .right {
    right: 0;
  }
  .bottom {
    bottom: 0;
  }
  .left {
    left: 0;
  }
}
