---
interface Props {
	Heading?: string;
}

const { Heading } = Astro.props;
---

<div class='card'>
	<header class='row between'>
		<label>{Heading}</label>
	</header>
	<div class='flex flex-col container g-2xl place-center place-center[items]'>
		<slot />
	</div>
</div>

<style lang='css' scoped>
	.card {
		--bg: var(--clr-background);
		--radius: 12pt;
		--spacing: 16pt;

		background-color: var(--bg);
		border-radius: var(--radius);
		display: grid;
		grid-template-rows: max-content minmax(0, 1fr);
		/* isolation: isolate; */
		outline: solid var(--clr-primary);
		overflow: hidden;

		& > header {
			align-items: center;
			border-bottom: solid var(--clr-primary) !important;
			padding: calc(var(--spacing) / 2) var(--spacing);
		}

		/* & > .container {
        --percent: var(--spacing);

        mask: linear-gradient(180deg,
                transparent,
                black var(--percent),
                black calc(100% - var(--percent)),
                transparent);
    } */
	}

	.container {
		min-height: fit-content;
		/* overflow-x: clip;
    overflow-y: auto; */
		padding: var(--spacing) calc(var(--spacing) / 2);
	}
</style>
