---
import Layout from 'src/lib/layout.docs.astro';
import './_lib/main.css';
import Card from './_lib/components/card.astro';
---

<Layout className='g-sm py-5xl'>
	<!--  -->
	<ly-grid cols='4' class='g-sm'>
		<Card Heading='Button with no icons'>
			<ly-group>
				<button>
					<span>button</span>
				</button>
			</ly-group>
		</Card>
		<Card Heading='Button with left icons'>
			<ly-group>
				<button>
					<ly-icon>add</ly-icon>
					<span>button</span>
				</button>
			</ly-group>
		</Card>
		<Card Heading='Button with right icons'>
			<ly-group>
				<button>
					<span>button</span>
					<ly-icon>add</ly-icon>
				</button>
			</ly-group>
		</Card>
		<Card Heading='Button with both icons'>
			<ly-group>
				<button>
					<ly-icon>add</ly-icon>
					<span>button</span>
					<ly-icon>add</ly-icon>
				</button>
			</ly-group>
		</Card>
	</ly-grid>
	<!--  -->
	<ly-grid cols='4' class='g-sm'>
		<Card Heading='Link'>
			<a> link </a>
		</Card>
		<Card Heading='Details > Summary'>
			<details>
				<summary>
					<span>summary</span>
				</summary>
				details content . . .
			</details>
		</Card>
		<Card Heading='Dropdown > Summary'>
			<ly-dropdown>
				<summary slot='summary'>
					<span>Dropdown Summary</span>
				</summary>
				dropdown content . . .
			</ly-dropdown>
		</Card>
		<!--  -->
	</ly-grid>
</Layout>
